.A_article_block_img.career {
  box-shadow: inset -8px -8px 40px 0 rgba(244, 88, 63, 0.6), inset 8px 8px 40px 0 rgba(244, 88, 63, 0.6);
}

.article_finance {
  box-shadow: inset 8px 8px 40px 0 rgba(255, 174, 0, 0.6), inset -8px -8px 40px 0 rgba(255, 174, 0, 0.6);
}

.article_life {
  box-shadow: inset 8px 8px 40px 0 var(--base-life-300), inset -8px -8px 40px 0 var(--base-life-300);
}

.article_career {
  box-shadow: inset 8px 8px 40px 0 var(--base-career-300), inset -8px -8px 40px 0 var(--base-career-300);
}

.article_health {
  box-shadow: inset 8px 8px 40px 0 var(--base-health-300), inset -8px -8px 40px 0 var(--base-health-300);
}

.article_home {
  box-shadow: inset 8px 8px 40px 0 var(--base-home-300), inset -8px -8px 40px 0 var(--base-home-300);
}

.article_docs {
  box-shadow: inset 8px 8px 40px 0 var(--base-docs-300), inset -8px -8px 40px 0 var(--base-docs-300);
}

/* .pochemu-rabotodateli-ne-lyubyat-novichkov {
  background-image: url(../../images/articles/pochemu-rabotodateli-ne-lyubyat-novichkov.png);
}

.kak-ustroena-adaptaciya-na-pervoj-rabote {
  background-image: url(../../images/articles/kak-ustroena-adaptaciya-na-pervoj-rabote.png);
} */

.ispytatelnyj-srok-ne-daj-sebya-obmanut {
  background-image: url(../../images/articles/ispytatelnyj-srok/ispytatelnyj_cover.png);
}
#ispytatelnyj-1 {
  background-image: url(../../images/articles/ispytatelnyj-srok/ispytatelnyj_1.png);
}
#ispytatelnyj-2 {
  background-image: url(../../images/articles/ispytatelnyj-srok/ispytatelnyj_2.png);
}
#ispytatelnyj-3 {
  background-image: url(../../images/articles/ispytatelnyj-srok/ispytatelnyj_3.png);
}

.pervaya-mashina-kak-ne-popast-na-dengi {
  background-image: url(../../images/articles/pervaya-mashina/pervaya-mashina-kak-ne-popast-na-dengi.png);
}
#pervaya-mashina-1 {
  background-image: url(../../images/articles/pervaya-mashina/pervaya-mashina_1.png);
}
#pervaya-mashina-2 {
  background-image: url(../../images/articles/pervaya-mashina/pervaya-mashina_2.png);
}
#pervaya-mashina-3 {
  background-image: url(../../images/articles/pervaya-mashina/pervaya-mashina_3.png);
}

.pochemu-novichki-za-rulem-chashche-popadayut-v-dtp {
  background-image: url(../../images/articles/novichki-za-rulem/novichki-za-rulem.png);
}
#novichki-za-rulem-1 {
  background-image: url(../../images/articles/novichki-za-rulem/novichki-za-rulem_1.png);
}
#novichki-za-rulem-2 {
  background-image: url(../../images/articles/novichki-za-rulem/novichki-za-rulem_2.png);
}

.strahovka-nalog-to-obyazatelnye-platezhi-avtovladelca {
  background-image: url(../../images/articles/platezhi-avtovladelca/platezhi-avtovladelca.png);
}
#platezhi-avtovladelca_1 {
  background-image: url(../../images/articles/platezhi-avtovladelca/platezhi-avtovladelca_1.png);
}
#platezhi-avtovladelca_2 {
  background-image: url(../../images/articles/platezhi-avtovladelca/platezhi-avtovladelca_2.png);
}

.pochemu-rabotodateli-ne-lyubyat-novichkov {
  background-image: url(../../images/articles/pochemu-rabotodateli/pochemu-rabotodateli-ne-lyubyat-novichkov.png);
}
#pochemu-rabotodateli_1 {
  background-image: url(../../images/articles/pochemu-rabotodateli/pochemu-rabotodateli_1.png);
}
#pochemu-rabotodateli_2 {
  background-image: url(../../images/articles/pochemu-rabotodateli/pochemu-rabotodateli_2.png);
}
/*
.pochemu-novichki-za-rulem-chashche-popadayut-v-dtp {
  background-image: url(../../images/articles/pochemu-novichki-za-rulem-chashche-popadayut-v-dtp.png);
}

.pervaya-mashina-kak-ne-popast-na-dengi {
  background-image: url(../../images/articles/pervaya-mashina-kak-ne-popast-na-dengi.png);
}

.strahovka-nalog-to-obyazatelnye-platezhi-avtovladelca {
  background-image: url(../../images/articles/strahovka-nalog-to-obyazatelnye-platezhi-avtovladelca.png);
}

.pochemu-byt-zhret-vremya-i-kak-ustroena-mentalnaya-nagruzka {
background-image: url(../../images/articles/pochemu-byt-zhret-vremya-i-kak-ustroena-mentalnaya-nagruzka.png);
}

.kommunalka-kak-nakruchivayut-pochemu-my-platim-za-soseda-i-chto-takoe-odn {
background-image: url(../../images/articles/kommunalka-kak-nakruchivayut-pochemu-my-platim-za-soseda-i-chto-takoe-odn.png);
}

.minimalnyj-nabor-dlya-zhizni {
background-image: url(../../images/articles/pminimalnyj-nabor-dlya-zhizni.png);
} */