.A_article_block_img.career {
  box-shadow: inset -8px -8px 40px 0 rgba(244, 88, 63, 0.6), inset 8px 8px 40px 0 rgba(244, 88, 63, 0.6);
}
.A_article_block_img.life {
  box-shadow: inset -8px -8px 40px 0 rgba(9, 160, 238, 0.6), inset 8px 8px 40px 0 rgba(9, 160, 238, 0.6);
}
.A_article_block_img.health {
  box-shadow: inset -8px -8px 40px 0 rgba(100, 176, 50, 0.6), inset 8px 8px 40px 0 rgba(100, 176, 50, 0.6);
}
.A_article_block_img.home {
  box-shadow: inset -8px -8px 40px 0 rgba(233, 75, 152, 0.6), inset 8px 8px 40px 0 rgba(233, 75, 152, 0.6);
}
.A_article_block_img.finance {
  box-shadow: inset -8px -8px 40px 0 #ffe146, inset 8px 8px 40px 0 rgba(255, 225, 70, 0.6);
}
.A_article_block_img.docs {
  box-shadow: inset -8px -8px 40px 0 rgba(72, 75, 231, 0.6), inset 8px 8px 40px 0 rgba(72, 75, 231, 0.6);
}

.article_finance {
  box-shadow: inset 8px 8px 40px 0 rgba(255, 174, 0, 0.6), inset -8px -8px 40px 0 rgba(255, 174, 0, 0.6);
}

.article_life {
  box-shadow: inset 8px 8px 40px 0 var(--base-life-300), inset -8px -8px 40px 0 var(--base-life-300);
}

.article_career {
  box-shadow: inset 8px 8px 40px 0 var(--base-career-300), inset -8px -8px 40px 0 var(--base-career-300);
}

.article_health {
  box-shadow: inset 8px 8px 40px 0 var(--base-health-300), inset -8px -8px 40px 0 var(--base-health-300);
}

.article_home {
  box-shadow: inset 8px 8px 40px 0 var(--base-home-300), inset -8px -8px 40px 0 var(--base-home-300);
}

.article_docs {
  box-shadow: inset 8px 8px 40px 0 var(--base-docs-300), inset -8px -8px 40px 0 var(--base-docs-300);
}

.ispytatelnyj-srok-ne-daj-sebya-obmanut {
  background-image: url(../../images/articles/ispytatelnyj-srok/ispytatelnyj_cover.png);
}
#ispytatelnyj-1 {
  background-image: url(../../images/articles/ispytatelnyj-srok/ispytatelnyj_1.png);
}
#ispytatelnyj-2 {
  background-image: url(../../images/articles/ispytatelnyj-srok/ispytatelnyj_2.png);
}
#ispytatelnyj-3 {
  background-image: url(../../images/articles/ispytatelnyj-srok/ispytatelnyj_3.png);
}
#ispytatelnyj-4 {
  background-image: url(../../images/articles/ispytatelnyj-srok/ispytatelnyj_4.png);
}
#ispytatelnyj-0 {
  background-image: url(../../images/articles/ispytatelnyj-srok/ispytatelnyj_0.png);
}

.kommunalka-kak-nakruchivayut-pochemu-my-platim-za-soseda-i-chto-takoe-odn {
  background-image: url(../../images/articles/kommunalka/kommunalka-kak-nakruchivayut-pochemu-my-platim-za-soseda-i-chto-takoe-odn.png);
}
#kommunalka-1 {
  background-image: url(../../images/articles/kommunalka/kommunalka_1.png);
}
#kommunalka-2 {
  background-image: url(../../images/articles/kommunalka/kommunalka_2.png);
}

.chto-takoe-vyhodnoe-posobie-i-kto-ego-poluchaet {
  background-image: url(../../images/articles/vyhodnoe-posobie/chto-takoe-vyhodnoe-posobie-i-kto-ego-poluchaet.png);
}
#vyhodnoe-posobie {
  background-image: url(../../images/articles/vyhodnoe-posobie/vyhodnoe-posobie.png);
}

.pochemu-nas-uvolnyayut-yuridicheskie-i-psihologicheskie-prichiny {
  background-image: url(../../images/articles/pochemu-nas-uvolnyayut/pochemu-nas-uvolnyayut-yuridicheskie-i-psihologicheskie-prichiny.png);
}
#pochemu-nas-uvolnyayut-1 {
  background-image: url(../../images/articles/pochemu-nas-uvolnyayut/pochemu-nas-uvolnyayut_1.png);
}
#pochemu-nas-uvolnyayut-2 {
  background-image: url(../../images/articles/pochemu-nas-uvolnyayut/pochemu-nas-uvolnyayut_2.png);
}

.chto-proiskhodit-s-vashimi-dannymi-esli-telefon-ukrali {
  background-image: url(../../images/articles/telefon-ukrali/chto-proiskhodit-s-vashimi-dannymi-esli-telefon-ukrali.png);
}
#telefon-ukrali-1 {
  background-image: url(../../images/articles/telefon-ukrali/telefon-ukrali_1.png);
}
#telefon-ukrali-2 {
  background-image: url(../../images/articles/telefon-ukrali/telefon-ukrali_2.png);
}

.kak-ustroen-chernyj-rynok-dokumentov {
  background-image: url(../../images/articles/chernyj-rynok-dokumentov/kak-ustroen-chernyj-rynok-dokumentov.png);
}
#chernyj-rynok-dokumentov-1 {
  background-image: url(../../images/articles/chernyj-rynok-dokumentov/chernyj-rynok-dokumentov_1.png);
}
#chernyj-rynok-dokumentov-2 {
  background-image: url(../../images/articles/chernyj-rynok-dokumentov/chernyj-rynok-dokumentov_2.png);
}

.prosrochennaya-viza-i-poteryannyj-zagranpasport {
  background-image: url(../../images/articles/prosrochennaya-viza-i-poteryannyj-zagranpasport/prosrochennaya-viza-i-poteryannyj-zagranpasport.png);
}
#prosroch-1 {
  background-image: url(../../images/articles/prosrochennaya-viza-i-poteryannyj-zagranpasport/docs_1.png);
}
#prosroch-2 {
  background-image: url(../../images/articles/prosrochennaya-viza-i-poteryannyj-zagranpasport/docs_2.png);
}

.kvartira-v-novom-gorode {
  background-image: url(../../images/articles/kvartira-v-novom-gorode/kvartira-v-novom-gorode.png);
}
#kvartira-v-novom-gorode-1 {
  background-image: url(../../images/articles/kvartira-v-novom-gorode/kvartira-v-novom-gorode_1.png);
}

.pervyj-mesyac-v-novom-gorode {
  background-image: url(../../images/articles/pervyj-mesyac-v-novom-gorode/pervyj-mesyac-v-novom-gorode.png);
}
#pervyj-mesyac-v-novom-gorode_1 {
  background-image: url(../../images/articles/pervyj-mesyac-v-novom-gorode/pervyj-mesyac-v-novom-gorode_1.png);
}

.propiska-voenkomat-polis {
  background-image: url(../../images/articles/propiska-voenkomat-polis/propiska-voenkomat-polis.png);
}
#propiska-voenkomat-polis_1 {
  background-image: url(../../images/articles/propiska-voenkomat-polis/propiska-voenkomat-polis_1.png);
}

.pervaya-mashina-kak-ne-popast-na-dengi {
  background-image: url(../../images/articles/pervaya-mashina/pervaya-mashina-kak-ne-popast-na-dengi.png);
}
#pervaya-mashina-1 {
  background-image: url(../../images/articles/pervaya-mashina/pervaya-mashina_1.png);
}
#pervaya-mashina-2 {
  background-image: url(../../images/articles/pervaya-mashina/pervaya-mashina_2.png);
}
#pervaya-mashina-3 {
  background-image: url(../../images/articles/pervaya-mashina/pervaya-mashina_3.png);
}

.pochemu-prokrastinaciya-pobezhdaet-v-sessiyu {
  background-image: url(../../images/articles/prokrastinaciya/pochemu-prokrastinaciya-pobezhdaet-v-sessiyu.png);
}
#prokrastinaciya-1 {
  background-image: url(../../images/articles/prokrastinaciya/prokrastinaciya_1.png);
}
#prokrastinaciya-2 {
  background-image: url(../../images/articles/prokrastinaciya/prokrastinaciya_2.png);
}
#prokrastinaciya-3 {
  background-image: url(../../images/articles/prokrastinaciya/prokrastinaciya_3.png);
}

.kak-ustroena-adaptaciya-na-pervoj-rabote {
  background-image: url(../../images/articles/adaptaciya/kak-ustroena-adaptaciya-na-pervoj-rabote.png);
}
#adaptaciya_1 {
  background-image: url(../../images/articles/adaptaciya/adaptaciya_1.png);
}
#adaptaciya_2 {
  background-image: url(../../images/articles/adaptaciya/adaptaciya_2.png);
}
#adaptaciya_3 {
  background-image: url(../../images/articles/adaptaciya/adaptaciya_3.png);
}

.sokrashchenie-likvidaciya-po-sobstvennomu {
  background-image: url(../../images/articles/sokrashchenie/sokrashchenie-likvidaciya-po-sobstvennomu.png);
}
#sokrashchenie_1 {
  background-image: url(../../images/articles/sokrashchenie/sokrashchenie_1.png);
}
#sokrashchenie_2 {
  background-image: url(../../images/articles/sokrashchenie/sokrashchenie_2.png);
}
#sokrashchenie_3 {
  background-image: url(../../images/articles/sokrashchenie/sokrashchenie_3.png);
}

.minimalnyj-nabor-dlya-zhizni {
  background-image: url(../../images/articles/minimalnyj-nabor-dlya-zhizni/minimalnyj-nabor-dlya-zhizni.png);
}
#minimalnyj-nabor-dlya-zhizni_1 {
  background-image: url(../../images/articles/minimalnyj-nabor-dlya-zhizni/minimalnyj-nabor-dlya-zhizni_1.png);
}
#minimalnyj-nabor-dlya-zhizni_2 {
  background-image: url(../../images/articles/minimalnyj-nabor-dlya-zhizni/minimalnyj-nabor-dlya-zhizni_2.png);
}
#minimalnyj-nabor-dlya-zhizni_3 {
  background-image: url(../../images/articles/minimalnyj-nabor-dlya-zhizni/minimalnyj-nabor-dlya-zhizni_3.png);
}

.nestabilnost-na-frilanse {
  background-image: url(../../images/articles/nestabilnost-na-frilanse/nestabilnost-na-frilanse.png);
}
#nestabilnost-na-frilanse_1 {
  background-image: url(../../images/articles/nestabilnost-na-frilanse/nestabilnost-na-frilanse_1.png);
}
#nestabilnost-na-frilanse_2 {
  background-image: url(../../images/articles/nestabilnost-na-frilanse/nestabilnost-na-frilanse_2.png);
}
#nestabilnost-na-frilanse_3 {
  background-image: url(../../images/articles/nestabilnost-na-frilanse/nestabilnost-na-frilanse_3.png);
}

.pochemu-novichki-za-rulem-chashche-popadayut-v-dtp {
  background-image: url(../../images/articles/novichki-za-rulem/novichki-za-rulem.png);
}
#novichki-za-rulem-1 {
  background-image: url(../../images/articles/novichki-za-rulem/novichki-za-rulem_1.png);
}
#novichki-za-rulem-2 {
  background-image: url(../../images/articles/novichki-za-rulem/novichki-za-rulem_2.png);
}

.pochemu-byt-zhret-vremya-i-kak-ustroena-mentalnaya-nagruzka {
  background-image: url(../../images/articles/mentalnaya-nagruzka/pochemu-byt-zhret-vremya-i-kak-ustroena-mentalnaya-nagruzka.png);
}
#mentalnaya-nagruzka-1 {
  background-image: url(../../images/articles/mentalnaya-nagruzka/mentalnaya-nagruzka_1.png);
}
#mentalnaya-nagruzka-2 {
  background-image: url(../../images/articles/mentalnaya-nagruzka/mentalnaya-nagruzka_2.png);
}

.strahovka-nalog-to-obyazatelnye-platezhi-avtovladelca {
  background-image: url(../../images/articles/platezhi-avtovladelca/platezhi-avtovladelca.png);
}
#platezhi-avtovladelca_1 {
  background-image: url(../../images/articles/platezhi-avtovladelca/platezhi-avtovladelca_1.png);
}
#platezhi-avtovladelca_2 {
  background-image: url(../../images/articles/platezhi-avtovladelca/platezhi-avtovladelca_2.png);
}

.pochemu-rabotodateli-ne-lyubyat-novichkov {
  background-image: url(../../images/articles/pochemu-rabotodateli/pochemu-rabotodateli-ne-lyubyat-novichkov.png);
}
#pochemu-rabotodateli_1 {
  background-image: url(../../images/articles/pochemu-rabotodateli/pochemu-rabotodateli_1.png);
}
#pochemu-rabotodateli_2 {
  background-image: url(../../images/articles/pochemu-rabotodateli/pochemu-rabotodateli_2.png);
}

.pochemu-sobstvenniki-ne-vozvrashchayut-depozit-5-samyh-chastyh-skhem {
  background-image: url(../../images/articles/sobstvenniki-depozit/pochemu-sobstvenniki-ne-vozvrashchayut-depozit-5-samyh-chastyh-skhem.png);
}
#sobstvenniki-depozit-1 {
  background-image: url(../../images/articles/sobstvenniki-depozit/sobstvenniki-depozit_1.png);
}
#sobstvenniki-depozit-2 {
  background-image: url(../../images/articles/sobstvenniki-depozit/sobstvenniki-depozit_2.png);
}

.kvest-po-vosstanovleniyu-pasporta {
  background-image: url(../../images/articles/kvest-pasport/kvest-po-vosstanovleniyu-pasporta.png);
}
#kvest-pasport-1 {
  background-image: url(../../images/articles/kvest-pasport/kvest-pasport_1.png);
}
#kvest-pasport-2 {
  background-image: url(../../images/articles/kvest-pasport/kvest-pasport_2.png);
}

.kak-ne-poteryat-dengi-na-kartah-i-obmennikah-v-drugoj-strane {
  background-image: url(../../images/articles/kak-ne-poteryat-dengi-na-kartah-i-obmennikah-v-drugoj-strane/kak-ne-poteryat-dengi-na-kartah-i-obmennikah-v-drugoj-strane.png);
}
#dengi-1 {
  background-image: url(../../images/articles/kak-ne-poteryat-dengi-na-kartah-i-obmennikah-v-drugoj-strane/dengi_1.png);
}
#dengi-2 {
  background-image: url(../../images/articles/kak-ne-poteryat-dengi-na-kartah-i-obmennikah-v-drugoj-strane/dengi_2.png);
}

.kak-splanirovat-pervuyu-poezdku-za-granicu {
  background-image: url(../../images/articles/kak-splanirovat-pervuyu-poezdku-za-granicu/kak-splanirovat-pervuyu-poezdku-za-granicu.png);
}
#splanirovat-poezdku_1 {
  background-image: url(../../images/articles/kak-splanirovat-pervuyu-poezdku-za-granicu/splanirovat-poezdku_1.png);
}
#splanirovat-poezdku_2 {
  background-image: url(../../images/articles/kak-splanirovat-pervuyu-poezdku-za-granicu/splanirovat-poezdku_2.png);
}

.kak-podgotovitsya-k-zashchite-diploma-i-ne-posedet-za-mesyac-do {
  background-image: url(../../images/articles/zashchit-diploma/kak-podgotovitsya-k-zashchite-diploma-i-ne-posedet-za-mesyac-do.png);
}
#zashchit-diploma-1 {
  background-image: url(../../images/articles/zashchit-diploma/zashchit-diploma_1.png);
}
#zashchit-diploma-2 {
  background-image: url(../../images/articles/zashchit-diploma/zashchit-diploma_2.png);
}

.rabota-i-uchyoba-odnovremenno {
  background-image: url(../../images/articles/rabota-i-uchyoba-odnovremenno/rabota-i-uchyoba-odnovremenno.png);
}
#rabota-i-uchyoba-odnovremenno-1 {
  background-image: url(../../images/articles/rabota-i-uchyoba-odnovremenno/rabota-i-uchyoba-odnovremenno_1.png);
}
#rabota-i-uchyoba-odnovremenno-2 {
  background-image: url(../../images/articles/rabota-i-uchyoba-odnovremenno/rabota-i-uchyoba-odnovremenno_2.png);
}

.kto-dolzhen-platit-za-remont-esli-slomalas-tekhnika {
  background-image: url(../../images/articles/kto-dolzhen-platit-za-remont-esli-slomalas-tekhnika/kto-dolzhen-platit-za-remont-esli-slomalas-tekhnika.png);
}
#kto-dolzhen-platit-za-remont-esli-slomalas-tekhnika_1 {
  background-image: url(../../images/articles/kto-dolzhen-platit-za-remont-esli-slomalas-tekhnika/kto-dolzhen-platit-za-remont_1.png);
}
#kto-dolzhen-platit-za-remont-esli-slomalas-tekhnika_2 {
  background-image: url(../../images/articles/kto-dolzhen-platit-za-remont-esli-slomalas-tekhnika/kto-dolzhen-platit-za-remont_2.png);
}

.chto-takoe-dogovor-najma {
  background-image: url(../../images/articles/chto-takoe-dogovor-najma/chto-takoe-dogovor-najma.png);
}
#chto-takoe-dogovor-najma_1 {
  background-image: url(../../images/articles/chto-takoe-dogovor-najma/chto-takoe-dogovor-najma_1.png);
}

.nalogi-dlya-samozanyatyh {
  background-image: url(../../images/articles/nalogi-dlya-samozanyatyh/nalogi-dlya-samozanyatyh.png);
}
#nalogi-dlya-samozanyatyh_1 {
  background-image: url(../../images/articles/nalogi-dlya-samozanyatyh/nalogi-dlya-samozanyatyh_1.png);
}

.frilans-vs-ofis {
  background-image: url(../../images/articles/frilans-vs-ofis/frilans-vs-ofis.png);
}
#frilans-vs-ofis_1 {
  background-image: url(../../images/articles/frilans-vs-ofis/frilans-vs-ofis_1.png);
}
#frilans-vs-ofis_2 {
  background-image: url(../../images/articles/frilans-vs-ofis/frilans-vs-ofis_2.png);
}

.kak-ustroeno-starenie {
  background-image: url(../../images/articles/kak-ustroeno-starenie/kak-ustroeno-starenie.png);
}
#kak-ustroeno-starenie_1 {
  background-image: url(../../images/articles/kak-ustroeno-starenie/kak-ustroeno-starenie_1.png);
}
#kak-ustroeno-starenie_2 {
  background-image: url(../../images/articles/kak-ustroeno-starenie/kak-ustroeno-starenie_2.png);
}

.posobiya-po-uhodu {
  background-image: url(../../images/articles/posobiya-po-uhodu.png);
}