.O_main {
  gap: 96rem;
  margin-top: 96rem;
}

.title_h1 {
  color: var(--base-500);
  max-width: 1440rem;
}

.title_h4 {
  color: var(--base-500);
}

.article_card_img {
  border-radius: 20rem;
  width: 100%;
  height: 260rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article_finance {
  box-shadow: inset 8px 8px 40px 0 rgba(255, 174, 0, 0.6), inset -8px -8px 40px 0 rgba(255, 174, 0, 0.6);
  background-image: url(../../images/articles/finance_1.png);
  background-position: center 25%;
}

.article_lifestyle {
  box-shadow: inset 8px 8px 40px 0 var(--base-lifestyle-300), inset -8px -8px 40px 0 var(--base-lifestyle-300);
  /* background-image: url(../../images/articles/lifestyle_1.png); */
}

.article_career {
  box-shadow: inset 8px 8px 40px 0 var(--base-career-300), inset -8px -8px 40px 0 var(--base-career-300);
  background-image: url(../../images/articles/career_1.png);
}

.article_health {
  box-shadow: inset 8px 8px 40px 0 var(--base-health-300), inset -8px -8px 40px 0 var(--base-health-300);
  /* background-image: url(../../images/articles/health_1.png); */
}

.article_chores {
  box-shadow: inset 8px 8px 40px 0 var(--base-chores-300), inset -8px -8px 40px 0 var(--base-chores-300);
  background-image: url(../../images/articles/chores_1.png);
}

.article_documents {
  box-shadow: inset 8px 8px 40px 0 var(--base-documents-300), inset -8px -8px 40px 0 var(--base-documents-300);
  background-image: url(../../images/articles/docs_1.png);
}

.article_documents_2 {
  box-shadow: inset 8px 8px 40px 0 var(--base-documents-300), inset -8px -8px 40px 0 var(--base-documents-300);
  background-image: url(../../images/articles/docs_2.png);
}

.article_documents_3 {
  box-shadow: inset 8px 8px 40px 0 var(--base-documents-300), inset -8px -8px 40px 0 var(--base-documents-300);
  background-image: url(../../images/articles/docs_3.png);
}

.article_documents_4 {
  box-shadow: inset 8px 8px 40px 0 var(--base-documents-300), inset -8px -8px 40px 0 var(--base-documents-300);
  background-image: url(../../images/articles/docs_4.png);
}

.article_chores_2 {
  box-shadow: inset 8px 8px 40px 0 var(--base-chores-300), inset -8px -8px 40px 0 var(--base-chores-300);
  background-image: url(../../images/articles/chores_2.png);
}

.article_chores_3 {
  box-shadow: inset 8px 8px 40px 0 var(--base-chores-300), inset -8px -8px 40px 0 var(--base-chores-300);
  background-image: url(../../images/articles/chores_3.png);
}