.A_button {
  border-radius: 16rem;
  padding: 12rem 20rem 10rem;
  font-weight: 400;
  font-size: 20rem;
  transition: all 0.3s ease;
}

.A_button:hover {
  cursor: pointer;
}

.A_button_accent {
  color: var(--wb-0);
  background-color: var(--base-500);
}

.A_button_accent:hover {
  box-shadow: 0 0 12rem 0 rgba(143, 88, 250, 0.6);
}

.A_button_accent:active {
  background-color: var(--base-600);
}

.A_button_dark {
  background-color: var(--wb-1000);
  color: var(--wb-0);
}

.A_button_dark:hover {
  background-color: var(--wb-950);
}

.A_button_dark:active {
  background-color: var(--wb-1000);
}

.A_button_light {
  background-color: var(--wb-50);
  color: var(--wb-1000);
}

.A_button_light:hover {
  background-color: var(--wb-100);
}

.A_button_light:active {
  background-color: var(--wb-200);
}

.A_close_button {
  width: 44rem;
  height: 44rem;
  border-radius: 8rem;
  background-color: var(--wb-50);
  background-image: url(../../images/icons/close_m.svg);
  background-size: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.A_close_button:hover, .A_close_button:active {
  cursor: pointer;
  background-color: var(--wb-900);
  background-image: url(../../images/icons/close_m_white.svg);
}

.A_menu_button {
  background-color: var(--wb-50);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8rem;
  border-radius: 16rem;
  padding: 13rem 24rem 12rem;
  width: 116rem;
}

.A_menu_button:hover {
  cursor: pointer;
}

.A_menu_item_header {
  color: var(--wb-900);
}

.A_menu_item_header:hover {
  color: var(--wb-850);
  cursor: pointer;
}

.A_menu_item_footer {
  color: var(--wb-0);
}

.A_menu_item_footer:hover {
  color: var(--wb-50);
  cursor: pointer;
}

.A_question_answer {
  border-radius: 16rem;
  padding: 16rem;
  width: 380rem;
  height: 72rem;
  background-color: var(--wb-50);
  color: var(--wb-900);
}

.A_question_answer:hover {
  cursor: pointer;
  box-shadow: 0 0 12px 0 rgba(143, 88, 250, 0.6);
  background-color: var(--base-500);
  color: var(--wb-0);
}

.A_question_answer:active {
  color: var(--wb-0);
  background-color: var(--base-600);
}

.A_question_step {
  color: var(--wb-700);
}

.A_question_title {
  color: var(--wb900);
}

.A_badge {
  border-radius: 20rem;
  padding: 6rem 8rem 4rem;
  width: 39rem;
  font-weight: 400;
  font-size: 16rem;
}

.A_badge_finance {
  background-color: var(--base-finance-100);
  color: var(--base-finance-500);
}

.A_badge_documents {
  background-color: var(--base-documents-100);
  color: var(--base-documents-500);
}

.A_badge_chores {
  background-color: var(--base-chores-100);
  color: var(--base-chores-500);
}

.A_badge_health {
  background-color: var(--base-health-100);
  color: var(--base-health-500);
}

.A_badge_lifestyle {
  background-color: var(--base-lifestyle-100);
  color: var(--base-lifestyle-500);
}

.A_badge_career {
  background-color: var(--base-career-100);
  color: var(--base-career-500);
}

.A_menu_item {
  color: var(--wb-0);
}

.A_menu_item:hover {
  cursor: pointer;
  color: var(--wb-50);
}

.A_input {
  border-radius: 16rem;
  padding: 20rem 16rem 20rem 40rem;
  background-color: var(--wb-50);
  color: var(--wb-900);
  font-size: 16rem;
  width: 430rem;
  height: 44rem;
}

.A_input::placeholder {
  color: rgba(35, 35, 35, 0.3);
}

.A_input:focus {
  outline: none;
}

.A_input_search {
  background-image: url(../../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 16rem center;
}

.A_tab_categorie {
  border-radius: 16rem;
  padding: 16rem 20rem;
}

.A_tab_categorie:hover {
  cursor: pointer;
}

.A_tab_health {
  background-color: var(--base-health-100);
  color: var(--base-health-500);
}

.A_tab_health:hover, .A_tab_health:active {
  background-color: var(--base-health-200);
}

.A_tab_finance {
  background-color: var(--base-finance-100);
  color: var(--base-finance-500);
}

.A_tab_finance:hover, .A_tab_finance:active {
  background-color: var(--base-finance-200);
}

.A_tab_chores {
  background-color: var(--base-chores-100);
  color: var(--base-chores-500);
}

.A_tab_chores:hover, .A_tab_chores:active {
  background-color: var(--base-chores-200);
}

.A_tab_documents {
  background-color: var(--base-documents-100);
  color: var(--base-documents-500);
}

.A_tab_documents:hover, .A_tab_documents:active {
  background-color: var(--base-documents-200);
}

.A_tab_lifestyle {
  background-color: var(--base-lifestyle-100);
  color: var(--base-lifestyle-500);
}

.A_tab_lifestyle:hover, .A_tab_lifestyle:active {
  background-color: var(--base-lifestyle-200);
}

.A_tab_career {
  background-color: var(--base-career-100);
  color: var(--base-career-500);
}

.A_tab_career:hover, .A_tab_career:active {
  background-color: var(--base-career-200);
}

.A_tag {
  border-radius: 24rem;
  padding: 6rem 8rem 4rem;
}

.A_tag_health {
  background-color: var(--base-health-100);
  color: var(--base-health-500);
}

.A_tag_finance {
  background-color: var(--base-finance-100);
  color: var(--base-finance-500);
}

.A_tag_chores {
  background-color: var(--base-chores-100);
  color: var(--base-chores-500);
}

.A_tag_documents {
  background-color: var(--base-documents-100);
  color: var(--base-documents-500);
}

.A_tag_lifestyle {
  background-color: var(--base-lifestyle-100);
  color: var(--base-lifestyle-500);
}

.A_tag_career {
  background-color: var(--base-career-100);
  color: var(--base-career-500);
}