.A_button {
  border-radius: 32rem;
  padding: 12rem 20rem 10rem;
  background-color: var(--base-500);
  font-weight: 400;
  font-size: 16rem;
  color: var(--wb-0);
  transition: all 0.3s ease;
}

.A_button:hover {
  cursor: pointer;
  box-shadow: 0 0 12rem 0 rgba(143, 88, 250, 0.6);
}

.A_button:active {
  background-color: var(--base-600);
}

.A_close_button {
  width: 44rem;
  height: 44rem;
  border-radius: 8rem;
  background-color: var(--wb-50);
  background-image: url(../../images/close_icon_black.svg);
  background-size: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.A_close_button:hover, .A_close_button:active {
  cursor: pointer;
  background-color: var(--wb-900);
  background-image: url(../../images/close_icon_white.svg);
}

/* d */
.a_question_answer {
  border-radius: 16rem;
  padding: 16rem;
  width: 350rem;
  height: 72rem;
  background-color: var(--wb-50);
  color: var(--wb-900);
}

.a_question_answer:hover {
  cursor: pointer;
  box-shadow: 0 0 12px 0 rgba(143, 88, 250, 0.6);
  background-color: var(--base-500);
  color: var(--wb-0);
}

.a_question_answer:active {
  color: var(--wb-0);
  background-color: var(--base-600);
}

@media (min-width: 540px) {
  .A_button {
    font-size: 20rem;
  }
}


/* ################################################################## */
/* old styles */

.a_btn_primary {
  box-shadow: inset -4rem -4rem 12rem 0 rgba(234, 221, 251, 0.6), inset 4rem 4rem 12rem 0 rgba(234, 221, 251, 0.6);
  border-radius: 40rem;
  padding: 20rem 40rem;
  height: 66rem;
  transition: all .3s;
  background-color: var(--base-500);
  color: var(--base-100);
}

.a_btn_primary:hover {
  background-color: var(--base-400);
  cursor: pointer;
}

.a_test_answer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20rem;
  padding: 20rem;
  width: 377rem;
  height: 100rem;
  background-color: #f5f3ff;
  color: #8F58FA;
  transition: all 0.3s;
}

.a_test_answer:hover {
  background-color: #eee8ff;
  cursor: pointer;
}

.a_test_answer_active {
  background-color: #8F58FA;
  color: #F5F3FF;
}

.a_test_answer_active:hover {
  background-color: #834CED;
}

.a_question_num {
  font-weight: 400;
  font-size: 16rem;
  line-height: 100%;
  color: #a988fd;
}

.a_test_question {
  font-weight: 500;
  font-size: 32rem;
  line-height: 100%;
  color: #8f58fa;
  max-width: 776rem;
}

.a_primary_btn_v2 {
  border-radius: 40rem;
  padding: 20rem 28rem;
  height: 66rem;
  background-color: var(--base-100);
  color: var(--base-600);
  font-weight: 400;
  font-size: 20rem;
  transition: all .3s;
}

.a_primary_btn_v2:hover {
  background-color: var(--base-200);
  cursor: pointer;
}

.a_primary_btn_v2_disabled{
  color: var(--base-300);
  border-radius: 40rem;
  padding: 20rem 40rem;
  height: 66rem;
  font-weight: 400;
  font-size: 20rem;
  transition: all .3s;
  cursor: not-allowed;
}

.a_menu_item {
  font-weight: 400;
  font-size: 24rem;
  line-height: 133%;
  color: var(--base-100);
  transition: all .3s;
}

.a_menu_item:hover {
  color: var(--base-200);
}

.a_tag {
  padding: 8rem 12rem;
  width: fit-content;
  border-radius: var(--radius-4xl);
  background-color: var(--base-100);
  color: var(--base-500);
  box-shadow: inset -2px -2px 8px 0 var(--base-300), inset 2px 2px 8px 0 var(--base-300);
}

.a_tag:hover {
  cursor: pointer;
}

.a_input {
  border-radius: var(--radius-3xl);
  padding: 20rem 16rem 20rem 20rem;
  background-color: var(--base-0);
  color: var(--base-950);
}

.a_input::placeholder {
  color: rgba(29, 4, 45, 0.5);
}

.a_input:focus {
  outline: none;
}

.a_search_input {
  border-radius: var(--radius-3xl);
  padding: 20rem 16rem 20rem 48rem;
  width: 334rem;
  height: 56rem;
  background-color: var(--base-0);
  font-size: 18rem;
  background-image: url(../../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 20rem center;
  color: var(--base-950);
}

.a_search_input::placeholder {
  color: rgba(29, 4, 45, 0.5);
}

.a_search_input:focus {
  outline: none;
}

.a_social-icon {
  width: 48rem;
  height: 48rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
  background: rgba(234, 221, 251, 0.3);
  box-shadow: inset 4px 4px 8px 0 var(--base-100), inset -4px -4px 8px 0 var(--base-100);
  transition: all ease .3s;
}

.a_social-icon:hover {
  background: rgba(234, 221, 251, 0.5);
}

.a_search-mob-icon {
  border-radius: var(--radius-4xl);
  background-color: var(--base-100);
  width: 60rem;
  height: 60rem;
  display: none;
  justify-content: center;
  align-items: center;
}