/* d */
.M_answer_options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8rem;
  max-width: 776rem;
}

.M_question_header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
}

.M_tab_group {
  display: flex;
  gap: 8rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.M_map {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.M_guide_card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
  border-radius: 24rem;
  padding: 16rem;
  width: 416rem;
  height: 396rem;
  background-color: var(--wb-50);
}

.M_category_score {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

/* older styles */
/* ###################################### */

.m_nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32rem;
}

.m_footer-content {
  display: flex;
  width: 1298rem;
  justify-content: space-between;
  align-items: center;
}

.m_header-content {
  display: flex;
  width: 1286rem;
  justify-content: space-between;
  align-items: center;
}

.m_desktop-nav {
  display: flex;
  gap: 20rem;
}

.m_result_chart_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 467rem;
  height: 447rem;
  background-image: url(../../images/test_chart_background.svg);
  background-size: contain;
  background-repeat: no-repeat;
}