.M_answer_options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8rem;
  max-width: 776rem;
}

.M_question_header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
}

.M_tab_group {
  display: flex;
  gap: 8rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.M_map {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.M_category_score {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.M_navigation_menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20rem;
}

.M_nav_items {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8rem;
  border-radius: 16rem;
  padding: 16rem 0rem;
  width: 116rem;
  background-color: var(--wb-50);
}

.M_nav_items.active {
  display: flex;
  margin-bottom: -124rem;
  z-index: 1000;
}

.M_dropdown_menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 4rem;
}

.M_category_scores {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
}

.M_filter_tags {
  display: flex;
  gap: 16rem;
}

.M_mobile_menu_items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8rem;
}

.M_subscription {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32rem;
}

.M_subscriptionblock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20rem;
}

.M_subscription_form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8rem;
}

.M_footer_menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8rem;
}

.M_social_media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8rem;
}

/* GUIDES */

.M_guide_card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
  border-radius: 24rem;
  padding: 16rem;
  width: 416rem;
  height: 396rem;
  background-color: var(--wb-50);
}

.M_guide_intro {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32rem;
}

.M_guide_content_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
}

.M_guide_summary_container {
  border-radius: 12rem;
  padding: 16rem;
  box-shadow: inset -2px -2px 16px 0 rgba(253, 242, 248, 0.6), inset 2px 2px 16px 0 rgba(253, 242, 248, 0.6);
  background: var(--base-chores-500);
}

/* END OF THE GUIDES */

/* ARTICLES */

.M_article_card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
  width: 416rem;
  height: 386rem;
}

.M_articles_list {
  display: flex;
  gap: 24rem;
  padding: 0rem 72rem;
  flex-wrap: wrap;
}

/* END OF THE ARTICLES */

@media (max-width: 768px) {
  .M_navigation_menu, .O_menu .A_input_search {
    display: none;
  }
  .M_answer_options {
    width: 100%;
  }
  .M_tab_group {
    width: 93vw;
    justify-content: center;
  }
  .M_guide_card {
    width: 91.4vw;
    height: 368rem;
  }
  .M_nav_items.active {
    margin-bottom: -131rem;
  }
  .M_footer_menu {
    flex-direction: row;
    order: 1;
  }
  .M_subscription {
    order: 2;
    gap: 28rem;
    align-items: center;
  }
  .M_subscription_form {
    flex-direction: column;
  }
  .M_subscription_form .A_button {
    width: 100%;
  }
  .M_social_media_block {
    order: 3;
    gap: 16rem;
  }
  .M_articles_list {
    padding: 0;
  }
  .M_article_card {
    width: 100%;
  }
}