.O_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 96rem;
}


.O_menu {
  margin-top: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90vw;
  height: 51rem;
}

.O_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.O_mobile_menu {
  display: none;
}

@media (max-width: 768px) {
  .O_menu {
    margin-top: 20rem;
  }
  .O_mobile_menu {
    width: 100%;
    display: flex;
    padding: 0rem 16rem;
    align-items: center;
    justify-content: space-between;
  }
}