.o_footer {
  display: flex;
  padding: 32rem 72rem;
  width: 100%;
  height: 204rem;
  background-color: var(--base-500);
  box-shadow: inset -10rem -10rem 40rem 0 rgba(212, 184, 246, 0.6), inset 10rem 10rem 40rem 0 rgba(212, 184, 246, 0.6);
  justify-content: center;
  align-items: center;
  background-image: url(../../images/bg_pattern.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.o_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.o_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 128rem;
}