.W_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.W_map {
  width: 36vw;
  height: 81vh;
  border-radius: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--base-500);
}

.W_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}