.O_main {
  gap: 96rem;
  margin-top: 96rem;
}

.title_h1 {
  color: var(--base-500);
  max-width: 1440rem;
}

.guides_main_page.title_h1 {
  text-align: center;
}

.guide_card_img {
  border-radius: 20rem;
  width: 378rem;
  height: 260rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.doc_img {
  margin-top: -120rem;
}

.chores_guide {
  background-color: var(--base-chores-50);
}

.documents_guide {
  background-color: var(--base-documents-50);
}

.lifestyle_guide {
  background-color: var(--base-lifestyle-50);
}

.finance_guide {
  background-color: var(--base-finance-50);
}

.career_guide {
  background-color: var(--base-career-50);
}

.health_guide {
  background-color: var(--base-health-50);
}

.chores_guide h1,
.chores_guide p,
.chores_guide h3,
.chores_guide li,
.chores_guide a {
  color: var(--base-chores-500);
  max-width: 996rem;
}

.chores_guide h5 {
  color: var(--base-chores-50);
  max-width: 964rem;
}

.O_guide_body a {
  text-decoration: underline;
}

.O_guide_body ul {
  list-style-type: disc;
  margin-left: 20rem;
}

.guide_cover {
  width: 69.167vw;
  height: 31.944vw;
  border-radius: 12rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chores_cover {
  box-shadow: inset -10rem -10rem 40rem 0 rgba(253, 242, 248, 0.6), inset 10rem 10rem 40rem 0 rgba(253, 242, 248, 0.6);
}

.documents_cover {
  box-shadow: inset -10rem -10rem 40rem 0 rgba(237, 237, 253, 0.6), inset 10rem 10rem 40rem 0 rgba(237, 237, 253, 0.6);
}

.lifestyle_cover {
  box-shadow: inset -10px -10px 40px 0 rgba(240, 249, 255, 0.6), inset 10px 10px 40px 0 rgba(240, 249, 255, 0.6);
}

.career_cover {
  box-shadow: inset -10px -10px 40px 0 rgba(254, 244, 242, 0.6), inset 10px 10px 40px 0 rgba(254, 244, 242, 0.6);
}

.health_cover {
  box-shadow: inset -10px -10px 40px 0 rgba(243, 250, 235, 0.6), inset 10px 10px 40px 0 rgba(243, 250, 235, 0.6);
}

.finance_cover {
  box-shadow: inset -10px -10px 40px 0  rgba(255, 253, 234, 0.6), inset 10px 10px 40px 0  rgba(255, 253, 234, 0.6);
}

@media (max-width: 768px) {
  .guide_card_img {
    width: 311rem;
  }
  .guide_cover {
    width: 80vw;
  }
  .title_h1 {
    text-align: left;
  }
  .title_h5 {
    font-size: 20rem;
  }
  .O_main {
    gap: 60rem;
    margin-top: 60rem;
  }
}