.O_main {
  gap: 96rem;
  margin-top: 96rem;
}

.title_h1 {
  color: var(--base-500);
  max-width: 1440rem;
}

.guide_finance {
  box-shadow: inset 20px 20px 40px 0 var(--base-finance-300), inset -20px -20px 40px 0 var(--base-finance-300);
  background-image: url(../../images/guides/finance_1.png);
  background-position: center 25%;
}

.guide_lifestyle {
  box-shadow: inset 8px 8px 40px 0 var(--base-lifestyle-300), inset -8px -8px 40px 0 var(--base-lifestyle-300);
  background-image: url(../../images/guides/lifestyle_1.png);
}

.guide_career {
  box-shadow: inset 8px 8px 40px 0 var(--base-career-300), inset -8px -8px 40px 0 var(--base-career-300);
  background-image: url(../../images/guides/career_1.png);
}

.guide_health {
  box-shadow: inset 8px 8px 40px 0 var(--base-health-300), inset -8px -8px 40px 0 var(--base-health-300);
  background-image: url(../../images/guides/health_1.png);
}

.guide_chores {
  box-shadow: inset 8px 8px 40px 0 var(--base-chores-300), inset -8px -8px 40px 0 var(--base-chores-300);
  background-image: url(../../images/guides/chores_1.png);
}

.guide_documents {
  box-shadow: inset 8px 8px 40px 0 var(--base-documents-300), inset -8px -8px 40px 0 var(--base-documents-300);
  background-image: url(../../images/guides/docs_1.png);
}

.guide_card_img {
  border-radius: 20rem;
  width: 384rem;
  height: 260rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.doc_img {
  margin-top: -120rem;
}

.chores_guide {
  background-color: var(--base-chores-50);
}

.chores_guide h1,
.chores_guide p,
.chores_guide h3,
.chores_guide li,
.chores_guide a {
  color: var(--base-chores-500);
  max-width: 996rem;
}

.chores_guide h5 {
  color: var(--base-chores-50);
  max-width: 964rem;
}

.chores_guide a {
  text-decoration: underline;
}

.chores_guide ul {
  list-style-type: disc;
  margin-left: 20rem;
}

.guide_cover {
  width: 69.167vw;
  height: 31.944vw;
  border-radius: 12rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chores_1_guide {
  background-image: url(../../images/guides/chores_1.png);
}

.chores_cover {
  box-shadow: inset -10rem -10rem 40rem 0 rgba(253, 242, 248, 0.6), inset 10rem 10rem 40rem 0 rgba(253, 242, 248, 0.6);
}

@media (max-width: 768px) {
  .guide_card_img {
    width: 311rem;
  }
  .guide_cover {
    width: 80vw;
  }
  .title_h1 {
    text-align: left;
  }
  .title_h5 {
    font-size: 20rem;
  }
}