.O_cover {
  width: 100%;
  height: 810rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 418rem 0 0 0;
  box-shadow: inset -20px -20px 50px 0 rgba(212, 184, 246, 0.6), inset 20px 20px 50px 0 rgba(212, 184, 246, 0.6);
  background-color: var(--base-500);
  background-image: url(../../images/styleguide/cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.A_title_h1 {
  font-size: 156rem;
  color: var(--base-50);
  font-weight: 500;
  text-align: center;
  line-height: 75%;
  letter-spacing: -0.02em;
}
body {
  color: var(--base-500);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 128rem;
  background-color: var(--base-50);
}
.W_nav_container {
  position: sticky;
  top: 45rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 28rem;
  padding: 28rem;
  height: fit-content;
  width: fit-content;
  box-shadow: inset -5rem -5rem 20rem 0 rgba(143, 88, 250, 0.6), inset 5rem 5rem 20rem 0 rgba(143, 88, 250, 0.6);
}
main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40rem;
  padding: 0rem 72rem;
  align-items: flex-start;
  flex-direction: row;
  gap: 40rem;
}
.C_nav_items {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}
.C_nav_items a {
  color: var(--base-500);
  transition: all 0.3s;
}
.C_nav_items a:hover {
  color: var(--base-200);
}
.W_content_container {
  max-width: 855rem;
  display: flex;
  flex-direction: column;
  gap: 128rem;
}
.M_intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40rem;
}
.M_character_block {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 36rem;
}
.M_character_block img {
  width: 100%;
}
.M_mission_block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 36rem;
}
.C_values-cards {
  display: flex;
  gap: 24rem;
}
.M_value-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 24rem;
  border-radius: 28rem;
  padding: 28rem;
  box-shadow: inset -5rem -5rem 20rem 0 rgba(143, 88, 250, 0.6),
    inset 5rem 5rem 20rem 0 rgba(143, 88, 250, 0.6);
}
.M_value-card .title_h5 {
  color: var(--base-500);
}
.W_intro_info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 36rem;
}
.M_info_text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8rem;
  flex-basis: 50%;
}
.W_values_block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 36rem;
}
.C_logo_info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24rem;
}
.C_logo_info p {
  flex-basis: 50%;
}
.W_logo_block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24rem;
}
.M_logo_vars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 40rem;
  width: 100%;
  height: 441rem;
  box-shadow: inset -10px -10px 40px 0 rgba(143, 88, 250, 0.6), inset 10px 10px 40px 0 rgba(143, 88, 250, 0.6);
  padding: 40rem;
  gap: 46rem;
}
.C_logo_vars {
  display: flex;
  gap: 40rem;
}
.C_logo_descr {
  display: flex;
  gap: 24rem;
}
.C_logo_descr p {
  flex-basis: 50%;
}
.C_logo_cat_vars {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24rem;
  width: 100%;
}
.M_logo_var {
  flex-basis: 50%;
  width: 100%;
  border-radius: 28rem;
  padding: 28rem;
  height: 292rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16rem;
}
.M_logo_var.finance {
  box-shadow: inset -5px -5px 20px 0 rgba(255, 174, 0, 0.6), inset 5px 5px 20px 0 rgba(255, 174, 0, 0.6);
  background: var(--base-finance-50);
}
.M_logo_var.home {
  box-shadow: inset -5px -5px 20px 0 rgba(233, 75, 152, 0.6), inset 5px 5px 20px 0 rgba(233, 75, 152, 0.6);
  background: var(--base-home-50);
}
.text_m_medium.finance {
  color: var(--base-finance-500);
}
.text_m_medium.home {
  color: var(--base-home-500);
}
.W_palette {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40rem;
}
.main-palette .title_h5 {
  color: var(--base-500);
}
.C_palette_info {
  display: flex;
  gap: 24rem;
}
.C_palette_info p {
  flex-basis: 50%;
}
.C_palette_block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24rem;
}
.A_palette_block {
  flex-basis: 48%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 28rem;
  height: 250rem;
  width: 100%;
  border-radius: 28rem;
}
.W_main_palette {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 36rem;
}
.A_palette_block.block_1 {
  border: 1px solid var(--base-500);
}
.A_palette_block.block_2 {
  background-color: var(--base-500);
  color: var(--base-50);
}
.A_palette_block.block_2 .title_h5 {
  color: var(--base-50);
}
.A_palette_block.block_3 {
  background-color: var(--base-100);
}
.A_palette_block.block_4 {
  background-color: var(--base-200);
}
.A_palette_block.block_1 .title_h5 {
  color: var(--base-500);
}
.A_palette_block.block_3 .title_h5 {
  color: var(--base-500);
}
.A_palette_block.block_4 .title_h5 {
  color: var(--base-500);
}
.W_cat_palette {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 36rem;
}
.W_cat_palette .title_h5 {
  color: var(--base-500);
}
.C_cat_palette_info {
  display: flex;
  gap: 24rem;
}
.C_cat_palette_info p {
  flex-basis: 50%;
}
.palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24rem;
}
.palette-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}
.palette-blocks div {
   width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 28rem;
  flex-basis: 30%;
  padding: 28rem;
}
.A_palette_accent {
  height: 258rem;
}
.A_palette_secondary {
  height: 188rem;
}
.palette-blocks div:nth-of-type(1) {
  background-color: #e94b98;
}
.palette-blocks div:nth-of-type(2) {
  background-color: #ea9400;
}
.palette-blocks div:nth-of-type(3) {
  background-color: #64b032;
}
.palette-blocks div:nth-of-type(4) {
  box-shadow: inset 8rem 8rem 16rem 0 rgba(233, 75, 152, 0.25),
    inset -8rem -8rem 16rem 0 rgba(233, 75, 152, 0.25);
  background: #fdf2f8;
}
.palette-blocks div:nth-of-type(5) {
  box-shadow: inset 8rem 8rem 16rem 0 rgba(218, 149, 0, 0.25),
    inset -8rem -8rem 12rem 0 rgba(218, 149, 0, 0.25);
  background: #fffdea;
}
.palette-blocks div:nth-of-type(6) {
  box-shadow: inset 8rem 8rem 16rem 0 rgba(100, 176, 50, 0.25),
    inset -8rem -8rem 12rem 0 rgba(100, 176, 50, 0.25);
  background: #f3faeb;
  color: #64b032;
}
.palette-blocks div:nth-of-type(7) {
  background: #09a0ee;
}
.palette-blocks div:nth-of-type(8) {
  background: #484be7;
}
.palette-blocks div:nth-of-type(9) {
  background: #f4583f;
}
.palette-blocks div:nth-of-type(10) {
  box-shadow: inset 8rem 8rem 16rem 0 rgba(9, 160, 238, 0.25),
    inset -8rem -8rem 16rem 0 rgba(9, 160, 238, 0.25);
  background: #fdf2f8;
}
.palette-blocks div:nth-of-type(11) {
  box-shadow: inset 8rem 8rem 16rem 0 rgba(72, 75, 231, 0.25),
    inset -8rem -8rem 12rem 0 rgba(72, 75, 231, 0.25);
  background: #f5f3ff;
}
.palette-blocks div:nth-of-type(12) {
  box-shadow: inset 8rem 8rem 16rem 0 rgba(244, 88, 63, 0.25),
    inset -8rem -8rem 12rem 0 rgba(244, 88, 63, 0.25);
  background: #fef4f2;
}

.text_l_medium.home-50, .title_h5.home-50 {
  color: var(--base-home-50);
}
.text_l_medium.career-50, .title_h5.career-50 {
  color: var(--base-career-50);
}
.text_l_medium.health-50, .title_h5.health-50 {
  color: var(--base-health-50);
}
.text_l_medium.life-50, .title_h5.life-50 {
  color: var(--base-life-50);
}
.text_l_medium.docs-50, .title_h5.docs-50 {
  color: var(--base-docs-50);
}
.text_l_medium.finance-50, .title_h5.finance-50 {
  color: var(--base-finance-50);
}

.text_l_medium.home-500, .title_h5.home-500 {
  color: var(--base-home-500);
}
.text_l_medium.career-500, .title_h5.career-500 {
  color: var(--base-career-500);
}
.text_l_medium.health-500, .title_h5.health-500 {
  color: var(--base-health-500);
}
.text_l_medium.life-500, .title_h5.life-500 {
  color: var(--base-life-500);
}
.text_l_medium.docs-500, .title_h5.docs-500 {
  color: var(--base-docs-500);
}
.text_l_medium.finance-500, .title_h5.finance-500 {
  color: var(--base-finance-500);
}
.C_typo_info {
  display: flex;
  gap: 24rem;
}
.C_typo_info p {
  flex-basis: 50%;
}
.M_typo_example {
  box-shadow: inset -10px -10px 40px 0 #eaddfb, inset 10px 10px 40px 0 #eaddfb;
  background: var(--base-500);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 84rem;
  width: 100%;
  height: 441rem;
  border-radius: 40rem;
  padding: 44rem;
}
.typo_ex_1 {
  font-weight: 600;
  font-size: 128rem;
  color: var(--base-100);
}
.typo_ex_2 {
  font-weight: 400;
  font-size: 64rem;
  color: var(--base-100);
}
.M_typo_example .text_m {
  color: var(--base-100);
}
.C_typo_examples {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.W_graphics {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40rem;
}
.C_graphics_info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24rem;
}
.C_graphics_info p {
  flex-basis: 50%;
}
.graph-blocks {
  display: flex;
  gap: 24rem;
}
.graph-block-1 {
  box-shadow: inset -10px -10px 40px 0 rgba(212, 184, 246, 0.6), inset 10px 10px 40px 0 rgba(212, 184, 246, 0.6);
  background-color: var(--base-500);
  border-radius: 40rem;
  height: 324rem;
  background-image: url(../../images/styleguide/graphics_graph.png);
  background-size: cover;
  background-position: center;
}
.graph-block-2, .graph-block-3 {
  box-shadow: inset -5px -5px 20px 0 #eaddfb, inset 5px 5px 20px 0 #eaddfb;
  width: 100%;
  height: 415rem;
  border-radius: 28rem;
}
.W_graphics_container {
  display: flex;
  flex-direction: column;
  gap: 24rem;
}
.ill_block {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24rem;
}
.ills_block {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24rem;
}
.ill_info {
  display: flex;
  gap: 24rem;
}
.ill_info p {
  flex-basis: 50%;
}
.illustration {
  border-radius: 40rem;
  width: 100%;
  height: 441rem;
  box-shadow: inset -10px -10px 40px 0 var(--base-home-50), inset 10px 10px 40px 0 var(--base-home-50);
  background-image: url(../../images/styleguide/ill_1.png);
  background-position: center;
  background-repeat: no-repeat;
}
.ill_1 {
  width: 500rem;
  height: 415rem;
  box-shadow: inset -5px -5px 20px 0 var(--base-finance-50), inset 5px 5px 20px 0 var(--base-finance-50);
  background-image: url(../../images/styleguide/ill_2.png);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 24rem;
}
.ill_2 {
  width: 332rem;
  height: 415rem;
  box-shadow: inset -5px -5px 20px 0 var(--base-life-50), inset 5px 5px 20px 0 var(--base-life-50);
  background-image: url(../../images/styleguide/ill_3.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 24rem;
}




/*




.logo-section {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}
.h2_medium {
  margin-top: 88rem;
}
.logo-text-block {
  display: flex;
  gap: 24rem;
}




.typography {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.typo-example {
  box-shadow: inset -10rem -10rem 40rem 0 var(--base-100),
    inset 10rem 10rem 40rem 0 var(--base-100);
  background: var(--base-500);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 121rem;
  align-items: center;
  color: var(--base-100);
  border-radius: 40rem;
  padding: 40rem;
  width: 855rem;
  height: 441rem;
}
.C_typo_examples {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32rem;
}

.graphics {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.text-block p {
  max-width: 412rem;
}

.graph-block-1 {
  width: 855rem;
  height: 328rem;
  /* background-image: url(../../images/styleguide/graph-block-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.graph-block-2 {
  width: 415rem;
  height: 470rem;
  /* background-image: url(../../images/styleguide/graph-block-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.graph-block-3 {
  width: 415rem;
  height: 470rem;
  /* background-image: url(../../images/styleguide/graph-block-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.graph-blocks {
  display: flex;
  gap: 24rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.social-links {
  gap: 24rem;
}

.social-links .title_h4 {
  max-width: 416rem;
  color: var(--base-100);
  text-align: center;
}

.a_social-icon {
  width: 80rem;
  height: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
  background: rgba(234, 221, 251, 0.3);
  box-shadow: inset 4px 4px 8px 0 var(--base-100),
    inset -4px -4px 8px 0 var(--base-100);
  transition: all ease 0.3s;
}

.a_social-icon:hover {
  background: rgba(234, 221, 251, 0.5);
 } */

@media screen and (max-width: 1280px) {
  body {
    flex-direction: column;
    gap: 60rem;
  }
  .W_nav_container {
    display: none;
  }
  main {
    margin-bottom: 60rem;
    padding: 0rem 16rem;
    gap: 40rem;
  }
  .W_content_container {
    width: 100%;
    gap: 40rem;
  }
  .M_intro {
    gap: 40rem;
  }
  .C_typo_examples {
    gap: 32rem;
  }
  .M_mission_block {
    gap: 20rem;
  }
  .M_character_block {
    gap: 20rem;
  }
  .W_intro_info {
    gap: 24rem;
  }
  /*   main {
    width: 696rem;
  }

  .style-nav {
    display: none;
  }

  .intro {
    max-width: 696rem;
  }

  .title_h3 {
    font-size: 40rem;
    line-height: 40rem;
  }

  .values-cards {
    flex-wrap: wrap;
  }

  .value-card {
    width: 333rem;
  }

  .logo-variants {
    width: 696rem;
  }

  .logo-example,
  .main-palette,
  .category-palette,
  .graph-blocks {
    width: 696rem;
  }

  .text-block p {
    max-width: 333rem;
  }

  .logo-example-block {
    height: 359rem;
  }

  .palette div {
    width: 333rem;
  }

  .palette-blocks div {
    width: 216rem;
  }

  .typo-example,
  .graph-block-1 {
    width: 696rem;
  }

  .logo-text-block p {
    max-width: 333rem;
  }

  .logo-vars-category div {
    max-width: 333rem;
  } */
}

@media screen and (max-width: 780px) {
  body {
    flex-direction: column;
    gap: 60rem;
  }
  .W_nav_container {
    display: none;
  }
  main {
    margin-bottom: 60rem;
    padding: 0rem 16rem;
    gap: 40rem;
  }
  .W_content_container {
    width: 100%;
    gap: 28rem;
  }
  .W_intro_info {
    flex-direction: column;
  }
  .C_logo_descr {
    flex-direction: column;
  }
  .M_intro {
    gap: 28rem;
  }
  .C_typo_examples {
    gap: 20rem;
  }
  .M_character_block {
    gap: 16rem;
  }
  .M_mission_block {
    gap: 16rem;
  }
  .W_intro_info {
    flex-direction: column;
    gap: 28rem;
  }
  .C_logo_vars {
    display: flex;
    flex-direction: column;
    gap: 12rem;
  }
  .C_logo_vars img {
    width: 157rem;
  }
  .M_logo_vars {
    border-radius: 24rem;
    height: 474rem;
    padding: 32rem;
    gap: 18rem;
  }
  .C_logo_info {
    flex-direction: column;
  }
}
  /* }
  main {
    width: 351rem;
  }
  header {
    height: 600rem;
  }

  header .title_h1 {
    font-size: 40rem;
    line-height: 40rem;
    max-width: 217rem;
  }

  .title_h3 {
    font-size: 32rem;
    max-width: 351rem;
  }
  .intro-text-block {
    flex-direction: column;
    width: 351rem;
  }
  .intro-character img {
    width: 351rem;
  }
  .title_h5 {
    font-size: 24rem;
  }
  .title_h4 {
    line-height: 20rem;
    font-size: 20rem;
  }

  .values-cards {
    flex-direction: column;
  }

  .intro-mission {
    max-width: 351rem;
  }
  .h2_medium {
    font-size: 32rem;
    line-height: 32rem;
  }

  .logo-text-block {
    flex-direction: column;
    max-width: 351rem;
  }
  .text_m {
    font-size: 16rem;
    line-height: 16rem;
  }

  .logo-variants {
    width: 351rem;
    height: 474rem;
    padding: 32rem;
    gap: 16rem;
  }
  .logo-vars {
    flex-direction: column;
    gap: 12rem;
  }

  .logo-vars img {
    width: 157rem;
  }

  .logo-vars-category {
    flex-direction: column;
  }
  .logo-vars-category div:first-of-type {
    width: 351rem;
  }
  .logo-vars-category div:last-of-type {
    width: 351rem;
  }
  .logo-example-block {
    width: 351rem;
  }
  .logo-example {
    width: 351rem;
  }
  .palette {
    flex-direction: column;
  }
  .text-block {
    flex-direction: column;
  }
  .text-block .text_m {
    max-width: 351rem;
  }
  .palette-blocks {
    flex-direction: column;
  }
  .palette-blocks div {
    width: 351rem;
  }
  .typo-example {
    width: 351rem;
    height: 330rem;
  }
  .typo-example p:last-of-type {
    font-size: 56rem;
  }
  .graph-block-1 {
    width: 351rem;
    height: 416rem;
    /* background-image: url(../../images/styleguide/graph-block-1-1.svg); */
  /* }
  .graph-block-2,
  .graph-block-3 {
    width: 351rem;
  }
  .graph-blocks {
    flex-direction: column;
  }
  .social-links .title_h4 {
    max-width: 351rem;
  }

} */
