@media screen and (max-width: 1199px) {
  .h2_medium {
    font-size: 48rem;
    max-width: 706rem;
  }
}

@media screen and (max-width: 780px) {

  .index-float-q,
  .a_search_input {
    display: none;
  }

  .index-hero-content .h2_medium {
    font-size: 32rem;
    line-height: 32rem;
  }

  .a_search-mob-icon {
    display: flex;
  }

  .m_header-content {
    max-width: 350rem;
  }

  .index-about-section .h2_medium {
    font-size: 32rem;
    line-height: 32rem;
  }

  .index-about-cards {
    flex-wrap: wrap;
    max-width: 350rem;
  }
  .index-about-card,
  .index-about-card:nth-of-type(2),
  .index-about-card:nth-of-type(1) {
    flex-basis: 100%;
  }

  .index-about-card .title_h5 {
    font-size: 24rem;
    line-height: 24rem;
  }

  .index-about-card .text_m {
    font-size: 16rem;
    line-height: 16rem;
  }
  .index-about-card:nth-of-type(3) {
    background-position: center, 80% 300%;
  }

  .index-text-block {
    max-width: 350rem;
  }
  .index-text-block .h2_medium {
    font-size: 32rem;
    line-height: 32rem;
    max-width: 340rem;
    color: var(--base-0);
  }
  .release-tag {
    left: 212rem;
    top: 323rem;
  }
  .index-articles-section {
    max-width: 340rem;
  }
  .h2_medium {
    font-size: 32rem;
    line-height: 32rem;
    max-width: 340rem;
    text-align: center;
    color: var(--base-500);
  }

  .index-article-card .title_h5 {
    font-size: 24rem;
    line-height: 24rem;
  }
  .index-article-card .img-container {
    border-radius: var(--radius-2xl);
    width: 350rem;
    height: 314rem;
  }
  .index-subscribe-section {
    max-width: 350rem;
  }
  .index-subscribe-section .title_h3 {
    max-width: 340rem;
    font-size: 32rem;
    line-height: 32rem;
  }
  .index-input-container .a_input,
  .a_primary_btn_v2 {
    width: 319rem;
  }
  .m_footer-content {
    width: 209rem;
    flex-direction: column;
    justify-content:  center ;
  align-items: center;
  gap: 24rem;
  }
  .footer-logo-container p:first-of-type{
    order: 1;
  }

  .social-info {
    order: 3;
  }
  .o_footer {
    height: 352rem;
  }
  .footer-logo-container .text_m {
    order: 2;
  }
  .creators {
    order: 4;
    justify-content: center;
    align-items: center;
  }
  .footer-logo-container .text_m  {
    line-height: 20rem
  }
  .creators .text_m {
    font-size: 16rem;
    line-height: 16rem;
  }
  .social-info .text_m {
    font-size: 16rem;
    line-height: 16rem;
  }
}