@font-face {
    font-family: 'Non-Bureau';
    src: url(../fonts/NonBureau-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'Non-Bureau';
    src: url('../fonts/Non-Bureau-Medium.woff') format('woff'),
         url('../fonts/Non-Bureau-Medium.woff2') format('woff2');
    font-weight: 500;
}