/* PRE-LAUNCH PAGE */

.prelaunch-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56rem;
  padding-top: 46rem;
  margin-bottom: 33rem;
}

.prelaunch-nav-item {
  display: inline-block;
}

a.prelaunch-nav-item {
  color: #696969;
  transition: 0.5s ease;
}

a.prelaunch-nav-item:hover {
  color: #141414;
}

p.prelaunch-nav-item {
  color: #141414;
}

.prelaunch-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prelaunch-container {
  position: relative;
  width: 1362rem;
  height: 636rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 36rem;
  box-shadow: 1px 4px 6px 0 rgba(197, 197, 197, 0.25);
  margin-bottom: 41rem;
  padding-top: 64rem;
}

.prelaunch-container h1 {
  max-width: 1014rem;
  text-align: center;
  color: #141414;
  margin-bottom: 34rem;
}

.prelaunch-container p {
  color: #696969;
  max-width: 674rem;
  text-align: center;
  margin-bottom: 44rem;
}

.input-container {
  display: flex;
  gap: 8rem;
}

.prelaunch-form-input {
  width: 358rem;
  height: 57rem;
  background-color: #EEEEEE;
  border: none;
  border-radius: 40rem;
  padding-left: 25rem;
}

.prelaunch-form-btn {
  width: 170rem;
  height: 56rem;
  background-color: #141414;
  border: none;
  border-radius: 40rem;
  color: #fff;
  transition: 0.5s ease;
}

.prelaunch-form-btn:hover {
  cursor: pointer;
  background-color: #1F1F1F;
  box-shadow: inset 4px 4px 4px 0 rgba(0, 0, 0, 0.65);
}

.prelaunch-form-btn:active {
  background-color: #0c0c0c;
}

/* .prelaunch-form-message {

} */

.social-links {
  display: flex;
  gap: 9rem;
}

.social-link {
  display: inline-block;
}

.social-link-img {
  width: 70rem;
  height: 70rem;
}

.prelaunch-character {
  position: absolute;
}

.drag-drop-box {
  width: 1362rem;
  height: 636rem;
  position: absolute;
  top: 0;
  left: 0;
}

.prelaunch-character:nth-of-type(1) {
  width: 126rem;
  rotate: -25deg;
  top: 83rem;
  left: 1166rem;
}

.prelaunch-character:nth-of-type(2) {
  width: 210rem;
  rotate: -13deg;
  top: 352rem;
  left: 119rem;
}

.prelaunch-character:nth-of-type(3) {
  width: 284rem;
  rotate: 13deg;
  top: 281rem;
  left: 982rem;
}

.prelaunch-character:nth-of-type(4) {
  width: 129rem;
  top: 178rem;
  left: 33rem;
}
