/* INDEX */

.index-body .o_header {
  position: absolute;
  top: 24rem;
}

.index-body .o_main {
  background-image: url(../images/bg_pattern_2.svg);
  background-size: 107%;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-img {
  width: 70rem;
}

.index-hero-section {
  box-shadow: inset -10rem -10rem 40rem 0 rgba(212, 184, 246, 0.6),
    inset 10rem 10rem 40rem 0 rgba(212, 184, 246, 0.6);
  background-color: var(--base-500);
  width: 100%;
  height: 800rem;
  background-image: url(../images/bg_pattern.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.index-float-q {
  position: absolute;
  font-weight: 400;
  font-size: 19rem;
  line-height: 100%;
  text-align: center;
  color: var(--base-200);

}

@keyframes float {
	0% {
		transform: translatey(0rem);
	}
	50% {
		transform: translatey(-20rem);
	}
	100% {
		transform: translatey(0rem);
	}
}

@keyframes float2 {
	0% {
		transform: translatex(0rem);
	}
	50% {
		transform: translatex(-20rem);
	}
	100% {
		transform: translatex(0rem);
	}
}

.index-float-q:nth-of-type(1) {
  top: 172rem;
  left: 145rem;
  transform: rotate(-30deg);
  animation: float 6s ease-in-out infinite;
}

.index-float-q:nth-of-type(2) {
  top: -58rem;
  left: 313rem;
  transform: rotate(-30deg);
  animation: float2 6s ease-in-out infinite;
}

.index-float-q:nth-of-type(3) {
  top: -72rem;
  left: 882rem;
  transform: rotate(8deg);
  animation: float 6s ease-in-out infinite;
}

.index-float-q:nth-of-type(4) {
  top: 177rem;
  left: 1026rem;
  transform: rotate(-30deg);
  animation: float2 6s ease-in-out infinite;
}

.index-float-q p {
  position: absolute;
}

.index-float-q:nth-of-type(1) p {
  top: 48rem;
  left: 52rem;
}

.index-float-q:nth-of-type(2) p {
  top: 61rem;
  left: 40rem;
}

.index-float-q:nth-of-type(3) p {
  top: 79rem;
  left: 20rem;
}

.index-float-q:nth-of-type(4) p {
  top: 65rem;
  left: 32rem;
}

.index-hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36rem;
  margin-top: 160rem;
}

.index-hero-content img {
  width: 299rem;
}

.index-hero-content .h2_medium {
  color: var(--base-0);
  text-align: center;
  max-width: 988rem;
}

.index-about-section .h2_medium {
  color: var(--base-500);
  text-align: center;
}

.index-about-section {
  width: 1296rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40rem;
}

.index-about-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.index-about-card {
  display: flex;
  flex-direction: column;
  border-radius: 28rem;
  padding: 28rem;
  width: 415rem;
  height: 292rem;

  justify-content: flex-end;
  gap: 16rem;
  overflow: hidden;
}

.index-about-card:nth-of-type(1) {
  color: var(--base-100);
  background-color: var(--base-500);
  box-shadow: inset -5rem -5rem 20rem 0 var(--base-100),
    inset 5rem 5rem 20rem 0 var(--base-100);
  background-image: url(../images/bg_pattern.svg),
    url(../images/index-graph-1.svg);
  background-position: center, 165% -26%;
  background-repeat: no-repeat;
  background-size: 150%, 105%;
}

.index-about-card:nth-of-type(3) {
  color: var(--base-100);
  background-color: var(--base-500);
  box-shadow: inset -5rem -5rem 20rem 0 var(--base-100),
    inset 5rem 5rem 20rem 0 var(--base-100);
  background-image: url(../images/bg_pattern.svg),
    url(../images/index-graph-2.svg);
  background-position: center, 80% 4%;
  background-repeat: no-repeat;
  background-size: 150%, 120%;
}

.index-about-card:nth-of-type(2) {
  color: var(--base-500);
  background-color: var(--base-0);
  box-shadow: inset -5rem -5rem 20rem 0 rgba(150, 72, 231, 0.6),
    inset 5rem 5rem 20rem 0 rgba(150, 72, 231, 0.6);
  background-image: url(../images/bg_pattern_2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
}

.index-text-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24rem;
  width: 1296rem;
  height: 464rem;
  border-radius: 40rem;
  color: var(--base-0);
  background-color: var(--base-500);
  box-shadow: inset -10rem -10rem 40rem 0 rgba(212, 184, 246, 0.6),
    inset 10rem 10rem 40rem 0 rgba(212, 184, 246, 0.6);
  background-image: url(../images/bg_pattern.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.index-text-block .h2_medium {
  text-align: center;
}

.index-text-block .text_m {
  max-width: 600rem;
  text-align: center;
}

.release-tag {
  color: var(--base-500);
  box-shadow: inset -2rem -2rem 8rem 0 var(--base-300),
    inset 2rem 2rem 8rem 0 var(--base-300);
  border-radius: 40rem;
  padding: 8rem 12rem;
  width: 66rem;
  height: 32rem;
  transform: rotate(10deg);
  background-color: var(--base-100);
  position: absolute;
  top: 277rem;
  left: 689rem;
}

.index-articles-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40rem;
  width: 1296rem;
}

.index-aticles-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.index-article-card {
  width: 416rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.index-article-card .img-container {
  border-radius: var(--radius-2xl);
  width: 416rem;
  height: 460rem;
  box-shadow: inset -10rem -10rem 30rem 0 var(--base-100),
    inset 10rem 10rem 30rem 0 var(--base-100);
  margin-bottom: 12rem;
}

.index-article-card .title_h5 {
  margin-top: 20rem;
  color: var(--base-500);
}

.index-article-card:nth-of-type(1) .img-container {
  background-image: url(../images/articles_covers/magnesium.webp);
  background-repeat: no-repeat;
  background-size: 100%;
    background-position: center;
}

.index-article-card:nth-of-type(2) .img-container {
  background-image: url(../images/articles_covers/documents.webp);
  background-size: 100%;
    background-position: center;
}

.index-article-card:nth-of-type(3) .img-container {
  background-image: url(../images/articles_covers/shopping.webp);
  background-repeat: no-repeat;
  background-size: 100%;
    background-position: center;
}

.index-subscribe-section {
  background-color: var(--base-500);
  box-shadow: inset -10rem -10rem 40rem 0 rgba(212, 184, 246, 0.6),
    inset 10rem 10rem 40rem 0 rgba(212, 184, 246, 0.6);
  width: 1296rem;
  height: 412rem;
  border-radius: var(--radius-4xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80rem 0rem;
  gap: 28rem;
  margin-bottom: 80rem;
  background-image: url(../images/bg_pattern.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.index-subscribe-section .title_h3 {
  color: var(--base-0);
  text-align: center;
  max-width: 600rem;
}

.index-input-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.index-input-container .a_input,
.a_primary_btn_v2 {
  width: 430rem;
}

.social-links {
  display: flex;
  gap: 8rem;
}

.social-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--base-0);
  gap: 16rem;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  color: var(--base-0);
}

.footer-logo-container p:first-of-type {
  font-size: 84rem;
  font-weight: 500;
  line-height: 100%;
}

.footer-logo-container .text_m {
  text-align: center;
}

.creators {
  color: var(--base-0);
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* ARTICLES */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 64rem;
  padding: 16rem 16rem 16rem 32rem;
  width: 1360rem;
  height: 95rem;
  background-color: #fff;
  margin-top: 40rem;
  margin-bottom: 79rem;
}

.mobile-nav,
.dropdown-menu,
.dropdown-search {
  display: none;
}

.nav-container {
  display: flex;
  gap: 28rem;
}

.nav-container .text_l {
  color: var(--grey);
}

.nav-container .text_l:hover {
  color: var(--dark-grey);
}

.articles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  color: var(--dark-grey);
}

.nav-search-container {
  display: flex;
  gap: 8rem;
}

.search-input {
  border-radius: 64rem;
  padding: 20rem 16rem 20rem 44rem;
  width: 500rem;
  height: 63rem;
  background-color: var(--light-grey);
  border: none;
  font-size: 18rem;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 20rem center;
  background-size: 15rem;
}

.search-button {
  padding: 20rem 40rem;
  width: 133rem;
  height: 63rem;
}

.articles-cover {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80rem;
}

.articles-cover .title_h1 {
  max-width: 569rem;
  text-align: center;
  margin-bottom: 40rem;
}

.articles-cover .text_l {
  max-width: 668rem;
  text-align: center;
}

.articles-cover img {
  position: absolute;
}

.articles-cover img:first-of-type {
  transform: rotate(-10deg);
  top: 5rem;
  left: 70rem;
  width: 233rem;
}

.articles-cover img:last-of-type {
  transform: rotate(18deg);
  top: 5rem;
  left: 1070rem;
  width: 242rem;
}

.articles-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16rem;
  margin-bottom: 80rem;
}

.articles-category {
  position: relative;
  flex-basis: 30%;
  border-radius: 28rem;
  padding: 28rem;
  width: 443rem;
  height: 200rem;
  background-color: white;
}

.articles-category img {
  position: absolute;
}

.articles-category .health-img {
  transform: rotate(15deg);
  top: 27rem;
  left: 273rem;
  width: 150rem;
}

.articles-category .finance-img {
  top: 27rem;
  left: 273rem;
  width: 138rem;
}

.articles-category .routine-img {
  transform: rotate(15deg);
  top: 30rem;
  left: 267rem;
  width: 154rem;
}

.articles-category .career-img {
  top: 32rem;
  left: 280rem;
  width: 134rem;
}

.articles-category .docs-img {
  top: 31rem;
  left: 293rem;
  width: 122em;
}

.articles-category .lifestyle-img {
  top: 40rem;
  left: 273rem;
  width: 123rem;
}

.articles-category .text_m {
  max-width: 255rem;
  color: var(--grey);
}

.articles-category .title_h5 {
  margin-bottom: 16rem;
}

.latest-articles-container {
  display: flex;
  gap: 16rem;
  margin-bottom: 77rem;
}

.latest-articles .title_h1 {
  text-align: center;
  margin-bottom: 32rem;
}

.latest-article {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
  border-radius: 28rem;
  padding: 16rem;
  width: 442rem;
  height: 495rem;
  background-color: white;
}

.latest-article .text_m {
  color: var(--grey);
}

.latest-article .text_l_semibold {
  color: var(--dark-grey);
}

.article-cover-tag {
  border-radius: 24rem;
  padding: 8rem 12rem;
  height: 33rem;
  position: absolute;
  background-color: white;
  top: 28rem;
  left: 28rem;
}

/* PAGE 404  */

.page-404-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40rem;
}

.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1360rem;
  height: 710rem;
  background-color: white;
  margin-bottom: 40rem;
  border-radius: 30rem;
  position: relative;
}

.container-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 58rem;
}

.main-img-404 {
  width: 175rem;
}

.number-4 {
  color: var(--dark-grey);
  font-family: "Non-Bureau", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 250rem;
}

.page-404 .title_h2 {
  color: var(--dark-grey);
  margin-bottom: 16rem;
}

.page-404 .text_l {
  color: var(--grey);
  margin-bottom: 40rem;
  max-width: 652rem;
  text-align: center;
}

.page-404 .button {
  width: 254rem;
  height: 60rem;
  color: white;
}

/* ABOUT US */

.about {
  background: linear-gradient(138deg, #f4efff 0%, #ffeeed 100%);
}

.about-main {
  margin-top: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heading-container .title_h1 {
  max-width: 1088rem;
  text-align: center;
}

.heading-container .text_l {
  color: var(--grey);
  text-align: center;
  max-width: 476rem;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 120rem;
  gap: 40rem;
}
