/* PRE-LAUNCH PAGE */

.prelaunch-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56rem;
  padding-top: 46rem;
  margin-bottom: 33rem;
}

.prelaunch-nav-item {
  display: inline-block;
}

a.prelaunch-nav-item {
  color: var(--grey);
  transition: 0.5s ease;
}

a.prelaunch-nav-item:hover {
  color: var(--dark-grey);
}

p.prelaunch-nav-item {
  color: var(--dark-grey);
}

.prelaunch-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prelaunch-container {
  position: relative;
  width: 1362rem;
  height: 636rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 36rem;
  margin-bottom: 41rem;
  padding-top: 64rem;
}

.prelaunch-container h1 {
  max-width: 1014rem;
  text-align: center;
  color:  var(--dark-grey);
  margin-bottom: 34rem;
}

.prelaunch-container p {
  color: var(--grey);
  max-width: 674rem;
  text-align: center;
  margin-bottom: 44rem;
}

.input-container {
  display: flex;
  gap: 8rem;
}

.prelaunch-form-input {
  width: 358rem;
  height: 57rem;
  background-color: var(--light-grey);
  border: none;
  border-radius: 40rem;
  padding-left: 25rem;
}

.prelaunch-form-btn {
  width: 170rem;
  height: 56rem;
  transition: 0.5s ease;
}

.social-links {
  display: flex;
  gap: 9rem;
}

.social-link {
  display: inline-block;
}

.social-link-img {
  width: 70rem;
  height: 70rem;
}

.dd-character {
  position: absolute;
}

.drag-drop-box {
  width: 1362rem;
  height: 636rem;
  position: absolute;
  top: 0;
  left: 0;
}

.dd-character:nth-of-type(1) {
  width: 126rem;
  rotate: -25deg;
  top: 83rem;
  left: 1166rem;
}

.dd-character:nth-of-type(2) {
  width: 210rem;
  rotate: -13deg;
  top: 352rem;
  left: 119rem;
}

.dd-character:nth-of-type(3) {
  width: 284rem;
  rotate: 13deg;
  top: 281rem;
  left: 982rem;
}

.dd-character:nth-of-type(4) {
  width: 129rem;
  top: 178rem;
  left: 33rem;
}

/* ARTICLES */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 64rem;
  padding: 16rem 16rem 16rem 32rem;
  width: 1360rem;
  height: 95rem;
  background-color: #fff;
  margin-top: 40rem;
  margin-bottom: 79rem;
}

.mobile-nav, .dropdown-menu, .dropdown-search {
  display: none;
}


.nav-container {
  display: flex;
  gap: 28rem;
}

.nav-container .text_l {
  color: var(--grey);
}

.nav-container .text_l:hover {
  color: var(--dark-grey);
}

.articles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  color: var(--dark-grey);
}

.nav-search-container {
  display: flex;
  gap: 8rem;
}

.search-input {
  border-radius: 64rem;
  padding: 20rem 16rem 20rem 44rem;
  width: 500rem;
  height: 63rem;
  background-color: var(--light-grey);
  border: none;
  font-size: 18rem;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 20rem center;
}

.search-button {
  padding: 20rem 40rem;
  width: 133rem;
  height: 63rem;
}

.articles-cover {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80rem;
}

.articles-cover .title_h1 {
  max-width: 569rem;
  text-align: center;
  margin-bottom: 40rem;
}

.articles-cover .text_l {
  max-width: 668rem;
  text-align: center;
}

.articles-cover img {
  position: absolute;
}

.articles-cover img:first-of-type {
  transform: rotate(-10deg);
  top: 5rem;
  left: 70rem;
  width: 233rem;
}

.articles-cover img:last-of-type {
  transform: rotate(18deg);
  top: 5rem;
  left: 1070rem;
  width: 242rem;
}

.articles-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16rem;
  margin-bottom: 80rem;
}

.articles-category {
  position: relative;
  flex-basis: 30%;
  border-radius: 28rem;
  padding: 28rem;
  width: 443rem;
  height: 200rem;
  background-color: white;
}

.articles-category img {
  position: absolute;
}

.articles-category .health-img {
  transform: rotate(15deg);
  top: 27rem;
  left: 273rem;
  width: 150rem;
}

.articles-category .finance-img {
  top: 27rem;
  left: 273rem;
  width: 138rem;
}

.articles-category .routine-img {
  transform: rotate(15deg);
  top: 30rem;
  left: 267rem;
  width: 154rem;
}

.articles-category .career-img {
  top: 32rem;
  left: 280rem;
  width: 134rem;
}

.articles-category .docs-img {
  top: 31rem;
  left: 293rem;
  width: 122em;
}

.articles-category .lifestyle-img {
  top: 40rem;
  left: 273rem;
  width: 123rem;
}

.articles-category .text_m {
  max-width: 255rem;
  color: var(--grey);
}

.articles-category .title_h5 {
  margin-bottom: 16rem;
}

.latest-articles-container {
  display: flex;
  gap: 16rem;
  margin-bottom: 77rem;
}

.latest-articles .title_h1 {
  text-align: center;
  margin-bottom: 32rem;
}

.latest-article {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
  border-radius: 28rem;
  padding: 16rem;
  width: 442rem;
  height: 495rem;
  background-color: white;
}

.latest-article .text_m {
  color: var(--grey);
}

.latest-article .text_l_semibold {
  color: var(--dark-grey);
}

.article-cover-tag {
  border-radius: 24rem;
  padding: 8rem 12rem;
  height: 33rem;
  position: absolute;
  background-color: white;
  top: 28rem;
  left: 28rem;
}

/* PAGE 404  */

.page-404-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40rem;
}

.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1360rem;
  height: 710rem;
  background-color: white;
  margin-bottom: 40rem;
  border-radius: 30rem;
  position: relative;
}

.container-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 58rem;
}

.main-img-404 {
  width: 175rem;
}

.number-4 {
  color: var(--dark-grey);
  font-family: 'Non-Bureau', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 250rem;
}

.page-404 .title_h2 {
  color: var(--dark-grey);
  margin-bottom: 16rem;
}

.page-404 .text_l {
  color: var(--grey);
  margin-bottom: 40rem;
  max-width: 652rem;
  text-align: center;
}

.page-404 .button {
  width: 254rem;
  height: 60rem;
  color: white;
}

.img-404:first-of-type {
  position: absolute;
  width: 151rem;
  top: 262rem;
  left: 37rem;
  transform: rotate(10deg);
}

.img-404:last-of-type {
  position: absolute;
  width: 237rem;
  top: 407rem;
  left: 1022rem;
  transform: rotate(30deg);
}

/* ABOUT US */

.about {
  background: linear-gradient(138deg, #f4efff 0%, #ffeeed 100%);
}

.about-main {
  margin-top: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heading-container .title_h1 {
  max-width: 1088rem;
  text-align: center;
}

.heading-container .text_l {
  color: var(--grey);
  text-align: center;
  max-width: 476rem;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 120rem;
  gap: 40rem;
}

.creators-portraits img{
  height: 227rem;
}

.creators-portraits img:nth-of-type(1), .creators-portraits img:nth-of-type(2) {
  margin-right: -50rem;
}

.creators-portraits {
  margin-bottom: 40rem;
}

.social-links-container {
  display: flex;
  gap: 16rem;
  margin-bottom: 80rem;
}

.social-links-container a {
  color: var(--dark-grey);
}

.social-link-block {
  padding: 28rem;
  width: 443rem;
  height: 354rem;
  background-color: white;
  border-radius: 28rem;
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.social-link-block img {
  width: 150rem;
}

.creators-portraits ~ .title_h3 {
  max-width: 1039rem;
  text-align: center;
  margin-bottom: 80rem;
}

.about-character {
  position: absolute;
  z-index: -1;
}

.about-character:nth-of-type(1) {
  width: 543rem;
  top: 107rem;
  left: -200rem;
  transform: rotate(5deg);
}

.about-character:nth-of-type(2) {
  width: 486rem;
  top: 580rem;
  left: 1020rem;
  transform: rotate(15deg);
}

/* PROMO */

.promo-heading-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80rem;
  margin-bottom: 80rem;
}

.promo-heading-section .title_h1 {
  max-width: 1120rem;
  text-align: center;
  margin-bottom: 80rem;
}

.promo-heading-section .title_h2 {
  margin-bottom: 50rem;
}

.help-container {
  display: flex;
  gap: 16rem;
  justify-content: center;
  align-items: center;
}

.help-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
  border-radius: 28rem;
  padding: 16rem;
  width: 442rem;
  height: 402rem;
  background-color: white;
}

.help-item .title_h5 {
  text-align: center;
}

.promo-img {
  position: absolute;
}

.promo-img:nth-of-type(1) {
  width: 159rem;
  top: 170rem;
  left: 54rem;
  transform: rotate(-20deg);
}

.promo-img:nth-of-type(2) {
  width: 397rem;
  top: 72rem;
  left: 1074rem;
  transform: rotate(-20deg);
  z-index: -1;
}

.promo-img:nth-of-type(3) {
  width: 417rem;
  top: 1609rem;
  left: -63rem;
  z-index: -1;
}

.promo-cards-section {
  background-color: white;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50rem;
  border-radius: 28rem;
  padding: 40rem 10rem;
  width: 1360rem;
  height: 690rem;
  margin-bottom: 80rem;
}

.promo-cards-section .title_h3 {
  text-align: center;
  max-width: 902rem;
}

.promo-cards {
  display: flex;
  position: relative;
}

.promo-card {
  border-radius: 28rem;
  padding: 28rem;
  width: 300rem;
  height: 302rem;
  position: absolute;
}

.promo-card:nth-of-type(1) {
  left: -420rem;
  box-shadow: inset -5rem -5rem 30rem 0 rgba(169, 222, 130, 0.3), inset 5rem 5rem 30rem 0 rgba(169, 222, 130, 0.3);
  transform: rotate(-2deg);
  background-color: white;
}

.promo-card:nth-of-type(2) {
  left: -160rem;
  box-shadow: inset -5rem -5rem 30rem 0 rgba(255, 225, 70, 0.3), inset 5rem 5rem 30rem 0 rgba(255, 225, 70, 0.3);
  transform: rotate(2deg);
  background-color: white;
}

.promo-card:nth-of-type(3) {
  left: 120rem;
  box-shadow: inset -5rem -5rem 30rem 0 rgba(249, 184, 219, 0.3), inset 5rem 5rem 30rem 0 rgba(249, 184, 219, 0.3);
  transform: rotate(-2deg);
  background-color: white;
}

.promo-card img {
  height: 137rem;
  margin-top: 40rem;
  margin-left: 70rem;
}

.promo-card:nth-of-type(2) img {
  margin-top: 60rem;
  transform: rotate(2deg);
}

.promo-card:nth-of-type(1) img {
  margin-top: 60rem;
  transform: rotate(-2deg);
}

.promo-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.promo-form-section .title_h2 {
  max-width: 717rem;
  text-align: center;
  margin-bottom: 20rem;
}

.promo-form-section .text_m {
  margin-bottom: 40rem;
  color: var(--grey);
}

.promo-form-section form input {
  background-color: white;
  color: var(--dark-grey);
}

.promo-form-section form {
  margin-bottom: 40rem;
}

.promo-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-form-section .button {
  color: white;
}

a.promo-nav-item {
  color: var(--dark-grey);
}

.footer-img, .hover-img {
  transition: 0.5s ease;
}

.footer-img:hover, .hover-img:hover {
  scale: 1.1;
  transform: rotate(2deg);
}