* {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1440);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'TTCommons', Arial, Helvetica, sans-serif;
}

/* tablets */
@media (max-width: 1024px) {
  html {
    font-size: calc(100vw / 768);
  }
}

/* mobile */
@media (max-width: 768px) {
  html {
    font-size: calc(100vw / 468);
  }
}
/* large screens */
@media (min-width: 1920px) {
  html {
    font-size: 1px;
  }
}