* {
  box-sizing: border-box;
}

html {
  font-size: calc(1vw / 14.4);
  scroll-behavior: smooth;
}

body {
  background-color: var(--base-0);
  overflow-x: hidden;
  font-family: 'Non-Bureau';
}

.title_h1 {
  font-weight: 500;
  font-size: 76rem;
  line-height: 80rem;
  color: var(--base-0);
}

.h2_medium {
  font-weight: 500;
  font-size: 56rem;
  line-height: 56rem;
}

.title_h3 {
  font-weight: 500;
  font-size: 48rem;
  line-height: 48rem;
}

.title_h4 {
  font-weight: 500;
  font-size: 40rem;
  line-height: 40rem;
}

.title_h5 {
  font-weight: 500;
  font-size: 32rem;
  line-height: 32rem;
}

.text_m {
  font-weight: 400;
  font-size: 20rem;
  line-height: 26rem;
}

.text_s {
  font-weight: 400;
  font-size: 16rem;
  line-height: 16rem;
}

.text_l {
  font-weight: 400;
  font-size: 24rem;
  line-height: 32rem;
}