@import 'reset.css';
@import 'fonts.css';

* {
  box-sizing: border-box;
}

:root {
  --dark-grey: #141414;
  --grey: #696969;
  --light-grey: #EEEEEE;
}

html {
  font-size: calc(1vw / 14.4);
  scroll-behavior: smooth;
}

.title_h1 {
  font-family: 'Non-Bureau', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 68rem;
  line-height: 100%;
  letter-spacing: 0.02em;
}

.title_h2 {
  font-family: 'Non-Bureau', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 56rem;
  line-height: 100%;
  letter-spacing: 0.02em;
}