@font-face {
    font-family: 'TTCommons';
    src: url('../fonts/TTCommons-Regular.woff2') format('woff2'),
         url('../fonts/TTCommons-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'TTCommons';
    src: url('../fonts/TTCommons-Medium.woff2') format('woff2'),
         url('../fonts/TTCommons-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'TTCommons';
    src: url('../fonts/TTCommons-SemiBold.woff2') format('woff2'),
         url('../fonts/TTCommons-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'TTCommons';
    src: url('../fonts/TTCommons-Bold.woff2') format('woff2'),
         url('../fonts/TTCommons-Bold.woff') format('woff');
    font-weight: 700;
}

.text_s {
  font-weight: 400;
  font-size: 16rem;
  line-height: 100%;
}

.text_m {
  font-weight: 400;
  font-size: 20rem;
  line-height: 100%;
}

.text_m_medium {
  font-weight: 500;
  font-size: 20rem;
  line-height: 100%;
}

.text_l_medium {
  font-weight: 500;
  font-size: 24rem;
  line-height: 100%;
}

.title_h5 {
  font-weight: 500;
  font-size: 32rem;
  line-height: 100%;
  color: var(--wb-900);
}

.title_h4 {
  font-weight: 500;
  font-size: 40rem;
  line-height: 100%;
}

.title_h3 {
  font-weight: 500;
  font-size: 48rem;
  line-height: 83%;
}

.title_h2 {
  font-weight: 500;
  font-size: 56rem;
  line-height: 86%;
}

.title_h1 {
  font-weight: 600;
  font-size: 76rem;
  line-height: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .title_h1 {
    font-size: 28rem;
  }
  .title_h2 {
    font-size: 24rem;
  }
  .title_h3 {
    font-size: 20rem;
  }
  .text_m, .text_m_medium, .text_l_medium {
    font-weight: 500;
    font-size: 18rem;
    line-height: 111%;
  }
  .text_s {
    font-weight: 500;
    font-size: 16rem;
    line-height: 113%;
  }
}