<header class="O_header">
    <div class="O_menu">
        <div class="M_navigation_menu">
            <a href="https://easily.adc.ac/">
              <img src="https://raw.githubusercontent.com/HSEADC/easily/4bc3ea73adceb1ab2601698b194e43323355bb3d/src/images/logo.svg" alt="logo">
            </a>
            <div class="M_dropdown_menu">
              <div class="A_menu_button">
                <p class="text_m">Меню</p>
                <img src="https://raw.githubusercontent.com/HSEADC/easily/4bc3ea73adceb1ab2601698b194e43323355bb3d/src/images/icons/dropdown.svg" alt="" class="dropdown_icon">
              </div>
              <nav class="M_nav_items">
                <a href="/pages/articles/articles.html" class="text_s A_menu_item_header">Статьи</a>
                <a href="/pages/guides/guides.html" class="text_s A_menu_item_header">Гайды</a>
                <a href="/pages/dictionary/dictionary.html" class="text_s A_menu_item_header">Словарь</a>
              </nav>
            </div>
        </div>
        <div class="O_mobile_menu">
          <a href="https://easily.adc.ac/">
            <img src="https://raw.githubusercontent.com/HSEADC/easily/4bc3ea73adceb1ab2601698b194e43323355bb3d/src/images/logo.svg" alt="logo">
          </a>
          <div class="M_mobile_menu_items">
            <div class="A_search_icon"></div>
            <div class="M_dropdown_menu">
              <div class="A_menu_button">
                <p class="text_m">Меню</p>
                <img src="https://raw.githubusercontent.com/HSEADC/easily/4bc3ea73adceb1ab2601698b194e43323355bb3d/src/images/icons/dropdown.svg" alt="" class="dropdown_icon">
              </div>
              <nav class="M_nav_items">
                <a href="/pages/articles/articles.html" class="text_s A_menu_item_header">Статьи</a>
                <a href="/pages/guides/guides.html" class="text_s A_menu_item_header">Гайды</a>
                <a href="/pages/dictionary/dictionary.html" class="text_s A_menu_item_header">Словарь</a>
              </nav>
            </div>
          </div>
        </div>

        <div class="O_search_container"></div>

    </div>
  </header>