.card_back.docs {
  background-color: var(--base-docs-100);
  color: var(--base-docs-500);
}
.card_back.career {
  background-color: var(--base-career-100);
  color: var(--base-career-500);
}
.card_back.finance {
  background-color: var(--base-finance-100);
  color: var(--base-finance-500);
}
.card_back.health {
  background-color: var(--base-health-100);
  color: var(--base-health-500);
}
.card_back.life {
  background-color: var(--base-life-100);
  color: var(--base-life-500);
}
.card_back.home {
  background-color: var(--base-home-100);
  color: var(--base-home-500);
}

.oms {
  background-image: url(../../images/dictionary/oms.png);
}
.ndfl {
  background-image: url(../../images/dictionary/ndfl.png);
}
.ispytatelnyj {
  background-image: url(../../images/dictionary/ispytatelnyj.png);
}
.mrot {
  background-image: url(../../images/dictionary/mrot.png);
}
.snils {
  background-image: url(../../images/dictionary/snils.png);
}
.resume {
  background-image: url(../../images/dictionary/resume.png);
}
.budzet {
  background-image: url(../../images/dictionary/budzet.png);
}
.hardskills {
  background-image: url(../../images/dictionary/hardskills.png);
}
.softskills {
  background-image: url(../../images/dictionary/softskills.png);
}
.dolzh-instrk {
  background-image: url(../../images/dictionary/dolzh-instrk.png);
}
.internship {
  background-image: url(../../images/dictionary/internship.png);
}
.sobes {
  background-image: url(../../images/dictionary/sobes.png);
}
.offer {
  background-image: url(../../images/dictionary/offer.png);
}
.trud-dog {
  background-image: url(../../images/dictionary/trud-dog.png);
}
.freelance {
  background-image: url(../../images/dictionary/freelance.png);
}
.outsource {
  background-image: url(../../images/dictionary/outsource.png);
}
.kommunalka {
  background-image: url(../../images/dictionary/kommunalka.png);
}
.debet-card {
  background-image: url(../../images/dictionary/debet-card.png);
}
.credit-card {
  background-image: url(../../images/dictionary/credit-card.png);
}
.safety-pillow {
  background-image: url(../../images/dictionary/safety-pillow.png);
}
.credit-history {
  background-image: url(../../images/dictionary/credit-history.png);
}
.percent {
  background-image: url(../../images/dictionary/percent.png);
}
.cashback {
  background-image: url(../../images/dictionary/cashback.png);
}
.ip {
  background-image: url(../../images/dictionary/ip.png);
}
.gosuslugi {
  background-image: url(../../images/dictionary/gosuslugi.png);
}
.doverennost {
  background-image: url(../../images/dictionary/doverennost.png);
}
.inn {
  background-image: url(../../images/dictionary/inn.png);
}
.pass {
  background-image: url(../../images/dictionary/pass.png);
}
.rent-dog {
  background-image: url(../../images/dictionary/rent-dog.png);
}
.polis {
  background-image: url(../../images/dictionary/polis.png);
}
.ecp {
  background-image: url(../../images/dictionary/ecp.png);
}
.zagran {
  background-image: url(../../images/dictionary/zagran.png);
}
.registration {
  background-image: url(../../images/dictionary/registration.png);
}
.dms {
  background-image: url(../../images/dictionary/dms.png);
}
.emergency {
  background-image: url(../../images/dictionary/emergency.png);
}
.zalog {
  background-image: url(../../images/dictionary/zalog.png);
}
.tszh {
  background-image: url(../../images/dictionary/tszh.png);
}
.zhkh {
  background-image: url(../../images/dictionary/zhkh.png);
}
.techpass {
  background-image: url(../../images/dictionary/techpass.png);
}
.counter {
  background-image: url(../../images/dictionary/counter.png);
}
.tarif {
  background-image: url(../../images/dictionary/tarif.png);
}
.work-life {
  background-image: url(../../images/dictionary/work-life.png);
}
.network {
  background-image: url(../../images/dictionary/network.png);
}
.procrast {
  background-image: url(../../images/dictionary/procrast.png);
}
.burnout {
  background-image: url(../../images/dictionary/burnout.png);
}
.time {
  background-image: url(../../images/dictionary/time.png);
}
.deadline {
  background-image: url(../../images/dictionary/deadline.png);
}
.dophamin {
  background-image: url(../../images/dictionary/dophamin.png);
}
.reflect {
  background-image: url(../../images/dictionary/reflect.png);
}
.osoznannost {
  background-image: url(../../images/dictionary/osoznannost.png);
}
.subrent {
  background-image: url(../../images/dictionary/subrent.png);
}
.portfolio {
  background-image: url(../../images/dictionary/portfolio.png);
}
.nalog {
  background-image: url(../../images/dictionary/nalog.png);
}
.mental {
  background-image: url(../../images/dictionary/mental.png);
}