.O_main {
  gap: 96rem;
  margin-top: 96rem;
}

.O_question_block {
  height: 267rem;
}

body.career {
  background-color: var(--base-career-500);
}
body.home {
  background-color: var(--base-home-500);
}
body.health {
  background-color: var(--base-health-500);
}
body.docs {
  background-color: var(--base-docs-500);
}
body.finance {
  background-color: var(--base-finance-500);
}
body.life {
  background-color: var(--base-life-500);
}

.title_h1 {
  color: var(--base-500);
  max-width: 1440rem;
}

.title_h4 {
  color: var(--base-500);
}

.article_card_img {
  border-radius: 20rem;
  width: 100%;
  height: 260rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article_header h1 {
  text-align: left;
}

.article_main {
  gap: 20rem;
}

.A_article_block_img {
  border-radius: 12rem;
  width: 966rem;
  height: 460rem;
  background-position: center;
  background-size: cover;
}

.W_article_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 48rem;
  border-radius: 24rem;
  padding: 40rem;
  width: 1380rem;
  max-width: 1380rem;
}

.M_author_info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
}

.M_author_block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8rem;
}

.M_author_block img {
  border-radius: 50rem;
}

.M_author_name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0rem;
}

.M_share_block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
}

.share_icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10rem;
}

.article_header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20rem;
  max-width: 968rem;
}

.M_article_tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8rem;
}

.W_article_wrapper.career {
  background-color: var(--base-career-50);
}
.W_article_wrapper.health {
  background-color: var(--base-health-50);
}
.W_article_wrapper.finance {
  background-color: var(--base-finance-50);
}
.W_article_wrapper.life {
  background-color: var(--base-life-50);
}
.W_article_wrapper.docs {
  background-color: var(--base-docs-50);
}
.W_article_wrapper.home {
  background-color: var(--base-home-50);
}

.W_article_wrapper.career, .title_h1.career {
  color: var(--base-career-500);
}

.W_article_wrapper.home, .title_h1.home {
  color: var(--base-home-500);
}

.W_article_wrapper.health, .title_h1.health {
  color: var(--base-health-500);
}

.W_article_wrapper.finance, .title_h1.finance {
  color: var(--base-finance-500);
}

.W_article_wrapper.docs, .title_h1.docs {
  color: var(--base-docs-500);
}

.W_article_wrapper.life, .title_h1.life {
  color: var(--base-life-500);
}

.M_article_info {
  width: 284rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 36rem;
}

.M_article_menu.career a {
  color: var(--base-career-400);
}

.M_article_menu.career a:hover {
  cursor: pointer;
  color: var(--base-career-500);
}

.M_article_menu.career a.active {
  cursor: pointer;
  color: var(--base-career-500);
}

.M_article_menu.home a {
  color: var(--base-home-400);
}

.M_article_menu.home a:hover {
  cursor: pointer;
  color: var(--base-home-500);
}

.M_article_menu.home a.active {
  cursor: pointer;
  color: var(--base-home-500);
}

.M_article_menu.life a {
  color: var(--base-life-400);
}

.M_article_menu.life a:hover {
  cursor: pointer;
  color: var(--base-life-500);
}

.M_article_menu.life a.active {
  cursor: pointer;
  color: var(--base-life-500);
}

.M_article_menu.health a {
  color: var(--base-health-400);
}

.M_article_menu.health a:hover {
  cursor: pointer;
  color: var(--base-health-500);
}

.M_article_menu.health a.active {
  cursor: pointer;
  color: var(--base-health-500);
}

.M_article_menu.docs a {
  color: var(--base-docs-400);
}

.M_article_menu.docs a:hover {
  cursor: pointer;
  color: var(--base-docs-500);
}

.M_article_menu.docs a.active {
  cursor: pointer;
  color: var(--base-docs-500);
}

.M_article_menu.finance a {
  color: var(--base-finance-400);
}

.M_article_menu.finance a:hover {
  cursor: pointer;
  color: var(--base-finance-500);
}

.M_article_menu.finance a.active {
  cursor: pointer;
  color: var(--base-finance-500);
}

ol {
  list-style-type: decimal;
  margin-left: 20rem;
}

.O_question_block.career {
  background-color: var(--base-career-500);
}

.O_question_block.career .text_l_medium {
  color: var(--base-career-50);
}

.O_question_block.career .title_h5 {
  color: var(--base-career-50);
}

.O_question_block.career .text_m_medium {
  color: var(--base-career-500);
}

.O_question_block.career .A_answer {
  background-color: var(--base-career-100);
}

.O_question_block.career .A_answer:hover,
.O_question_block.career.A_answer:active {
  background-color: var(--base-career-200);
  cursor: pointer;
}
.O_question_block.health {
  background-color: var(--base-health-500);
}

.O_question_block.health .text_l_medium {
  color: var(--base-health-50);
}

.O_question_block.health .title_h5 {
  color: var(--base-health-50);
}

.O_question_block.health .text_m_medium {
  color: var(--base-health-500);
}

.O_question_block.health .A_answer {
  background-color: var(--base-health-100);
}

.O_question_block.health .A_answer:hover,
.O_question_block.health.A_answer:active {
  background-color: var(--base-health-200);
  cursor: pointer;
}

.O_question_block.docs {
  background-color: var(--base-docs-500);
}

.O_question_block.docs .text_l_medium {
  color: var(--base-docs-50);
}

.O_question_block.docs .title_h5 {
  color: var(--base-docs-50);
}

.O_question_block.docs .text_m_medium {
  color: var(--base-docs-500);
}

.O_question_block.docs .A_answer {
  background-color: var(--base-docs-100);
}

.O_question_block.docs .A_answer:hover,
.O_question_block.docs.A_answer:active {
  background-color: var(--base-docs-200);
  cursor: pointer;
}

.O_question_block.home {
  background-color: var(--base-home-500);
}

.O_question_block.home .text_l_medium {
  color: var(--base-home-50);
}

.O_question_block.home .title_h5 {
  color: var(--base-home-50);
}

.O_question_block.home .text_m_medium {
  color: var(--base-home-500);
}

.O_question_block.home .A_answer {
  background-color: var(--base-home-100);
}

.O_question_block.home .A_answer:hover,
.O_question_block.home.A_answer:active {
  background-color: var(--base-home-200);
  cursor: pointer;
}

.O_question_block.finance {
  background-color: var(--base-finance-500);
}

.O_question_block.finance .text_l_medium {
  color: var(--base-finance-50);
}

.O_question_block.finance .title_h5 {
  color: var(--base-finance-50);
}

.O_question_block.finance .text_m_medium {
  color: var(--base-finance-500);
}

.O_question_block.finance .A_answer {
  background-color: var(--base-finance-100);
}

.O_question_block.finance .A_answer:hover,
.O_question_block.finance.A_answer:active {
  background-color: var(--base-finance-200);
  cursor: pointer;
}

.O_question_block.life {
  background-color: var(--base-life-500);
}

.O_question_block.life .text_l_medium {
  color: var(--base-life-50);
}

.O_question_block.life .title_h5 {
  color: var(--base-life-50);
}

.O_question_block.life .text_m_medium {
  color: var(--base-life-500);
}

.O_question_block.life .A_answer {
  background-color: var(--base-life-100);
}

.O_question_block.life .A_answer:hover,
.O_question_block.life.A_answer:active {
  background-color: var(--base-life-200);
  cursor: pointer;
}

.C_answer_options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8rem;
}

.A_answer {
  border-radius: 16rem;
  padding: 16rem;
  width: 290rem;
  height: 118rem;
  max-width: 380rem;
  min-height: 72rem;
}

.A_answer.correct {
  background-color: var(--base-success) !important;
}

.A_answer.correct p,
.A_answer.incorrect p {
  color: var(--wb-0) !important;
}

.A_answer.incorrect {
  background-color: var(--base-error) !important;
}

.M_minitest_result_block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20rem;
  width: 100%;
}


.shake_animation {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-15deg); }
  75% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}

@media (max-width: 1024px) {
  .W_article_wrapper {
    width: 90vw;
    padding: 28rem;
  }
  .A_article_block_img {
    width: 100%;
    height: 300rem;
  }
  .C_answer_options {
    flex-direction: column;
  }
  .A_answer {
    width: 100%;
  }
  .O_question_block {
    width: 100%;
    height: min-content;
  }
}

@media (max-width: 768px) {
  .title_h1 {
    max-width: 341rem;
  }
  .O_main {
    gap: 60rem;
    margin-top: 60rem;
  }
  .W_article_wrapper {
    width: 90.4vw;
    padding: 20rem 16rem;
    flex-direction: column;
    gap: 28rem;
  }
  .A_article_block_img,
  .O_question_block {
    width: 100%;
  }
  .M_article_menu {
    display: none;
  }
  .C_answer_options {
    flex-direction: column;
  }
  .article_main {
    gap: 20rem;
  }
  .article_header {
    order: 1;
  }
  .M_article_info {
    order: 2;
  }
}
.A_article_block_img.career {
  box-shadow: inset -8px -8px 40px 0 rgba(244, 88, 63, 0.6), inset 8px 8px 40px 0 rgba(244, 88, 63, 0.6);
}
.A_article_block_img.life {
  box-shadow: inset -8px -8px 40px 0 rgba(9, 160, 238, 0.6), inset 8px 8px 40px 0 rgba(9, 160, 238, 0.6);
}
.A_article_block_img.health {
  box-shadow: inset -8px -8px 40px 0 rgba(100, 176, 50, 0.6), inset 8px 8px 40px 0 rgba(100, 176, 50, 0.6);
}
.A_article_block_img.home {
  box-shadow: inset -8px -8px 40px 0 rgba(233, 75, 152, 0.6), inset 8px 8px 40px 0 rgba(233, 75, 152, 0.6);
}
.A_article_block_img.finance {
  box-shadow: inset -8px -8px 40px 0 #ffe146, inset 8px 8px 40px 0 rgba(255, 225, 70, 0.6);
}
.A_article_block_img.docs {
  box-shadow: inset -8px -8px 40px 0 rgba(72, 75, 231, 0.6), inset 8px 8px 40px 0 rgba(72, 75, 231, 0.6);
}

.article_finance {
  box-shadow: inset 8px 8px 40px 0 rgba(255, 174, 0, 0.6), inset -8px -8px 40px 0 rgba(255, 174, 0, 0.6);
}

.article_life {
  box-shadow: inset 8px 8px 40px 0 var(--base-life-300), inset -8px -8px 40px 0 var(--base-life-300);
}

.article_career {
  box-shadow: inset 8px 8px 40px 0 var(--base-career-300), inset -8px -8px 40px 0 var(--base-career-300);
}

.article_health {
  box-shadow: inset 8px 8px 40px 0 var(--base-health-300), inset -8px -8px 40px 0 var(--base-health-300);
}

.article_home {
  box-shadow: inset 8px 8px 40px 0 var(--base-home-300), inset -8px -8px 40px 0 var(--base-home-300);
}

.article_docs {
  box-shadow: inset 8px 8px 40px 0 var(--base-docs-300), inset -8px -8px 40px 0 var(--base-docs-300);
}

.ispytatelnyj-srok-ne-daj-sebya-obmanut {
  background-image: url(images/e7f48217d9639f1c636e.png);
}
#ispytatelnyj-1 {
  background-image: url(images/a06ec5c3eca27a3bca55.png);
}
#ispytatelnyj-2 {
  background-image: url(images/cdae1a688a3199fba561.png);
}
#ispytatelnyj-3 {
  background-image: url(images/84d5b21a8f6d0b6d4d43.png);
}
#ispytatelnyj-4 {
  background-image: url(images/69520e7da55033cc5e83.png);
}
#ispytatelnyj-0 {
  background-image: url(images/d3eb5d0f86af5d12677b.png);
}

.kommunalka-kak-nakruchivayut-pochemu-my-platim-za-soseda-i-chto-takoe-odn {
  background-image: url(images/34003c6a317176d662b4.png);
}
#kommunalka-1 {
  background-image: url(images/20d7ca1031628296a5f9.png);
}
#kommunalka-2 {
  background-image: url(images/9ba3b243dff8f1d4d163.png);
}

.kvartira-v-novom-gorode {
  background-image: url(images/2375f450ffd329394ac1.png);
}
#kvartira-v-novom-gorode-1 {
  background-image: url(images/a581880e521a5e6ab462.png);
}

.pervyj-mesyac-v-novom-gorode {
  background-image: url(images/9ef1b8749b83bb2adda5.png);
}
#pervyj-mesyac-v-novom-gorode_1 {
  background-image: url(images/52685333a13cbd300b92.png);
}

.propiska-voenkomat-polis {
  background-image: url(images/1c35666f5f1d0b8a4f05.png);
}
#propiska-voenkomat-polis_1 {
  background-image: url(images/396665b09da13dfeb7a7.png);
}

.pervaya-mashina-kak-ne-popast-na-dengi {
  background-image: url(images/dfd41c3fdeaa338aed0b.png);
}
#pervaya-mashina-1 {
  background-image: url(images/cb0abe89d879016d9e43.png);
}
#pervaya-mashina-2 {
  background-image: url(images/b5c8ea316260057cb309.png);
}
#pervaya-mashina-3 {
  background-image: url(images/cfc8ab5ed22e3508be2e.png);
}

.pochemu-prokrastinaciya-pobezhdaet-v-sessiyu {
  background-image: url(images/acb1ee4176ba988676c7.png);
}
#prokrastinaciya-1 {
  background-image: url(images/a37f2d03e2a48985e19f.png);
}
#prokrastinaciya-2 {
  background-image: url(images/1f48de7be77bf977168d.png);
}
#prokrastinaciya-3 {
  background-image: url(images/8e9d5ec214afcbe0f647.png);
}

.kak-ustroena-adaptaciya-na-pervoj-rabote {
  background-image: url(images/d1f30eaff069d995f290.png);
}
#adaptaciya_1 {
  background-image: url(images/8de815e12c59adf7545c.png);
}
#adaptaciya_2 {
  background-image: url(images/096675d9b01147525d14.png);
}
#adaptaciya_3 {
  background-image: url(images/9009a4915f4aa638e2d0.png);
}

.minimalnyj-nabor-dlya-zhizni {
  background-image: url(images/c4ea4015de289976537a.png);
}
#minimalnyj-nabor-dlya-zhizni_1 {
  background-image: url(images/e03d9cf4e76bbea63289.png);
}
#minimalnyj-nabor-dlya-zhizni_2 {
  background-image: url(images/26149573a74ab741f512.png);
}
#minimalnyj-nabor-dlya-zhizni_3 {
  background-image: url(images/5a20d2092936f29dc1b5.png);
}

.nestabilnost-na-frilanse {
  background-image: url(images/14c40b8ab1e0ce8ac810.png);
}
#nestabilnost-na-frilanse_1 {
  background-image: url(images/3e93f1efe636971c3c1c.png);
}
#nestabilnost-na-frilanse_2 {
  background-image: url(images/8d75d34daaebad751410.png);
}
#nestabilnost-na-frilanse_3 {
  background-image: url(images/b9ddb4bc5193e1ac6481.png);
}

.pochemu-novichki-za-rulem-chashche-popadayut-v-dtp {
  background-image: url(images/43dd1b1378c705bdb057.png);
}
#novichki-za-rulem-1 {
  background-image: url(images/fac87f907ffc41a02896.png);
}
#novichki-za-rulem-2 {
  background-image: url(images/f6349a639785172590e3.png);
}

.pochemu-byt-zhret-vremya-i-kak-ustroena-mentalnaya-nagruzka {
  background-image: url(images/d025307a1ae58be6f9b5.png);
}
#mentalnaya-nagruzka-1 {
  background-image: url(images/1c0ef56b2b4e7b388109.png);
}
#mentalnaya-nagruzka-2 {
  background-image: url(images/ae0bb3d9350e28def175.png);
}

.strahovka-nalog-to-obyazatelnye-platezhi-avtovladelca {
  background-image: url(images/f838702fe8ea7f4ff07e.png);
}
#platezhi-avtovladelca_1 {
  background-image: url(images/da2f17a27f838ac4e28e.png);
}
#platezhi-avtovladelca_2 {
  background-image: url(images/0aef545afa59ccf1ab08.png);
}

.pochemu-rabotodateli-ne-lyubyat-novichkov {
  background-image: url(images/98770a0fa6369eca4c07.png);
}
#pochemu-rabotodateli_1 {
  background-image: url(images/2b8caa8cbb54c34e0ee8.png);
}
#pochemu-rabotodateli_2 {
  background-image: url(images/3d7c22d912b97e7b03c8.png);
}

.pochemu-sobstvenniki-ne-vozvrashchayut-depozit-5-samyh-chastyh-skhem {
  background-image: url(images/90fb42ceb5f107fd40fb.png);
}
#sobstvenniki-depozit-1 {
  background-image: url(images/73c4f5401794c34950e6.png);
}
#sobstvenniki-depozit-2 {
  background-image: url(images/7cfcaaa31274580879e8.png);
}

.kvest-po-vosstanovleniyu-pasporta {
  background-image: url(images/0a07513934ddbf18177e.png);
}
#kvest-pasport-1 {
  background-image: url(images/70d1a3187c2d869fda92.png);
}
#kvest-pasport-2 {
  background-image: url(images/1622fb6fa076d639e4aa.png);
}

.kak-podgotovitsya-k-zashchite-diploma-i-ne-posedet-za-mesyac-do {
  background-image: url(images/91303a7004659cbb443d.png);
}
#zashchit-diploma-1 {
  background-image: url(images/64477a8b50a136ea9712.png);
}
#zashchit-diploma-2 {
  background-image: url(images/c62ca3072c2244ac308a.png);
}

.rabota-i-uchyoba-odnovremenno {
  background-image: url(images/36c39a4aa9973ad7bd5e.png);
}
#rabota-i-uchyoba-odnovremenno-1 {
  background-image: url(images/2ed843ba16c218d8acf6.png);
}
#rabota-i-uchyoba-odnovremenno-2 {
  background-image: url(images/890405303c7b94bbb402.png);
}
