.O_main {
  gap: 96rem;
  margin-top: 96rem;
}

.O_question_block {
  height: 267rem;
}

body.career {
  background-color: var(--base-career-500);
}
body.home {
  background-color: var(--base-home-500);
}
body.health {
  background-color: var(--base-health-500);
}
body.docs {
  background-color: var(--base-docs-500);
}
body.finance {
  background-color: var(--base-finance-500);
}
body.life {
  background-color: var(--base-life-500);
}

.title_h1 {
  color: var(--base-500);
  max-width: 1440rem;
}

.title_h4 {
  color: var(--base-500);
}
.W_content_card {
  transition: all ease 0.3s;
}
.W_content_card.career:hover {
  color: var(--base-career-500);
}
.W_content_card.docs:hover {
  color: var(--base-docs-500);
}
.W_content_card.health:hover {
  color: var(--base-health-500);
}
.W_content_card.life:hover {
  color: var(--base-life-500);
}
.W_content_card.finance:hover {
  color: var(--base-finance-500);
}
.W_content_card.home:hover {
  color: var(--base-home-500);
}
.article_card_img {
  border-radius: 20rem;
  width: 100%;
  height: 260rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article_header h1 {
  text-align: left;
}

.article_main {
  gap: 20rem;
}

.A_article_block_img {
  border-radius: 12rem;
  width: 966rem;
  height: 460rem;
  background-position: center;
  background-size: cover;
}

.W_article_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 48rem;
  border-radius: 24rem;
  padding: 40rem;
  width: 1380rem;
  max-width: 1380rem;
}

.M_author_info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
}

.M_author_block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8rem;
}

.M_author_block img {
  border-radius: 50rem;
}

.M_author_name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0rem;
}

.M_share_block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
}

.share_icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10rem;
}

.article_header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20rem;
  max-width: 968rem;
}

.M_article_tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8rem;
}

.W_article_wrapper.career {
  background-color: var(--base-career-50);
}
.W_article_wrapper.health {
  background-color: var(--base-health-50);
}
.W_article_wrapper.finance {
  background-color: var(--base-finance-50);
}
.W_article_wrapper.life {
  background-color: var(--base-life-50);
}
.W_article_wrapper.docs {
  background-color: var(--base-docs-50);
}
.W_article_wrapper.home {
  background-color: var(--base-home-50);
}

.W_article_wrapper.career, .title_h1.career {
  color: var(--base-career-500);
}

.W_article_wrapper.home, .title_h1.home {
  color: var(--base-home-500);
}

.W_article_wrapper.health, .title_h1.health {
  color: var(--base-health-500);
}

.W_article_wrapper.finance, .title_h1.finance {
  color: var(--base-finance-500);
}

.W_article_wrapper.docs, .title_h1.docs {
  color: var(--base-docs-500);
}

.W_article_wrapper.life, .title_h1.life {
  color: var(--base-life-500);
}

.M_article_info {
  width: 284rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 36rem;
}

.M_article_menu.career a {
  color: var(--base-career-400);
}

.M_article_menu.career a:hover {
  cursor: pointer;
  color: var(--base-career-500);
}

.M_article_menu.career a.active {
  cursor: pointer;
  color: var(--base-career-500);
}

.M_article_menu.home a {
  color: var(--base-home-400);
}

.M_article_menu.home a:hover {
  cursor: pointer;
  color: var(--base-home-500);
}

.M_article_menu.home a.active {
  cursor: pointer;
  color: var(--base-home-500);
}

.M_article_menu.life a {
  color: var(--base-life-400);
}

.M_article_menu.life a:hover {
  cursor: pointer;
  color: var(--base-life-500);
}

.M_article_menu.life a.active {
  cursor: pointer;
  color: var(--base-life-500);
}

.M_article_menu.health a {
  color: var(--base-health-400);
}

.M_article_menu.health a:hover {
  cursor: pointer;
  color: var(--base-health-500);
}

.M_article_menu.health a.active {
  cursor: pointer;
  color: var(--base-health-500);
}

.M_article_menu.docs a {
  color: var(--base-docs-400);
}

.M_article_menu.docs a:hover {
  cursor: pointer;
  color: var(--base-docs-500);
}

.M_article_menu.docs a.active {
  cursor: pointer;
  color: var(--base-docs-500);
}

.M_article_menu.finance a {
  color: var(--base-finance-400);
}

.M_article_menu.finance a:hover {
  cursor: pointer;
  color: var(--base-finance-500);
}

.M_article_menu.finance a.active {
  cursor: pointer;
  color: var(--base-finance-500);
}

ol {
  list-style-type: decimal;
  margin-left: 20rem;
}

.O_question_block.career {
  background-color: var(--base-career-500);
}

.O_question_block.career .text_l_medium {
  color: var(--base-career-50);
}

.O_question_block.career .title_h5 {
  color: var(--base-career-50);
}

.O_question_block.career .text_m_medium {
  color: var(--base-career-500);
}

.O_question_block.career .A_answer {
  background-color: var(--base-career-100);
}

.O_question_block.career .A_answer:hover,
.O_question_block.career.A_answer:active {
  background-color: var(--base-career-200);
  cursor: pointer;
}
.O_question_block.health {
  background-color: var(--base-health-500);
}

.O_question_block.health .text_l_medium {
  color: var(--base-health-50);
}

.O_question_block.health .title_h5 {
  color: var(--base-health-50);
}

.O_question_block.health .text_m_medium {
  color: var(--base-health-500);
}

.O_question_block.health .A_answer {
  background-color: var(--base-health-100);
}

.O_question_block.health .A_answer:hover,
.O_question_block.health.A_answer:active {
  background-color: var(--base-health-200);
  cursor: pointer;
}

.O_question_block.docs {
  background-color: var(--base-docs-500);
}

.O_question_block.docs .text_l_medium {
  color: var(--base-docs-50);
}

.O_question_block.docs .title_h5 {
  color: var(--base-docs-50);
}

.O_question_block.docs .text_m_medium {
  color: var(--base-docs-500);
}

.O_question_block.docs .A_answer {
  background-color: var(--base-docs-100);
}

.O_question_block.docs .A_answer:hover,
.O_question_block.docs.A_answer:active {
  background-color: var(--base-docs-200);
  cursor: pointer;
}

.O_question_block.home {
  background-color: var(--base-home-500);
}

.O_question_block.home .text_l_medium {
  color: var(--base-home-50);
}

.O_question_block.home .title_h5 {
  color: var(--base-home-50);
}

.O_question_block.home .text_m_medium {
  color: var(--base-home-500);
}

.O_question_block.home .A_answer {
  background-color: var(--base-home-100);
}

.O_question_block.home .A_answer:hover,
.O_question_block.home.A_answer:active {
  background-color: var(--base-home-200);
  cursor: pointer;
}

.O_question_block.finance {
  background-color: var(--base-finance-500);
}

.O_question_block.finance .text_l_medium {
  color: var(--base-finance-50);
}

.O_question_block.finance .title_h5 {
  color: var(--base-finance-50);
}

.O_question_block.finance .text_m_medium {
  color: var(--base-finance-500);
}

.O_question_block.finance .A_answer {
  background-color: var(--base-finance-100);
}

.O_question_block.finance .A_answer:hover,
.O_question_block.finance.A_answer:active {
  background-color: var(--base-finance-200);
  cursor: pointer;
}

.O_question_block.life {
  background-color: var(--base-life-500);
}

.O_question_block.life .text_l_medium {
  color: var(--base-life-50);
}

.O_question_block.life .title_h5 {
  color: var(--base-life-50);
}

.O_question_block.life .text_m_medium {
  color: var(--base-life-500);
}

.O_question_block.life .A_answer {
  background-color: var(--base-life-100);
}

.O_question_block.life .A_answer:hover,
.O_question_block.life.A_answer:active {
  background-color: var(--base-life-200);
  cursor: pointer;
}

.C_answer_options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8rem;
}

.A_answer {
  border-radius: 16rem;
  padding: 16rem;
  width: 290rem;
  height: 118rem;
  max-width: 380rem;
  min-height: 72rem;
}

.A_answer.correct {
  background-color: var(--base-success) !important;
}

.A_answer.correct p,
.A_answer.incorrect p {
  color: var(--wb-0) !important;
}

.A_answer.incorrect {
  background-color: var(--base-error) !important;
}

.M_minitest_result_block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20rem;
  width: 100%;
}


.shake_animation {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-15deg); }
  75% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}

@media (max-width: 1024px) {
  .W_article_wrapper {
    width: 90vw;
    padding: 28rem;
  }
  .A_article_block_img {
    width: 100%;
    height: 300rem;
  }
  .C_answer_options {
    flex-direction: column;
    width: 100%;
  }
  .A_answer {
    width: 100%;
  }
  .O_question_block {
    width: 100%;
    height: min-content;
  }
}

@media (max-width: 768px) {
  .title_h1 {
    max-width: 341rem;
  }
  .O_main {
    gap: 40rem;
    margin-top: 60rem;
  }
  .W_article_wrapper {
    width: 90.4vw;
    padding: 20rem 16rem;
    flex-direction: column;
    gap: 28rem;
  }
  .A_article_block_img,
  .O_question_block {
    width: 100%;
  }
  .M_article_menu {
    display: none;
  }
  .C_answer_options {
    flex-direction: column;
  }
  .article_main {
    gap: 20rem;
  }
  .article_header {
    order: 1;
  }
  .M_article_info {
    order: 2;
  }
}
.A_article_block_img.career {
  box-shadow: inset -8px -8px 40px 0 rgba(244, 88, 63, 0.6), inset 8px 8px 40px 0 rgba(244, 88, 63, 0.6);
}
.A_article_block_img.life {
  box-shadow: inset -8px -8px 40px 0 rgba(9, 160, 238, 0.6), inset 8px 8px 40px 0 rgba(9, 160, 238, 0.6);
}
.A_article_block_img.health {
  box-shadow: inset -8px -8px 40px 0 rgba(100, 176, 50, 0.6), inset 8px 8px 40px 0 rgba(100, 176, 50, 0.6);
}
.A_article_block_img.home {
  box-shadow: inset -8px -8px 40px 0 rgba(233, 75, 152, 0.6), inset 8px 8px 40px 0 rgba(233, 75, 152, 0.6);
}
.A_article_block_img.finance {
  box-shadow: inset -8px -8px 40px 0 #ffe146, inset 8px 8px 40px 0 rgba(255, 225, 70, 0.6);
}
.A_article_block_img.docs {
  box-shadow: inset -8px -8px 40px 0 rgba(72, 75, 231, 0.6), inset 8px 8px 40px 0 rgba(72, 75, 231, 0.6);
}

.article_finance {
  box-shadow: inset 8px 8px 40px 0 rgba(255, 174, 0, 0.6), inset -8px -8px 40px 0 rgba(255, 174, 0, 0.6);
}
.article_life {
  box-shadow: inset 8px 8px 40px 0 var(--base-life-300), inset -8px -8px 40px 0 var(--base-life-300);
}
.article_career {
  box-shadow: inset 8px 8px 40px 0 var(--base-career-300), inset -8px -8px 40px 0 var(--base-career-300);
}
.article_health {
  box-shadow: inset 8px 8px 40px 0 var(--base-health-300), inset -8px -8px 40px 0 var(--base-health-300);
}
.article_home {
  box-shadow: inset 8px 8px 40px 0 var(--base-home-300), inset -8px -8px 40px 0 var(--base-home-300);
}
.article_docs {
  box-shadow: inset 8px 8px 40px 0 var(--base-docs-300), inset -8px -8px 40px 0 var(--base-docs-300);
}

.ispytatelnyj-srok-ne-daj-sebya-obmanut {
  background-image: url(images/e7f48217d9639f1c636e.png);
}
#ispytatelnyj-1 {
  background-image: url(images/a06ec5c3eca27a3bca55.png);
}
#ispytatelnyj-2 {
  background-image: url(images/cdae1a688a3199fba561.png);
}
#ispytatelnyj-3 {
  background-image: url(images/84d5b21a8f6d0b6d4d43.png);
}
#ispytatelnyj-4 {
  background-image: url(images/69520e7da55033cc5e83.png);
}
#ispytatelnyj-0 {
  background-image: url(images/d3eb5d0f86af5d12677b.png);
}

.kommunalka-kak-nakruchivayut-pochemu-my-platim-za-soseda-i-chto-takoe-odn {
  background-image: url(images/34003c6a317176d662b4.png);
}
#kommunalka-1 {
  background-image: url(images/20d7ca1031628296a5f9.png);
}
#kommunalka-2 {
  background-image: url(images/9ba3b243dff8f1d4d163.png);
}

.chto-takoe-vyhodnoe-posobie-i-kto-ego-poluchaet {
  background-image: url(images/d4d9743f761ba796e13e.png);
}
#vyhodnoe-posobie {
  background-image: url(images/5537b0425b6388eb5cd5.png);
}

.pochemu-nas-uvolnyayut-yuridicheskie-i-psihologicheskie-prichiny {
  background-image: url(images/ffcca6fec3dadd9893e2.png);
}
#pochemu-nas-uvolnyayut-1 {
  background-image: url(images/82a018cfa77003340229.png);
}
#pochemu-nas-uvolnyayut-2 {
  background-image: url(images/3eee858aaf9f8ec542de.png);
}

.chto-proiskhodit-s-vashimi-dannymi-esli-telefon-ukrali {
  background-image: url(images/19024be1269c7c93a4c2.png);
}
#telefon-ukrali-1 {
  background-image: url(images/ff01b2b9eca1fb991b0a.png);
}
#telefon-ukrali-2 {
  background-image: url(images/a9b9e55f968025cbd0b1.png);
}

.kak-ustroen-chernyj-rynok-dokumentov {
  background-image: url(images/0ae52a96d8fd49b3ed2e.png);
}
#chernyj-rynok-dokumentov-1 {
  background-image: url(images/8967bd9a879651c5e3a6.png);
}
#chernyj-rynok-dokumentov-2 {
  background-image: url(images/d639ff781e473ea2421c.png);
}

.prosrochennaya-viza-i-poteryannyj-zagranpasport {
  background-image: url(images/a212160d2bf1d712ff7d.png);
}
#prosroch-1 {
  background-image: url(images/8f6c4d66609dc3418ced.png);
}
#prosroch-2 {
  background-image: url(images/b2f0b6337378eab3105f.png);
}

.kvartira-v-novom-gorode {
  background-image: url(images/2375f450ffd329394ac1.png);
}
#kvartira-v-novom-gorode-1 {
  background-image: url(images/a581880e521a5e6ab462.png);
}

.pervyj-mesyac-v-novom-gorode {
  background-image: url(images/9ef1b8749b83bb2adda5.png);
}
#pervyj-mesyac-v-novom-gorode_1 {
  background-image: url(images/52685333a13cbd300b92.png);
}

.propiska-voenkomat-polis {
  background-image: url(images/1c35666f5f1d0b8a4f05.png);
}
#propiska-voenkomat-polis_1 {
  background-image: url(images/396665b09da13dfeb7a7.png);
}

.pervaya-mashina-kak-ne-popast-na-dengi {
  background-image: url(images/dfd41c3fdeaa338aed0b.png);
}
#pervaya-mashina-1 {
  background-image: url(images/cb0abe89d879016d9e43.png);
}
#pervaya-mashina-2 {
  background-image: url(images/b5c8ea316260057cb309.png);
}
#pervaya-mashina-3 {
  background-image: url(images/cfc8ab5ed22e3508be2e.png);
}

.pochemu-prokrastinaciya-pobezhdaet-v-sessiyu {
  background-image: url(images/acb1ee4176ba988676c7.png);
}
#prokrastinaciya-1 {
  background-image: url(images/a37f2d03e2a48985e19f.png);
}
#prokrastinaciya-2 {
  background-image: url(images/1f48de7be77bf977168d.png);
}
#prokrastinaciya-3 {
  background-image: url(images/8e9d5ec214afcbe0f647.png);
}

.kak-ustroena-adaptaciya-na-pervoj-rabote {
  background-image: url(images/d1f30eaff069d995f290.png);
}
#adaptaciya_1 {
  background-image: url(images/8de815e12c59adf7545c.png);
}
#adaptaciya_2 {
  background-image: url(images/096675d9b01147525d14.png);
}
#adaptaciya_3 {
  background-image: url(images/9009a4915f4aa638e2d0.png);
}

.sokrashchenie-likvidaciya-po-sobstvennomu {
  background-image: url(images/9763ed2b28c2b57a487c.png);
}
#sokrashchenie_1 {
  background-image: url(images/9848b17df112fcbbe37e.png);
}
#sokrashchenie_2 {
  background-image: url(images/86282ae3be55b4f6d6a2.png);
}
#sokrashchenie_3 {
  background-image: url(images/09d363fbb9c49ea80e8f.png);
}

.minimalnyj-nabor-dlya-zhizni {
  background-image: url(images/c4ea4015de289976537a.png);
}
#minimalnyj-nabor-dlya-zhizni_1 {
  background-image: url(images/e03d9cf4e76bbea63289.png);
}
#minimalnyj-nabor-dlya-zhizni_2 {
  background-image: url(images/26149573a74ab741f512.png);
}
#minimalnyj-nabor-dlya-zhizni_3 {
  background-image: url(images/5a20d2092936f29dc1b5.png);
}

.nestabilnost-na-frilanse {
  background-image: url(images/14c40b8ab1e0ce8ac810.png);
}
#nestabilnost-na-frilanse_1 {
  background-image: url(images/3e93f1efe636971c3c1c.png);
}
#nestabilnost-na-frilanse_2 {
  background-image: url(images/8d75d34daaebad751410.png);
}
#nestabilnost-na-frilanse_3 {
  background-image: url(images/b9ddb4bc5193e1ac6481.png);
}

.pochemu-novichki-za-rulem-chashche-popadayut-v-dtp {
  background-image: url(images/43dd1b1378c705bdb057.png);
}
#novichki-za-rulem-1 {
  background-image: url(images/fac87f907ffc41a02896.png);
}
#novichki-za-rulem-2 {
  background-image: url(images/f6349a639785172590e3.png);
}

.pochemu-byt-zhret-vremya-i-kak-ustroena-mentalnaya-nagruzka {
  background-image: url(images/d025307a1ae58be6f9b5.png);
}
#mentalnaya-nagruzka-1 {
  background-image: url(images/1c0ef56b2b4e7b388109.png);
}
#mentalnaya-nagruzka-2 {
  background-image: url(images/ae0bb3d9350e28def175.png);
}

.strahovka-nalog-to-obyazatelnye-platezhi-avtovladelca {
  background-image: url(images/f838702fe8ea7f4ff07e.png);
}
#platezhi-avtovladelca_1 {
  background-image: url(images/da2f17a27f838ac4e28e.png);
}
#platezhi-avtovladelca_2 {
  background-image: url(images/0aef545afa59ccf1ab08.png);
}

.pochemu-rabotodateli-ne-lyubyat-novichkov {
  background-image: url(images/98770a0fa6369eca4c07.png);
}
#pochemu-rabotodateli_1 {
  background-image: url(images/2b8caa8cbb54c34e0ee8.png);
}
#pochemu-rabotodateli_2 {
  background-image: url(images/3d7c22d912b97e7b03c8.png);
}

.pochemu-sobstvenniki-ne-vozvrashchayut-depozit-5-samyh-chastyh-skhem {
  background-image: url(images/90fb42ceb5f107fd40fb.png);
}
#sobstvenniki-depozit-1 {
  background-image: url(images/73c4f5401794c34950e6.png);
}
#sobstvenniki-depozit-2 {
  background-image: url(images/7cfcaaa31274580879e8.png);
}

.kvest-po-vosstanovleniyu-pasporta {
  background-image: url(images/0a07513934ddbf18177e.png);
}
#kvest-pasport-1 {
  background-image: url(images/70d1a3187c2d869fda92.png);
}
#kvest-pasport-2 {
  background-image: url(images/1622fb6fa076d639e4aa.png);
}

.kak-ne-poteryat-dengi-na-kartah-i-obmennikah-v-drugoj-strane {
  background-image: url(images/b5a37a6bd6f5c44fefba.png);
}
#dengi-1 {
  background-image: url(images/5fb9b500c6f6ab07a302.png);
}
#dengi-2 {
  background-image: url(images/f3bf9200de2ec4765a15.png);
}

.kak-splanirovat-pervuyu-poezdku-za-granicu {
  background-image: url(images/ce6e66952fa88b2b5251.png);
}
#splanirovat-poezdku_1 {
  background-image: url(images/9a5234118daf35f05d59.png);
}
#splanirovat-poezdku_2 {
  background-image: url(images/3b660eb0107890df0a13.png);
}

.kak-podgotovitsya-k-zashchite-diploma-i-ne-posedet-za-mesyac-do {
  background-image: url(images/91303a7004659cbb443d.png);
}
#zashchit-diploma-1 {
  background-image: url(images/64477a8b50a136ea9712.png);
}
#zashchit-diploma-2 {
  background-image: url(images/c62ca3072c2244ac308a.png);
}

.rabota-i-uchyoba-odnovremenno {
  background-image: url(images/36c39a4aa9973ad7bd5e.png);
}
#rabota-i-uchyoba-odnovremenno-1 {
  background-image: url(images/2ed843ba16c218d8acf6.png);
}
#rabota-i-uchyoba-odnovremenno-2 {
  background-image: url(images/890405303c7b94bbb402.png);
}

.kto-dolzhen-platit-za-remont-esli-slomalas-tekhnika {
  background-image: url(images/b82ca480ee2479077b87.png);
}
#kto-dolzhen-platit-za-remont-esli-slomalas-tekhnika_1 {
  background-image: url(images/93474d8aaa467b2b6704.png);
}
#kto-dolzhen-platit-za-remont-esli-slomalas-tekhnika_2 {
  background-image: url(images/d8af8eede08dde93b845.png);
}

.chto-takoe-dogovor-najma {
  background-image: url(images/5cb8c40a5bd2cf47730e.png);
}
#chto-takoe-dogovor-najma_1 {
  background-image: url(images/fc231ec646ac89c01961.png);
}

.nalogi-dlya-samozanyatyh {
  background-image: url(images/138f7c527d708f00c75c.png);
}
#nalogi-dlya-samozanyatyh_1 {
  background-image: url(images/de729081a1e8525402fd.png);
}

.frilans-vs-ofis {
  background-image: url(images/33868080449da1b3723c.png);
}
#frilans-vs-ofis_1 {
  background-image: url(images/717ea5745d8550ad8cc5.png);
}
#frilans-vs-ofis_2 {
  background-image: url(images/f35fd863ed64a930d7a5.png);
}

.kak-ustroeno-starenie {
  background-image: url(images/648741387f5b28f5510a.png);
}
#kak-ustroeno-starenie_1 {
  background-image: url(images/d0e735d11dd7bb435ba4.png);
}
#kak-ustroeno-starenie_2 {
  background-image: url(images/13ffd18e9490bd713180.png);
}

.posobiya-po-uhodu {
  background-image: url(images/f266e51cbe49509ae901.png);
}

.besplatnaya-pomoshch-pensioneram {
  background-image: url(images/0c404e1a3c6bcbb831e3.png);
}
#besplatnaya-pomoshch-pensioneram_1 {
  background-image: url(images/ff1706496600bac4acd9.png);
}

.ipoteka {
  background-image: url(images/1906a2cedca2ab246dd3.png);
}
#ipoteka-1 {
  background-image: url(images/2980efd03581b7a97624.png);
}
#ipoteka-2 {
  background-image: url(images/cf4dd74a720509400ac4.png);
}

.skrytye-raskhody-pri-pokupke-kvartiry {
  background-image: url(images/c0c84811583f1cfd9d0d.png);
}

#skrytye-raskhody-pri-pokupke-kvartiry_1 {
  background-image: url(images/ef135331ace4a9944fc3.png);
}

.novostrojka-vs-vtorichka {
  background-image: url(images/c1c9b2898967eaa8f0b7.png);
}
#novostrojka-vs-vtorichka-1 {
  background-image: url(images/106a522958c3eac7eaa6.png);
}
#novostrojka-vs-vtorichka-2 {
  background-image: url(images/c6bf18a40dacd83b2f2b.png);
}
#novostrojka-vs-vtorichka-3 {
  background-image: url(images/2b0b9253a63a1d05c5f9.png);
}
#novostrojka-vs-vtorichka-4 {
  background-image: url(images/ad6d283f8e632718072b.png);
}

.razdelnyj-ili-obshchij-byudzhet {
  background-image: url(images/94c31bb3b1ae094ed8b8.png);
}
#razdelnyj-ili-obshchij-byudzhet-1 {
  background-image: url(images/8963fc6f30468c2270ef.png);
}
#razdelnyj-ili-obshchij-byudzhet-2 {
  background-image: url(images/d2ad2813a09758ed5e75.png);
}
#razdelnyj-ili-obshchij-byudzhet-3 {
  background-image: url(images/9aac4320605252cc471e.png);
}

.oshibki-nalogovoj {
  background-image: url(images/b5c8f8a1074c2331ddec.png);
}
#oshibki-nalogovoj-1 {
  background-image: url(images/64d6f0540a1d9881333f.png);
}

.prichina-razvodov {
  background-image: url(images/3a60dca79e3e7f8e22a8.png);
}
#prichina-razvodov-1 {
  background-image: url(images/08c337e963b303d465d3.png);
}

.oplata-dolgov-posle-rasstavaniya {
  background-image: url(images/a3f848cd4b5be0f078de.png);
}

.samozanyatost-ip-fizlico {
  background-image: url(images/587971a26b0562db8455.png);
}
#samozanyatost-ip-fizlico-1 {
  background-image: url(images/10373f906529c6ef9124.png);
}
#samozanyatost-ip-fizlico-2 {
  background-image: url(images/d69157ba5f54079d9261.png);
}
#samozanyatost-ip-fizlico-3 {
  background-image: url(images/2bb8d0b596d4d5ccce26.png);
}

.kak-rabotaet-ndfl {
  background-image: url(images/e024c8dfad2988f878cb.png);
}

#kak-rabotaet-ndfl-1 {
  background-image: url(images/85c78fcd1952661a50d3.png);
}

.kak-ustroena-sistema-oms {
  background-image: url(images/948d25b1366885ee3f9c.png);

}
#kak-ustroena-sistema-oms-1 {
  background-image: url(images/defb47e91ac21c335643.png);
}
#kak-ustroena-sistema-oms-2 {
  background-image: url(images/3adc093d5a8d892ef9ee.png);
}

.informirovannoe-soglasie {
  background-image: url(images/a361b5fbc411704c7fd4.png);
}

.platnaya-vs-besplatnaya-medicina{
  background-image: url(images/b561047238b285ab28d2.png);
}
#platnaya-vs-besplatnaya-medicina-1{
  background-image: url(images/9e9170767e2954fbb62b.png);
}
#platnaya-vs-besplatnaya-medicina-2{
  background-image: url(images/08b5f910ebc855c933c7.png);
}

.rassrochka-vs-kredit {
  background-image: url(images/17a0e403f3fb5a76f517.png);
}
#rassrochka-vs-kredit-1 {
  background-image: url(images/f0a656246c29e6ddb292.png);
}

.kreditnaya-istoriya {
  background-image: url(images/823eca04f921fe5013d1.png);
}
#kreditnaya-istoriya-1 {
  background-image: url(images/09263b93c083f82cf12c.png);
}

.komu-banki-odobryayut-kredity {
  background-image: url(images/3256b0b14eb53a407cfe.png);
}
#komu-banki-odobryayut-kredity-1 {
  background-image: url(images/f750e9fd504aa8740b35.png);
}
