.O_main {
  gap: 96rem;
  margin-top: 96rem;
}

.dictionary_main.title_h1 {
  max-width: 911rem;
  text-align: center;
  color: var(--base-500);
}

.glossary_card_img {
  border-radius: 20rem;
  width: 100%;
  height: 351rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a.docs p {
  color: var(--base-docs-500);
}

.M_glossary_card {
  perspective: 1000px;
  cursor: pointer;
  position: relative;
}

.card_front,
.card_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  display: flex;
  flex-direction: column;
}

.card_back {
  transform: rotateY(180deg);
  justify-content: flex-end;
  border-radius: 24rem;
  padding: 16rem;
}

.card_front.hidden {
  transform: rotateY(180deg);
}

.card_back.visible {
  transform: rotateY(0deg);
}


.M_glossary_card:hover .A_flip_icon {
  opacity: 1;
}


@media (max-width: 768px) {

  .M_glossary_card {
    height: 220px;
  }
}
.card_back.docs {
  background-color: var(--base-docs-100);
  color: var(--base-docs-500);
}
.card_back.career {
  background-color: var(--base-career-100);
  color: var(--base-career-500);
}
.card_back.finance {
  background-color: var(--base-finance-100);
  color: var(--base-finance-500);
}
.card_back.health {
  background-color: var(--base-health-100);
  color: var(--base-health-500);
}
.card_back.life {
  background-color: var(--base-life-100);
  color: var(--base-life-500);
}
.card_back.home {
  background-color: var(--base-home-100);
  color: var(--base-home-500);
}

.oms {
  background-image: url(images/02ef054f12e990c49056.png);
}
.ndfl {
  background-image: url(images/4d8ae3cf217cef5a9313.png);
}
.ispytatelnyj {
  background-image: url(images/fea5a20fd3456dfdbb3b.png);
}
.mrot {
  background-image: url(images/1d972f0c652b5b84445b.png);
}
.snils {
  background-image: url(images/cadae744073714c09984.png);
}

