/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
@font-face {
    font-family: 'Onest';
    src: url(fonts/c7bf26c56da7c42da6bf.woff) format('woff'),
         url(fonts/f160dbadba4f367f46cf.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Onest';
    src: url(fonts/3900249b3654582e4450.woff) format('woff'),
         url(fonts/5651fdc8de9674860c8c.woff2) format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Non-Bureau';
    src: url(fonts/89c309d4ab5ed6afb488.woff) format('woff'),
         url(fonts/727842eef1c59f8bcd89.woff2) format('woff2');
    font-weight: 500;
}
* {
  box-sizing: border-box;
}

:root {
  --dark-grey: #141414;
  --grey: #696969;
  --light-grey: #EEEEEE;
}

html {
  font-size: calc(1vw / 14.4);
}

body {
  background-color: var(--light-grey);
  overflow-x: hidden;
}

.title_h1 {
  font-family: 'Non-Bureau', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 68rem;
  line-height: 100%;
  letter-spacing: 0.02em;
}

.title_h2 {
  font-family: 'Non-Bureau', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 56rem;
  line-height: 100%;
  letter-spacing: 0.02em;
}

.title_h4 {
  font-family: 'Non-Bureau', Arial, Helvetica, sans-serif;
  line-height: 100%;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 36rem;
}

.title_h5 {
  font-family: 'Non-Bureau', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 28rem;
  color: var(--dark-grey);
  line-height: 100%;
  letter-spacing: 0.02em;

}

.text_l {
  font-family: 'Onest', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 24rem;
}

.text_l_semibold {
  font-size: 24rem;
  font-family: 'Onest', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.text_m {
  font-family: 'Onest', Arial, Helvetica, sans-serif;
  font-size: 18rem;
  font-weight: 400;
  line-height: 130%;
}

.text_s {
  font-family: 'Onest', Arial, Helvetica, sans-serif;
  font-size: 14rem;
  line-height: 120%;
  color: var(--dark-grey);
  font-weight: 400;
}

.button {
  border: none;
  border-radius: 40rem;
  background-color: var(--dark-grey);
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: #1F1F1F;
}

.button:active {
  background-color: #0c0c0c;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40rem;
}

.footer-container {
  position: relative;
  display: flex;
  gap: 100rem;
  border-radius: 40rem;
  padding: 30rem 30rem;
  width: 1358rem;
  height: 307rem;
  background-color: white;
}

.footer-form .title_h4 {
  margin-bottom: 16rem;
}

.footer-text-m {
  margin-bottom: 30rem;
}

.footer-form form {
  margin-bottom: 20rem;
}

.footer-creators-container {
  display: flex;
  gap: 32rem;
}

.footer-creators-container .text_m {
  color: var(--grey);
}

.footer-creators .text_l_semibold {
  margin-bottom: 12rem;
}

.footer-img {
  position: absolute;
}

.footer-img:nth-of-type(1) {
  width: 138rem;
  top: 82rem;
  left: 659rem;
  transform: rotate(-15deg);
}

.footer-img:nth-of-type(2) {
  width: 65rem;
  top: 127rem;
  left: 945rem;
  transform: rotate(2deg);
}

.footer-img:nth-of-type(3) {
  width: 84rem;
  top: 125rem;
  left: 1156rem;
  transform: rotate(20deg);
}
/* PRE-LAUNCH PAGE */

.prelaunch-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56rem;
  padding-top: 46rem;
  margin-bottom: 33rem;
}

.prelaunch-nav-item {
  display: inline-block;
}

a.prelaunch-nav-item {
  color: var(--grey);
  transition: 0.5s ease;
}

a.prelaunch-nav-item:hover {
  color: var(--dark-grey);
}

p.prelaunch-nav-item {
  color: var(--dark-grey);
}

.prelaunch-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prelaunch-container {
  position: relative;
  width: 1362rem;
  height: 636rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 36rem;
  box-shadow: 1px 4px 6px 0 rgba(197, 197, 197, 0.25);
  margin-bottom: 41rem;
  padding-top: 64rem;
}

.prelaunch-container h1 {
  max-width: 1014rem;
  text-align: center;
  color:  var(--dark-grey);
  margin-bottom: 34rem;
}

.prelaunch-container p {
  color: var(--grey);
  max-width: 674rem;
  text-align: center;
  margin-bottom: 44rem;
}

.input-container {
  display: flex;
  gap: 8rem;
}

.prelaunch-form-input {
  width: 358rem;
  height: 57rem;
  background-color: var(--light-grey);
  border: none;
  border-radius: 40rem;
  padding-left: 25rem;
}

.prelaunch-form-btn {
  width: 170rem;
  height: 56rem;
  transition: 0.5s ease;
}

.social-links {
  display: flex;
  gap: 9rem;
}

.social-link {
  display: inline-block;
}

.social-link-img {
  width: 70rem;
  height: 70rem;
}

.prelaunch-character {
  position: absolute;
}

.drag-drop-box {
  width: 1362rem;
  height: 636rem;
  position: absolute;
  top: 0;
  left: 0;
}

.prelaunch-character:nth-of-type(1) {
  width: 126rem;
  rotate: -25deg;
  top: 83rem;
  left: 1166rem;
}

.prelaunch-character:nth-of-type(2) {
  width: 210rem;
  rotate: -13deg;
  top: 352rem;
  left: 119rem;
}

.prelaunch-character:nth-of-type(3) {
  width: 284rem;
  rotate: 13deg;
  top: 281rem;
  left: 982rem;
}

.prelaunch-character:nth-of-type(4) {
  width: 129rem;
  top: 178rem;
  left: 33rem;
}

.prelaunch-character:hover {
  rotate: 5deg;
}

/* ARTICLES */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 64rem;
  padding: 16rem 16rem 16rem 32rem;
  width: 1360rem;
  height: 95rem;
  box-shadow: 1px 4px 9px 0 rgba(197, 197, 197, 0.25);
  background-color: #fff;
  margin-top: 40rem;
  margin-bottom: 79rem;
}

.mobile-nav, .dropdown-menu, .dropdown-search {
  display: none;
}


.nav-container {
  display: flex;
  gap: 28rem;
}

.nav-container .text_l {
  color: var(--grey);
}

.nav-container .text_l:hover {
  color: var(--dark-grey);
}

.articles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  color: var(--dark-grey);
}

.nav-search-container {
  display: flex;
  gap: 8rem;
}

.search-input {
  border-radius: 64rem;
  padding: 20rem 16rem 20rem 44rem;
  width: 500rem;
  height: 63rem;
  background-color: var(--light-grey);
  border: none;
  font-size: 18rem;
  background-image: url(images/bdbcf710adaa5f73804b.svg);
  background-repeat: no-repeat;
  background-position: 20rem center;
}

.search-button {
  padding: 20rem 40rem;
  width: 133rem;
  height: 63rem;
}

.articles-cover {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80rem;
}

.articles-cover .title_h1 {
  max-width: 569rem;
  text-align: center;
  margin-bottom: 40rem;
}

.articles-cover .text_l {
  max-width: 668rem;
  text-align: center;
}

.articles-cover img {
  position: absolute;
}

.articles-cover img:first-of-type {
  transform: rotate(-10deg);
  top: 5rem;
  left: 70rem;
  width: 233rem;
}

.articles-cover img:last-of-type {
  transform: rotate(18deg);
  top: 5rem;
  left: 1070rem;
  width: 242rem;
}

.articles-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16rem;
  margin-bottom: 80rem;
}

.articles-category {
  position: relative;
  flex-basis: 30%;
  border-radius: 28rem;
  padding: 28rem;
  width: 443rem;
  height: 200rem;
  box-shadow: 1rem 4rem 9rem 0 rgba(197, 197, 197, 0.25);
  background-color: white;
}

.articles-category img {
  position: absolute;
}

.articles-category .health-img {
  transform: rotate(15deg);
  top: 27rem;
  left: 273rem;
  width: 150rem;
}

.articles-category .finance-img {
  top: 27rem;
  left: 273rem;
  width: 138rem;
}

.articles-category .routine-img {
  transform: rotate(15deg);
  top: 30rem;
  left: 267rem;
  width: 154rem;
}

.articles-category .career-img {
  top: 32rem;
  left: 280rem;
  width: 134rem;
}

.articles-category .docs-img {
  top: 31rem;
  left: 293rem;
  width: 122em;
}

.articles-category .lifestyle-img {
  top: 40rem;
  left: 273rem;
  width: 123rem;
}

.articles-category .text_m {
  max-width: 255rem;
  color: var(--grey);
}

.articles-category .title_h5 {
  margin-bottom: 16rem;
}

.latest-articles-container {
  display: flex;
  gap: 16rem;
  margin-bottom: 77rem;
}

.latest-articles .title_h1 {
  text-align: center;
  margin-bottom: 32rem;
}

.latest-article {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
  border-radius: 28rem;
  padding: 16rem;
  width: 442rem;
  height: 495rem;
  box-shadow: 1rem 4rem 9rem 0 rgba(197, 197, 197, 0.25);
  background-color: white;
}

.latest-article .text_m {
  color: var(--grey);
}

.latest-article .text_l_semibold {
  color: var(--dark-grey);
}

.article-tag {
  border-radius: 24rem;
  padding: 8rem 12rem;
  height: 33rem;
  position: absolute;
  background-color: white;
  top: 28rem;
  left: 28rem;
}
@media screen and (max-width: 1280px) {
  html {
    font-size: calc(1vw / 10.2);
  }
  .prelaunch-nav {
    margin-bottom: 39rem;
  }
  p.prelaunch-nav-item {
    line-height: 100%;
  }
  .prelaunch-container {
    width: 949rem;
    height: 1205rem;
    margin-bottom: 40rem;
    padding-top: 278rem;
  }
  .prelaunch-container h1 {
    max-width: 809rem;
    margin-bottom: 45rem;
  }
   .prelaunch-container p {
    margin-bottom: 60rem;
    max-width: 523rem;
   }
  .input-container {
    flex-direction: column;
    gap: 10rem;
  }
  .prelaunch-form-input, .prelaunch-form-btn {
    border-radius: 51rem;
    padding: 19rem 32rem;
    width: 400rem;
    height: 71rem;
    font-size: 23rem;
  }
  .social-links {
    gap: 8rem;
  }
  .prelaunch-character:nth-of-type(1) {
    width: 125.6rem;
    height: 125.6rem;
    rotate: 23deg;
    top: 47rem;
    left: 708rem;
  }
.prelaunch-character:nth-of-type(2) {
    width: 173rem;
    height: 180rem;
    top: 33rem;
    left: 37rem;
  }
  .prelaunch-character:nth-of-type(3) {
    width: 246rem;
    height: 246rem;
    top: 881rem;
    left: 588rem;
    rotate: 23deg;
  }
.prelaunch-character:nth-of-type(4) {
    width: 130rem;
    height: 130rem;
    top: 935rem;
    left: 80rem;
  }
}

@media screen and (max-width: 780px) {
  html {
    font-size: calc(1vw / 3.7);
  }

  .prelaunch-nav {
    gap: 40rem;
    margin-bottom: 23rem;
    padding-top: 30rem;
  }

  p.prelaunch-nav-item {
    font-size: 28rem;
    line-height: 100%;
    letter-spacing: 0.02em;
  }

  a.prelaunch-nav-item {
    font-size: 18rem;
    line-height: 130%;
  }

  .prelaunch-container {
    width: 344rem;
    height: 573rem;
    border-radius: 24rem;
    margin-bottom: 27rem;
    padding-top: 28rem;
    overflow: hidden;
  }

  .prelaunch-container h1 {
    max-width: 312rem;
    margin-bottom: 24rem;
  }
  .prelaunch-container p {
    margin-bottom: 40rem;
   }
  .title_h1 {
    font-size: 28rem;
    line-height: 100%;
    letter-spacing: 0.02em;
  }

  .text_l {
    font-size: 18px;
    line-height: 130%;
  }

  .input-container {
    flex-direction: column;
    gap: 8rem;
  }

  .prelaunch-form-input, .prelaunch-form-btn {
    padding: 15rem 25rem;
    width: 312rem;
    height: 56rem;
    font-size: 18rem;
  }

  .social-link-img {
    width: 56rem;
    height: 56rem;
  }

  .social-links {
    gap: 8rem;
  }

  .prelaunch-character:nth-of-type(1) {
    width: 68rem;
    height: 68rem;
    top: 98rem;
    left: 260.3rem;
  }

.prelaunch-character:nth-of-type(2) {
    width: 107rem;
    height: 112rem;
    top: 464rem;
    left: -6.18rem;
  }

  .prelaunch-character:nth-of-type(3) {
    width: 132rem;
    height: 132rem;
    top: 449.8rem;
    left: 238rem;
  }

.prelaunch-character:nth-of-type(4) {
    width: 65rem;
    height: 65rem;
    top: 112rem;
    left: 7rem;
  }

  /* ARTICLES */

  .desktop-nav, .desktop-search {
    display: none;
  }

  .mobile-nav {
    display: flex;
    align-items: center;
  }

  .search-button-mobile {
    border: none;
    border-radius: 100rem;
    background-color: var(--dark-grey);
    background-image: url(images/01846f1d6b55cedac496.svg);
    width: 48rem;
    height: 48rem;
    background-size: 18rem;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hamburger {
    width: 48rem;
    height: 48rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--dark-grey);
    border-radius: 40rem;
  }

  .hamburger .line{
    width: 24rem;
    height: 2rem;
    background-color: white;
    display: block;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.is-active .line:nth-child(2){
    opacity: 0;
  }

  .hamburger.is-active .line:nth-child(1){
    transform: translateY(13px) rotate(45deg);
  }

  .hamburger.is-active .line:nth-child(3){
    transform: translateY(-13px) rotate(-45deg);
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 80rem;
  }

  .dropdown-menu.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28rem;
  }
  .navigation {
    background-color: var(--light-grey);
  }
 }

