/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
button {
	border: none;
	padding: 0;
	padding-block: 0;
	padding-inline: 0;
}

input {
	border: none;
}
@font-face {
    font-family: 'TTCommons';
    src: url(fonts/dcfd1567a171a24deb54.woff2) format('woff2'),
         url(fonts/6e64b30e835e5872e224.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'TTCommons';
    src: url(fonts/68e987593063265c688c.woff2) format('woff2'),
         url(fonts/8e7d7a3962646adbad25.woff) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'TTCommons';
    src: url(fonts/7f17e3b07384395da584.woff2) format('woff2'),
         url(fonts/dbc16e7a4d4aa8da9b7d.woff) format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'TTCommons';
    src: url(fonts/869ee89ffcd0bd8f7d13.woff2) format('woff2'),
         url(fonts/36b06bbb8c98131d5a5b.woff) format('woff');
    font-weight: 700;
}

.text_s {
  font-weight: 400;
  font-size: 16rem;
  line-height: 100%;
}

.text_m {
  font-weight: 400;
  font-size: 20rem;
  line-height: 100%;
}

.text_m_medium {
  font-weight: 500;
  font-size: 20rem;
  line-height: 100%;
}

.text_l_medium {
  font-weight: 500;
  font-size: 24rem;
  line-height: 100%;
}

.title_h5 {
  font-weight: 500;
  font-size: 32rem;
  line-height: 100%;
  color: var(--wb-900);
}

.title_h4 {
  font-weight: 500;
  font-size: 40rem;
  line-height: 100%;
}

.title_h3 {
  font-weight: 500;
  font-size: 48rem;
  line-height: 83%;
}
:root {
  /* palette */

	--base-50: #faf1ff;
	--base-100: #e2d1ff;
	--base-200: #caafff;
	--base-300: #b48dff;
	--base-400: #9e6cff;
	--base-500: #8f58fa;
	--base-600: #6f3bca;
	--base-700: #562f9d;
	--base-800: #3e256f;
	--base-900: #271a46;
	--base-950: #130d23;

  --wb-0: #FFFFFF;
  --wb-50: #F5F5F5;
  --wb-100: #EBEBEB;
  --wb-200: #D6D6D6;
  --wb-300: #C2C2C2;
  --wb-400: #ADADAD;
  --wb-500: #999999;
  --wb-600: #7B7B7B;
  --wb-700: #5E5E5E;
  --wb-800: #404040;
  --wb-850: #313131;
  --wb-900: #232323;
  --wb-950: #141414;
  --wb-1000: #050505;

	--base-finance-50: #fffdea;
	--base-finance-100: #fff7c5;
	--base-finance-200: #fff085;
	--base-finance-300: #ffe146;
	--base-finance-400: #ffcf1b;
	--base-finance-500: #ffae00;
	--base-finance-600: #e28400;
	--base-finance-700: #bb5c02;
	--base-finance-800: #984708;
	--base-finance-900: #7c3a0b;
	--base-finance-950: #481d00;

	--base-chores-50: #fdf2f8;
	--base-chores-100: #fce7f3;
	--base-chores-200: #fad0e8;
	--base-chores-300: #f9b8db;
	--base-chores-400: #f274b5;
	--base-chores-500: #e94b98;
	--base-chores-600: #d82a76;
	--base-chores-700: #bb1b5c;
	--base-chores-800: #9b194c;
	--base-chores-900: #811a43;
	--base-chores-950: #4f0824;

	--base-health-50: #f3faeb;
	--base-health-100: #e2f4d3;
	--base-health-200: #c8ebab;
	--base-health-300: #a9de82;
	--base-health-400: #83ca51;
	--base-health-500: #64b032;
	--base-health-600: #4b8c24;
	--base-health-700: #3b6b20;
	--base-health-800: #31561e;
	--base-health-900: #2c491e;
	--base-health-950: #14280b;

	--base-lifestyle-50: #f0f9ff;
	--base-lifestyle-100: #dff1ff;
	--base-lifestyle-200: #b8e4ff;
	--base-lifestyle-300: #82d3ff;
	--base-lifestyle-400: #33b9fd;
	--base-lifestyle-500: #09a0ee;
	--base-lifestyle-600: #007fcc;
	--base-lifestyle-700: #0065a5;
	--base-lifestyle-800: #045688;
	--base-lifestyle-900: #0a4870;
	--base-lifestyle-950: #062d4b;

	--base-career-50: #fef4f2;
	--base-career-100: #ffe5e1;
	--base-career-200: #ffcfc8;
	--base-career-300: #ffafa2;
	--base-career-400: #fc8370;
	--base-career-500: #f4583f;
	--base-career-600: #e13b21;
	--base-career-700: #be2e17;
	--base-career-800: #9d2917;
	--base-career-900: #82281a;
	--base-career-950: #471108;

	--base-documents-50: #ededfd;
	--base-documents-100: #dadbfa;
	--base-documents-200: #b6b7f5;
	--base-documents-300: #9193f1;
	--base-documents-400: #6d6fec;
	--base-documents-500: #484be7;
	--base-documents-600: #3a3cba;
	--base-documents-700: #2c2d8d;
	--base-documents-800: #1d1f60;
	--base-documents-900: #0f1033;
	--base-documents-950: #08081c;


  /* radiuses */

  --radius-xs: 4rem;
  --radius-sm: 8rem;
  --radius-md: 12rem;
  --radius-lg: 16rem;
  --radius-xl: 20rem;
  --radius-xxl: 24rem;
  --radius-2xl: 28rem;
  --radius-3xl: 32rem;
  --radius-4xl: 40rem;

}
.A_button {
  border-radius: 16rem;
  padding: 12rem 20rem 10rem;
  font-weight: 400;
  font-size: 20rem;
  transition: all 0.3s ease;
}

.A_button:hover {
  cursor: pointer;
}

.A_button_accent {
  color: var(--wb-0);
  background-color: var(--base-500);
}

.A_button_accent:hover {
  box-shadow: 0 0 12rem 0 rgba(143, 88, 250, 0.6);
}

.A_button_accent:active {
  background-color: var(--base-600);
}

.A_button_dark {
  background-color: var(--wb-1000);
  color: var(--wb-0);
}

.A_button_dark:hover {
  background-color: var(--wb-950);
}

.A_button_dark:active {
  background-color: var(--wb-1000);
}

.A_button_light {
  background-color: var(--wb-50);
  color: var(--wb-1000);
}

.A_button_light:hover {
  background-color: var(--wb-100);
}

.A_button_light:active {
  background-color: var(--wb-200);
}

.A_close_button {
  width: 44rem;
  height: 44rem;
  border-radius: 8rem;
  background-color: var(--wb-50);
  background-image: url(images/c7794d4080256f10f53e.svg);
  background-size: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.A_close_button:hover, .A_close_button:active {
  cursor: pointer;
  background-color: var(--wb-900);
  background-image: url(images/ae32584e46cbe85f7530.svg);
}

.A_question_answer {
  border-radius: 16rem;
  padding: 16rem;
  width: 380rem;
  height: 72rem;
  background-color: var(--wb-50);
  color: var(--wb-900);
}

.A_question_answer:hover {
  cursor: pointer;
  box-shadow: 0 0 12px 0 rgba(143, 88, 250, 0.6);
  background-color: var(--base-500);
  color: var(--wb-0);
}

.A_question_answer:active {
  color: var(--wb-0);
  background-color: var(--base-600);
}

.A_question_step {
  color: var(--wb-700);
}

.A_question_title {
  color: var(--wb900);
}

.A_badge {
  border-radius: 20rem;
  padding: 6rem 8rem 4rem;
  width: 39rem;
  font-weight: 400;
  font-size: 16rem;
}

.A_badge_finance {
  background-color: var(--base-finance-100);
  color: var(--base-finance-500);
}

.A_badge_documents {
  background-color: var(--base-documents-100);
  color: var(--base-documents-500);
}

.A_badge_chores {
  background-color: var(--base-chores-100);
  color: var(--base-chores-500);
}

.A_badge_health {
  background-color: var(--base-health-100);
  color: var(--base-health-500);
}

.A_badge_lifestyle {
  background-color: var(--base-lifestyle-100);
  color: var(--base-lifestyle-500);
}

.A_badge_career {
  background-color: var(--base-career-100);
  color: var(--base-career-500);
}

.A_menu_item {
  color: var(--wb-0);
}

.A_menu_item:hover {
  cursor: pointer;
  color: var(--wb-50);
}

.A_input {
  border-radius: 16rem;
  padding: 20rem 16rem 20rem 20rem;
  background-color: var(--wb-0);
  color: var(--wb-900);
  font-size: 16rem;
  width: 430rem;
  height: 56rem;
}

.A_input::placeholder {
  color: rgba(35, 35, 35, 0.3);
}

.A_input:focus {
  outline: none;
}

.A_input_search {
  background-image: url(images/ce7f8e360e5361c9b704.svg);
  background-repeat: no-repeat;
  background-position: 16rem center;
}

.A_tab_categorie {
  border-radius: 16rem;
  padding: 16rem 20rem;
}

.A_tab_categorie:hover {
  cursor: pointer;
}

.A_tab_health {
  background-color: var(--base-health-100);
}

.A_tab_health:hover, .A_tab_health:active {
  background-color: var(--base-health-200);
}

.A_tab_finance {
  background-color: var(--base-finance-100);
}

.A_tab_finance:hover, .A_tab_finance:active {
  background-color: var(--base-finance-200);
}

.A_tab_chores {
  background-color: var(--base-chores-100);
}

.A_tab_chores:hover, .A_tab_chores:active {
  background-color: var(--base-chores-200);
}

.A_tab_documents {
  background-color: var(--base-documents-100);
}

.A_tab_documents:hover, .A_tab_documents:active {
  background-color: var(--base-documents-200);
}

.A_tab_lifestyle {
  background-color: var(--base-lifestyle-100);
}

.A_tab_lifestyle:hover, .A_tab_lifestyle:active {
  background-color: var(--base-lifestyle-200);
}

.A_tab_career {
  background-color: var(--base-career-100);
}

.A_tab_career:hover, .A_tab_career:active {
  background-color: var(--base-career-200);
}










/* ################################################################## */
/* old styles */

.a_btn_primary {
  box-shadow: inset -4rem -4rem 12rem 0 rgba(234, 221, 251, 0.6), inset 4rem 4rem 12rem 0 rgba(234, 221, 251, 0.6);
  border-radius: 40rem;
  padding: 20rem 40rem;
  height: 66rem;
  transition: all .3s;
  background-color: var(--base-500);
  color: var(--base-100);
}

.a_btn_primary:hover {
  background-color: var(--base-400);
  cursor: pointer;
}

.a_test_answer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20rem;
  padding: 20rem;
  width: 377rem;
  height: 100rem;
  background-color: #f5f3ff;
  color: #8F58FA;
  transition: all 0.3s;
}

.a_test_answer:hover {
  background-color: #eee8ff;
  cursor: pointer;
}

.a_test_answer_active {
  background-color: #8F58FA;
  color: #F5F3FF;
}

.a_test_answer_active:hover {
  background-color: #834CED;
}

.a_question_num {
  font-weight: 400;
  font-size: 16rem;
  line-height: 100%;
  color: #a988fd;
}

.a_test_question {
  font-weight: 500;
  font-size: 32rem;
  line-height: 100%;
  color: #8f58fa;
  max-width: 776rem;
}

.a_primary_btn_v2 {
  border-radius: 40rem;
  padding: 20rem 28rem;
  height: 66rem;
  background-color: var(--base-100);
  color: var(--base-600);
  font-weight: 400;
  font-size: 20rem;
  transition: all .3s;
}

.a_primary_btn_v2:hover {
  background-color: var(--base-200);
  cursor: pointer;
}

.a_primary_btn_v2_disabled{
  color: var(--base-300);
  border-radius: 40rem;
  padding: 20rem 40rem;
  height: 66rem;
  font-weight: 400;
  font-size: 20rem;
  transition: all .3s;
  cursor: not-allowed;
}

.a_menu_item {
  font-weight: 400;
  font-size: 24rem;
  line-height: 133%;
  color: var(--base-100);
  transition: all .3s;
}

.a_menu_item:hover {
  color: var(--base-200);
}

.a_tag {
  padding: 8rem 12rem;
  width: fit-content;
  border-radius: var(--radius-4xl);
  background-color: var(--base-100);
  color: var(--base-500);
  box-shadow: inset -2px -2px 8px 0 var(--base-300), inset 2px 2px 8px 0 var(--base-300);
}

.a_tag:hover {
  cursor: pointer;
}

.a_social-icon {
  width: 48rem;
  height: 48rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
  background: rgba(234, 221, 251, 0.3);
  box-shadow: inset 4px 4px 8px 0 var(--base-100), inset -4px -4px 8px 0 var(--base-100);
  transition: all ease .3s;
}

.a_social-icon:hover {
  background: rgba(234, 221, 251, 0.5);
}

.a_search-mob-icon {
  border-radius: var(--radius-4xl);
  background-color: var(--base-100);
  width: 60rem;
  height: 60rem;
  display: none;
  justify-content: center;
  align-items: center;
}
.O_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.O_question_block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32rem;
  border-radius: 24rem;
  padding: 64rem 40rem 40rem;
  background-color: var(--wb-0);
  width: 856rem;
  height: 500rem;
  backdrop-filter: blur(20rem);
  -webkit-backdrop-filter: blur(20rem);
}

.O_test_result {
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32rem;
  width: 856rem;
  height: 500rem;
  backdrop-filter: blur(20rem);
  -webkit-backdrop-filter: blur(20rem);
}

.O_tab_section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20rem;
  width: 476rem;
  height: 306rem;
}

/* ################ */

.o_footer {
  display: flex;
  padding: 32rem 72rem;
  width: 100%;
  height: 204rem;
  background-color: var(--base-500);
  box-shadow: inset -10rem -10rem 40rem 0 rgba(212, 184, 246, 0.6), inset 10rem 10rem 40rem 0 rgba(212, 184, 246, 0.6);
  justify-content: center;
  align-items: center;
  background-image: url(images/596fec85f468bd6d9543.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.o_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.o_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 128rem;
}
/* d */
.M_answer_options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8rem;
  max-width: 776rem;
}

.M_question_header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
}

.M_tab_group {
  display: flex;
  gap: 8rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.M_map {
  width: 405rem;
  height: 453rem;
  background: url(images/dfcabaaf1426ad9fb606.svg) no-repeat center / 70%;
}

.M_guide_card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
  border-radius: 24rem;
  padding: 16rem;
  width: 416rem;
  height: 372rem;
}



/* older styles */
/* ###################################### */

.m_nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32rem;
}

.m_footer-content {
  display: flex;
  width: 1298rem;
  justify-content: space-between;
  align-items: center;
}

.m_header-content {
  display: flex;
  width: 1286rem;
  justify-content: space-between;
  align-items: center;
}

.m_desktop-nav {
  display: flex;
  gap: 20rem;
}

.m_result_chart_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 467rem;
  height: 447rem;
  background-image: url(images/548d68310c41c070d884.svg);
  background-size: contain;
  background-repeat: no-repeat;
}


.c_filter_tags {
  display: flex;
  gap: 16rem;
}
* {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1440);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'TTCommons', Arial, Helvetica, sans-serif;
}

/* tablets */
@media (max-width: 1024px) {
  html {
    font-size: calc(100vw / 768);
  }
}

/* mobile */
@media (max-width: 768px) {
  html {
    font-size: calc(100vw / 375);
   }
}

/* large screens */
@media (min-width: 1920px) {
  html {
    font-size: 1px;
  }
}
/* INDEX */

.index-body .o_header {
  position: absolute;
  top: 24rem;
}

.index-body .o_main {
  background-image: url(images/4367061a84e7cb5a3c6e.svg);
  background-size: 107%;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-img {
  width: 70rem;
}

.index-hero-section {
  box-shadow: inset -10rem -10rem 40rem 0 rgba(212, 184, 246, 0.6),
    inset 10rem 10rem 40rem 0 rgba(212, 184, 246, 0.6);
  background-color: var(--base-500);
  width: 100%;
  height: 800rem;
  background-image: url(images/596fec85f468bd6d9543.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.index-float-q {
  position: absolute;
  font-weight: 400;
  font-size: 19rem;
  line-height: 100%;
  text-align: center;
  color: var(--base-200);
}

@keyframes float {
	0% {
		transform: translatey(0rem);
	}
	50% {
		transform: translatey(-20rem);
	}
	100% {
		transform: translatey(0rem);
	}
}

@keyframes float2 {
	0% {
		transform: translatex(0rem);
	}
	50% {
		transform: translatex(-20rem);
	}
	100% {
		transform: translatex(0rem);
	}
}

.index-float-q:nth-of-type(1) {
  top: 172rem;
  left: 145rem;
  transform: rotate(-30deg);
  animation: float 6s ease-in-out infinite;
}

.index-float-q:nth-of-type(2) {
  top: -58rem;
  left: 313rem;
  transform: rotate(-30deg);
  animation: float2 6s ease-in-out infinite;
}

.index-float-q:nth-of-type(3) {
  top: -72rem;
  left: 882rem;
  transform: rotate(8deg);
  animation: float 6s ease-in-out infinite;
}

.index-float-q:nth-of-type(4) {
  top: 177rem;
  left: 1026rem;
  transform: rotate(-30deg);
  animation: float2 6s ease-in-out infinite;
}



.index-hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36rem;
  margin-top: 160rem;
}

.index-hero-content img {
  width: 299rem;
}

.index-hero-content .h2_medium {
  color: var(--base-0);
  text-align: center;
  max-width: 988rem;
}

.index-about-section .h2_medium {
  color: var(--base-500);
  text-align: center;
}

/* ARTICLES */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 64rem;
  padding: 16rem 16rem 16rem 32rem;
  width: 1360rem;
  height: 95rem;
  background-color: #fff;
  margin-top: 40rem;
  margin-bottom: 79rem;
}

.mobile-nav,
.dropdown-menu,
.dropdown-search {
  display: none;
}

.nav-container {
  display: flex;
  gap: 28rem;
}

.nav-container .text_l {
  color: var(--grey);
}

.nav-container .text_l:hover {
  color: var(--dark-grey);
}

.articles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  color: var(--dark-grey);
}

.nav-search-container {
  display: flex;
  gap: 8rem;
}

.search-input {
  border-radius: 64rem;
  padding: 20rem 16rem 20rem 44rem;
  width: 500rem;
  height: 63rem;
  background-color: var(--light-grey);
  border: none;
  font-size: 18rem;
  background-image: url(images/ce7f8e360e5361c9b704.svg);
  background-repeat: no-repeat;
  background-position: 20rem center;
  background-size: 15rem;
}

.search-button {
  padding: 20rem 40rem;
  width: 133rem;
  height: 63rem;
}

.articles-cover {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80rem;
}

.articles-cover .title_h1 {
  max-width: 569rem;
  text-align: center;
  margin-bottom: 40rem;
}

.articles-cover .text_l {
  max-width: 668rem;
  text-align: center;
}

.articles-cover img {
  position: absolute;
}

.articles-cover img:first-of-type {
  transform: rotate(-10deg);
  top: 5rem;
  left: 70rem;
  width: 233rem;
}

.articles-cover img:last-of-type {
  transform: rotate(18deg);
  top: 5rem;
  left: 1070rem;
  width: 242rem;
}

.articles-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16rem;
  margin-bottom: 80rem;
}

.articles-category {
  position: relative;
  flex-basis: 30%;
  border-radius: 28rem;
  padding: 28rem;
  width: 443rem;
  height: 200rem;
  background-color: white;
}

.articles-category img {
  position: absolute;
}

.articles-category .health-img {
  transform: rotate(15deg);
  top: 27rem;
  left: 273rem;
  width: 150rem;
}

.articles-category .finance-img {
  top: 27rem;
  left: 273rem;
  width: 138rem;
}

.articles-category .routine-img {
  transform: rotate(15deg);
  top: 30rem;
  left: 267rem;
  width: 154rem;
}

.articles-category .career-img {
  top: 32rem;
  left: 280rem;
  width: 134rem;
}

.articles-category .docs-img {
  top: 31rem;
  left: 293rem;
  width: 122em;
}

.articles-category .lifestyle-img {
  top: 40rem;
  left: 273rem;
  width: 123rem;
}

.articles-category .text_m {
  max-width: 255rem;
  color: var(--grey);
}

.articles-category .title_h5 {
  margin-bottom: 16rem;
}

.latest-articles-container {
  display: flex;
  gap: 16rem;
  margin-bottom: 77rem;
}

.latest-articles .title_h1 {
  text-align: center;
  margin-bottom: 32rem;
}

.latest-article {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12rem;
  border-radius: 28rem;
  padding: 16rem;
  width: 442rem;
  height: 495rem;
  background-color: white;
}

.latest-article .text_m {
  color: var(--grey);
}

.latest-article .text_l_semibold {
  color: var(--dark-grey);
}

.article-cover-tag {
  border-radius: 24rem;
  padding: 8rem 12rem;
  height: 33rem;
  position: absolute;
  background-color: white;
  top: 28rem;
  left: 28rem;
}


/* ABOUT US */

.about {
  background: linear-gradient(138deg, #f4efff 0%, #ffeeed 100%);
}

.about-main {
  margin-top: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heading-container .title_h1 {
  max-width: 1088rem;
  text-align: center;
}

.heading-container .text_l {
  color: var(--grey);
  text-align: center;
  max-width: 476rem;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 120rem;
  gap: 40rem;
}

@media screen and (max-width: 1199px) {
  .h2_medium {
    font-size: 48rem;
    max-width: 706rem;
  }
}

@media screen and (max-width: 780px) {

  .index-float-q,
  .a_search_input {
    display: none;
  }

  .index-hero-content .h2_medium {
    font-size: 32rem;
    line-height: 32rem;
  }

  .a_search-mob-icon {
    display: flex;
  }

  .m_header-content {
    max-width: 350rem;
  }

  .index-about-section .h2_medium {
    font-size: 32rem;
    line-height: 32rem;
  }

  .index-about-cards {
    flex-wrap: wrap;
    max-width: 350rem;
  }
  .index-about-card,
  .index-about-card:nth-of-type(2),
  .index-about-card:nth-of-type(1) {
    flex-basis: 100%;
  }

  .index-about-card .title_h5 {
    font-size: 24rem;
    line-height: 24rem;
  }

  .index-about-card .text_m {
    font-size: 16rem;
    line-height: 16rem;
  }
  .index-about-card:nth-of-type(3) {
    background-position: center, 80% 300%;
  }

  .index-text-block {
    max-width: 350rem;
  }
  .index-text-block .h2_medium {
    font-size: 32rem;
    line-height: 32rem;
    max-width: 340rem;
    color: var(--base-0);
  }
  .release-tag {
    left: 212rem;
    top: 323rem;
  }
  .index-articles-section {
    max-width: 340rem;
  }
  .h2_medium {
    font-size: 32rem;
    line-height: 32rem;
    max-width: 340rem;
    text-align: center;
    color: var(--base-500);
  }

  .index-article-card .title_h5 {
    font-size: 24rem;
    line-height: 24rem;
  }
  .index-article-card .img-container {
    border-radius: var(--radius-2xl);
    width: 350rem;
    height: 314rem;
  }
  .index-subscribe-section {
    max-width: 350rem;
  }
  .index-subscribe-section .title_h3 {
    max-width: 340rem;
    font-size: 32rem;
    line-height: 32rem;
  }
  .index-input-container .a_input,
  .a_primary_btn_v2 {
    width: 319rem;
  }
  .m_footer-content {
    width: 209rem;
    flex-direction: column;
    justify-content:  center ;
  align-items: center;
  gap: 24rem;
  }
  .footer-logo-container p:first-of-type{
    order: 1;
  }

  .social-info {
    order: 3;
  }
  .o_footer {
    height: 352rem;
  }
  .footer-logo-container .text_m {
    order: 2;
  }
  .creators {
    order: 4;
    justify-content: center;
    align-items: center;
  }
  .footer-logo-container .text_m  {
    line-height: 20rem
  }
  .creators .text_m {
    font-size: 16rem;
    line-height: 16rem;
  }
  .social-info .text_m {
    font-size: 16rem;
    line-height: 16rem;
  }
}

body {
  color: var(--base-500);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  position: relative;
  width: 100%;
  height: 800rem;
  background-color: var(--base-500);
  padding: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -20rem -20rem 50rem 0 rgba(212, 184, 246, 0.6),
    inset 20rem 20rem 50rem 0 rgba(212, 184, 246, 0.6);
  margin-bottom: 128rem;
  background-image: url(images/596fec85f468bd6d9543.svg);
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
}

header .title_h1 {
  max-width: 416rem;
  text-align: center;
}

.mapgraph {
  width: 80%;
  height: 70%;
  position: absolute;
  /* animation: bg 25s ease infinite; */
  background-image: url(images/9860eaeda8f8894864b9.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes bg {
  0% {
    background-image: url(images/9860eaeda8f8894864b9.svg);
  }
  15% {
    background-image: url(images/9860eaeda8f8894864b9.svg);
  }
  20% {
    background-image: url(images/c7ca8fe4973fc9342e87.svg);
  }
  35% {
    background-image: url(images/c7ca8fe4973fc9342e87.svg);
  }
  40% {
    background-image: url(images/ee8c5637fedcc8b6cc1c.svg);
  }
  55% {
    background-image: url(images/ee8c5637fedcc8b6cc1c.svg);
  }
  60% {
    background-image: url(images/1213d3a61b79c845f166.svg);
  }
  75% {
    background-image: url(images/1213d3a61b79c845f166.svg);
  }
  80% {
    background-image: url(images/8aaa47371712e819a4ae.svg);
  }
  95% {
    background-image: url(images/8aaa47371712e819a4ae.svg);
  }
  100% {
    background-image: url(images/9860eaeda8f8894864b9.svg);
  }
}

main {
  display: flex;
  width: 1296rem;
  justify-content: space-between;
  margin-bottom: 128rem;
}

.style-nav {
  height: 235rem;
  box-shadow: inset -5rem -5rem 20rem 0 var(--base-500),
    inset 5rem 5rem 20rem 0 var(--base-500);
  background: var(--base-0);
  position: sticky;
  width: 300rem;
  padding: 28rem;
  color: var(--base-500);
  border-radius: var(--radius-2xl);
  top: 45rem;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

nav a {
  transition: all 0.3s;
}

.a_menu_item:hover {
  color: var(--base-200);
}

.title_h3 {
  color: var(--base-500);
  max-width: 916rem;
}

.contents {
  max-width: 855rem;
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.intro-text-block {
  display: flex;
  gap: 36rem;
}

.intro-text {
  color: var(--base-500);
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.intro-text:first-of-type {
  max-width: 448rem;
}

.intro-text:last-of-type {
  max-width: 371rem;
}

.intro-character {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.intro-character img {
  width: 100%;
}

.intro-mission {
  max-width: 855rem;
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.intro-values {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.values-cards {
  display: flex;
  gap: 24rem;
}

.value-card {
  padding: 28rem;
  border-radius: var(--radius-2xl);
  box-shadow: inset -5rem -5rem 20rem 0 rgba(150, 72, 231, 0.6),
    inset 5rem 5rem 20rem 0 rgba(150, 72, 231, 0.6);
  display: flex;
  flex-direction: column;
  gap: 24rem;
}

.logo-variants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 40rem;
  width: 855rem;
  height: 441rem;
  box-shadow: inset -10rem -10rem 40rem 0 rgba(150, 72, 231, 0.6),
    inset 10rem 10rem 40rem 0 rgba(150, 72, 231, 0.6);
  gap: 50rem;
  padding: 40rem;
}

.logo-vars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40rem;
}

.logo-vars-category {
  display: flex;
  gap: 24rem;
}

.logo-vars-category div:first-of-type {
  border-radius: 28rem;
  padding: 28rem;
  width: 415rem;
  height: 292rem;
  box-shadow: inset -5rem -5rem 20rem 0 rgba(255, 174, 0, 0.6),
    inset 5rem 5rem 20rem 0 rgba(255, 174, 0, 0.6);
  background: #fffdea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  color: #ea9400;
}
.logo-vars-category div:last-of-type {
  border-radius: 28rem;
  padding: 28rem;
  width: 415rem;
  height: 292rem;
  box-shadow: inset -5rem -5rem 20rem 0 rgba(233, 75, 152, 0.6),
    inset 5rem 5rem 20rem 0 rgba(233, 75, 152, 0.6);
  background: #fdf2f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  color: #e94b98;
}

.logo-section {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.h2_medium {
  margin-top: 88rem;
}

.logo-text-block {
  display: flex;
  gap: 24rem;
}

.logo-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16rem;
}

.logo-example-block {
  width: 100%;
  background-image: url(images/e8f448eb3c9f0b57c511.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 441rem;
  border-radius: 40rem;
  box-shadow: inset -10rem -10rem 40rem 0 var(--base-100),
    inset 10rem 10rem 40rem 0 var(--base-100);
}

.color-palette {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.color-palette .h2_medium {
  margin-bottom: 40rem;
}

.main-palette {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
.text-block {
  display: flex;
  gap: 24rem;
}

.palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24rem;
}
.palette div {
  width: 415rem;
  height: 250rem;
  border-radius: 28rem;
  padding: 28rem;
  display: flex;
  justify-content: flex-start;
  align-items: end;
}

.palette div:nth-of-type(1) {
  border: 1rem solid var(--base-500);
}

.palette div:nth-of-type(2) {
  background: var(--base-500);
  color: var(--base-100);
}

.palette div:nth-of-type(3) {
  background: var(--base-100);
}

.palette div:nth-of-type(4) {
  background: var(--base-200);
}

.category-palette {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.palette-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}

.palette-blocks div {
  padding: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 28rem;
  width: 278rem;
}

.palette-blocks div:nth-of-type(1) {
  background-color: #e94b98;
  color: var(--base-0);
  height: 258rem;
}

.palette-blocks div:nth-of-type(2) {
  color: var(--base-0);
  background-color: #ea9400;
  height: 258rem;
}
.palette-blocks div:nth-of-type(3) {
  color: var(--base-0);
  background-color: #64b032;
  height: 258rem;
}
.palette-blocks div:nth-of-type(4) {
  color: #e94b98;
  height: 188rem;
  box-shadow: inset 8rem 8rem 16rem 0 rgba(233, 75, 152, 0.25),
    inset -8rem -8rem 16rem 0 rgba(233, 75, 152, 0.25);
  background: #fdf2f8;
}
.palette-blocks div:nth-of-type(5) {
  height: 188rem;
  box-shadow: inset 8rem 8rem 16rem 0 rgba(218, 149, 0, 0.25),
    inset -8rem -8rem 12rem 0 rgba(218, 149, 0, 0.25);
  background: #fffdea;
  color: #ffae00;
}
.palette-blocks div:nth-of-type(6) {
  height: 188rem;
  box-shadow: inset 8rem 8rem 16rem 0 rgba(100, 176, 50, 0.25),
    inset -8rem -8rem 12rem 0 rgba(100, 176, 50, 0.25);
  background: #f3faeb;
  color: #64b032;
}
.palette-blocks div:nth-of-type(7) {
  height: 258rem;
  background: #09a0ee;
  color: var(--base-0);
}
.palette-blocks div:nth-of-type(8) {
  height: 258rem;
  color: var(--base-0);
  background: #484be7;
}
.palette-blocks div:nth-of-type(9) {
  height: 258rem;
  color: var(--base-0);
  background: #f4583f;
}
.palette-blocks div:nth-of-type(10) {
  height: 188rem;
  box-shadow: inset 8rem 8rem 16rem 0 rgba(9, 160, 238, 0.25),
    inset -8rem -8rem 16rem 0 rgba(9, 160, 238, 0.25);
  background: #fdf2f8;
  color: #09a0ee;
}
.palette-blocks div:nth-of-type(11) {
  height: 188rem;
  box-shadow: inset 8rem 8rem 16rem 0 rgba(72, 75, 231, 0.25),
    inset -8rem -8rem 12rem 0 rgba(72, 75, 231, 0.25);
  background: #f5f3ff;
  color: #484be7;
}
.palette-blocks div:nth-of-type(12) {
  height: 188rem;
  box-shadow: inset 8rem 8rem 16rem 0 rgba(244, 88, 63, 0.25),
    inset -8rem -8rem 12rem 0 rgba(244, 88, 63, 0.25);
  background: #fef4f2;
  color: #f4583f;
}

.typography {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.typo-example {
  box-shadow: inset -10rem -10rem 40rem 0 var(--base-100),
    inset 10rem 10rem 40rem 0 var(--base-100);
  background: var(--base-500);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 121rem;
  align-items: center;
  color: var(--base-100);
  border-radius: 40rem;
  padding: 40rem;
  width: 855rem;
  height: 441rem;
}

.typo-example p:last-of-type {
  font-size: 100rem;
  line-height: 80rem;
}

.graphics {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.text-block p {
  max-width: 412rem;
}

.graph-block-1 {
  width: 855rem;
  height: 328rem;
  background-image: url(images/597603aed34698d344dd.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.graph-block-2 {
  width: 415rem;
  height: 470rem;
  background-image: url(images/ee11ad86ef33ca57c24d.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.graph-block-3 {
  width: 415rem;
  height: 470rem;
  background-image: url(images/2d8b27e4c6abb50a0cf6.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.graph-blocks {
  display: flex;
  gap: 24rem;
}
footer {
  width: 100%;
  box-shadow: inset -10rem -10rem 40rem 0 rgba(212, 184, 246, 0.6),
    inset 10rem 10rem 40rem 0 rgba(212, 184, 246, 0.6);
  background: var(--base-500);
  height: 416rem;
  padding: 64rem 0rem 32rem;
  background-image: url(images/596fec85f468bd6d9543.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  display: flex;
  color: var(--base-100);
  font-size: 24rem;
  gap: 24rem;
}

.social-links {
  gap: 24rem;
}

.social-links .title_h4 {
  max-width: 416rem;
  color: var(--base-100);
  text-align: center;
}

.footer-links {
  display: flex;
  gap: 8rem;
}

.a_social-icon {
  width: 80rem;
  height: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
  background: rgba(234, 221, 251, 0.3);
  box-shadow: inset 4px 4px 8px 0 var(--base-100),
    inset -4px -4px 8px 0 var(--base-100);
  transition: all ease 0.3s;
}

.a_social-icon:hover {
  background: rgba(234, 221, 251, 0.5);
}

@media screen and (max-width: 1280px) {
  html {
    font-size: calc(1vw / 7.6);
  }

  main {
    width: 696rem;
  }

  .style-nav {
    display: none;
  }

  .intro {
    max-width: 696rem;
  }

  .title_h3 {
    font-size: 40rem;
    line-height: 40rem;
  }

  .values-cards {
    flex-wrap: wrap;
  }

  .value-card {
    width: 333rem;
  }

  .logo-variants {
    width: 696rem;
  }

  .logo-example,
  .main-palette,
  .category-palette,
  .graph-blocks {
    width: 696rem;
  }

  .text-block p {
    max-width: 333rem;
  }

  .logo-example-block {
    height: 359rem;
  }

  .palette div {
    width: 333rem;
  }

  .palette-blocks div {
    width: 216rem;
  }

  .typo-example,
  .graph-block-1 {
    width: 696rem;
  }

  .logo-text-block p {
    max-width: 333rem;
  }

  .logo-vars-category div {
    max-width: 333rem;
  }
}

@media screen and (max-width: 780px) {
  html {
    font-size: calc(1vw / 3.7);
  }

  main {
    width: 351rem;
  }
  header {
    height: 600rem;
  }

  header .title_h1 {
    font-size: 40rem;
    line-height: 40rem;
    max-width: 217rem;
  }

  .title_h3 {
    font-size: 32rem;
    max-width: 351rem;
  }
  .intro-text-block {
    flex-direction: column;
    width: 351rem;
  }
  .intro-character img {
    width: 351rem;
  }
  .title_h5 {
    font-size: 24rem;
  }
  .title_h4 {
    line-height: 20rem;
    font-size: 20rem;
  }

  .values-cards {
    flex-direction: column;
  }

  .intro-mission {
    max-width: 351rem;
  }
  .h2_medium {
    font-size: 32rem;
    line-height: 32rem;
  }

  .logo-text-block {
    flex-direction: column;
    max-width: 351rem;
  }
  .text_m {
    font-size: 16rem;
    line-height: 16rem;
  }

  .logo-variants {
    width: 351rem;
    height: 474rem;
    padding: 32rem;
    gap: 16rem;
  }
  .logo-vars {
    flex-direction: column;
    gap: 12rem;
  }

  .logo-vars img {
    width: 157rem;
  }

  .logo-vars-category {
    flex-direction: column;
  }
  .logo-vars-category div:first-of-type {
    width: 351rem;
  }
  .logo-vars-category div:last-of-type {
    width: 351rem;
  }
  .logo-example-block {
    width: 351rem;
  }
  .logo-example {
    width: 351rem;
  }
  .palette {
    flex-direction: column;
  }
  .text-block {
    flex-direction: column;
  }
  .text-block .text_m {
    max-width: 351rem;
  }
  .palette-blocks {
    flex-direction: column;
  }
  .palette-blocks div {
    width: 351rem;
  }
  .typo-example {
    width: 351rem;
    height: 330rem;
  }
  .typo-example p:last-of-type {
    font-size: 56rem;
  }
  .graph-block-1 {
    width: 351rem;
    height: 416rem;
    background-image: url(images/c163e8ed305939283449.svg);
  }
  .graph-block-2,
  .graph-block-3 {
    width: 351rem;
  }
  .graph-blocks {
    flex-direction: column;
  }
  .social-links .title_h4 {
    max-width: 351rem;
  }
  .footer-nav {
    flex-direction: column;
  }
  footer {
    width: 375rem;
    height: 490rem;
  }
  .footer-content {
    gap: 30rem;
  }
}

