.O_question_block {
  position: relative;
}

.A_close_button {
  position: absolute;
  top: 20rem;
  left: 792rem;
}

.result_recs_list {
  list-style-type: disc;
  margin-left: 15rem;
}

.finance_span {
  color: var(--base-finance-500);
}

.life_span {
  color: var(--base-lifestyle-500);
}

.home_span {
  color: var(--base-chores-500);
}

.docs_span {
  color: var(--base-documents-500);
}

.health_span {
  color: var(--base-health-500);
}

.career_span {
  color: var(--base-career-500);
}

.tab_content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20rem;
  width: 22.6vw;
}

.radar_block {
  position: relative;
  width: 405px;
  height: 453px;
  background-image: url(./images/map_bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.radar-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radar-shape svg {
  width: 100%;
  height: 100%;
  display: block;
}

.chart_caption {
  position: absolute;
  color: var(--wb-0);
}

.chart_caption:nth-of-type(1) {
  top: 55rem;
  left: 226rem;
}

.chart_caption:nth-of-type(2) {
  top: 172rem;
  left: 477rem;
}

.chart_caption:nth-of-type(3) {
  top: 434rem;
  left: 431rem;
}

.chart_caption:nth-of-type(4) {
  top: 538rem;
  left: 219rem;
}

.chart_caption:nth-of-type(5) {
  top: 434rem;
  left: 11rem;
}

.chart_caption:nth-of-type(6) {
  top: 166rem;
  left: 11rem;
}

/* ############################################################### */
/* ############################################################### */
/* ############################################################### */

.index-float-q {
  display: grid;
  grid-template-areas: 'stack';
  place-items: center;
}

.index-float-q p, .index-float-q svg {
  grid-area: stack;
}

.index-about-section {
  width: 1296rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40rem;
}

.index-about-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.index-about-card {
  display: flex;
  flex-direction: column;
  border-radius: 28rem;
  padding: 28rem;
  width: 415rem;
  height: 292rem;
  justify-content: flex-end;
  gap: 16rem;
  overflow: hidden;
}

.index-about-card:nth-of-type(1) {
  color: var(--base-100);
  background-color: var(--base-500);
  box-shadow: inset -5rem -5rem 20rem 0 var(--base-100),
    inset 5rem 5rem 20rem 0 var(--base-100);
  background-image: url(./images/bg_pattern.svg),
    url(./images/index-graph-1.svg);
  background-position: center, 165% -26%;
  background-repeat: no-repeat;
  background-size: 150%, 105%;
}

.index-about-card:nth-of-type(3) {
  color: var(--base-100);
  background-color: var(--base-500);
  box-shadow: inset -5rem -5rem 20rem 0 var(--base-100),
    inset 5rem 5rem 20rem 0 var(--base-100);
  background-image: url(./images/bg_pattern.svg),
    url(./images/index-graph-2.svg);
  background-position: center, 80% 4%;
  background-repeat: no-repeat;
  background-size: 150%, 120%;
}

.index-about-card:nth-of-type(2) {
  color: var(--base-500);
  background-color: var(--base-0);
  box-shadow: inset -5rem -5rem 20rem 0 rgba(150, 72, 231, 0.6),
    inset 5rem 5rem 20rem 0 rgba(150, 72, 231, 0.6);
  background-image: url(./images/bg_pattern_2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
}

.index-text-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24rem;
  width: 1296rem;
  height: 464rem;
  border-radius: 40rem;
  color: var(--base-0);
  background-color: var(--base-500);
  box-shadow: inset -10rem -10rem 40rem 0 rgba(212, 184, 246, 0.6),
    inset 10rem 10rem 40rem 0 rgba(212, 184, 246, 0.6);
  background-image: url(./images/bg_pattern.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.index-text-block .h2_medium {
  text-align: center;
}

.index-text-block .text_m {
  max-width: 600rem;
  text-align: center;
}

.release-tag {
  color: var(--base-500);
  box-shadow: inset -2rem -2rem 8rem 0 var(--base-300),
    inset 2rem 2rem 8rem 0 var(--base-300);
  border-radius: 40rem;
  padding: 8rem 12rem;
  width: 66rem;
  height: 32rem;
  transform: rotate(10deg);
  background-color: var(--base-100);
  position: absolute;
  top: 277rem;
  left: 689rem;
}

.index-articles-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40rem;
  width: 1296rem;
}

.index-aticles-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.index-article-card {
  width: 416rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.index-article-card .img-container {
  border-radius: var(--radius-2xl);
  width: 416rem;
  height: 460rem;
  box-shadow: inset -10rem -10rem 30rem 0 var(--base-100),
    inset 10rem 10rem 30rem 0 var(--base-100);
  margin-bottom: 12rem;
}

.index-article-card .title_h5 {
  margin-top: 20rem;
  color: var(--base-500);
}

.index-article-card:nth-of-type(1) .img-container {
  background-image: url(./images/articles_covers/magnesium.webp);
  background-repeat: no-repeat;
  background-size: 100%;
    background-position: center;
}

.index-article-card:nth-of-type(2) .img-container {
  background-image: url(./images/articles_covers/documents.webp);
  background-size: 100%;
    background-position: center;
}

.index-article-card:nth-of-type(3) .img-container {
  background-image: url(./images/articles_covers/shopping.webp);
  background-repeat: no-repeat;
  background-size: 100%;
    background-position: center;
}

.index-subscribe-section {
  background-color: var(--base-500);
  box-shadow: inset -10rem -10rem 40rem 0 rgba(212, 184, 246, 0.6),
    inset 10rem 10rem 40rem 0 rgba(212, 184, 246, 0.6);
  width: 1296rem;
  height: 412rem;
  border-radius: var(--radius-4xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80rem 0rem;
  gap: 28rem;
  margin-bottom: 80rem;
  background-image: url(./images/bg_pattern.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.index-subscribe-section .title_h3 {
  color: var(--base-0);
  text-align: center;
  max-width: 600rem;
}

.index-input-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.index-input-container .a_input,
.a_primary_btn_v2 {
  width: 430rem;
}

.social-links {
  display: flex;
  gap: 8rem;
}

.social-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--base-0);
  gap: 16rem;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  color: var(--base-0);
}

.footer-logo-container p:first-of-type {
  font-size: 84rem;
  font-weight: 500;
  line-height: 100%;
}

.footer-logo-container .text_m {
  text-align: center;
}

.creators {
  color: var(--base-0);
  display: flex;
  flex-direction: column;
  align-items: end;
}

@media screen and (min-width: 1920px) {
  html {
    font-size: calc(1vw / 19.2);
  }
  .index-float-q:nth-of-type(1) {
    left: 425rem;
  }

  .index-float-q:nth-of-type(2) {
    left: 573rem;
  }

  .index-float-q:nth-of-type(3) {
    left: 1132rem;
  }

  .index-float-q:nth-of-type(4) {
    left: 1266rem;
  }
}

@media (max-width: 1199px) {
    .index-float-q:nth-of-type(1) svg {
    width: 285rem;
    height: 169rem;
  }

  .index-float-q:nth-of-type(2) svg {
    width: 220rem;
    height: 160rem;
  }

  .index-float-q:nth-of-type(3) svg {
    width: 226rem;
    height: 220rem;
  }

  .index-float-q:nth-of-type(4) svg {
    width: 235rem;
    height: 169rem;
  }

  .index-float-q:nth-of-type(1) {
    top: 172rem;
    left: -25rem;
    transform: rotate(-52deg);
  }

  .index-float-q:nth-of-type(2) {
    top: -58rem;
    left: 48rem;
    transform: rotate(-45deg);
  }

  .index-float-q:nth-of-type(3) {
    top: -73rem;
    left: 521rem;
    transform: rotate(8deg);
  }

  .index-float-q:nth-of-type(3) p {
    top: 92rem;
    left: 16rem;
  }
  .index-float-q:nth-of-type(4) {
    top: 179rem;
    left: 516rem;
    transform: rotate(-30deg);
  }
  .m_header-content {
    width: 720rem;
  }
  .nav-items {
    display: flex;
    gap: 16rem;
  }

  .index-hero-content .h2_medium {
    max-width: 600rem;
  }

  .index-about-cards {
    flex-wrap: wrap;
    max-width: 696rem;
    gap: 24rem;
  }

  .index-about-card:nth-of-type(1),
  .index-about-card:nth-of-type(2) {
    flex-basis: 48%;
  }

  .index-about-card:nth-of-type(3) {
    flex-basis: 100%;
    background-position: center, 80% -90%;
  }

  .index-text-block {
    width: 696rem;
  }

  .release-tag {
    left: 388rem;
  }

  .index-aticles-cards {
    flex-wrap: wrap;
    max-width: 696rem;
    gap: 24rem;
  }

  .index-article-card {
    flex-basis: 48%;
    max-width: 334rem;
    max-height: 460rem;
  }
  .index-article-card:first-of-type {
    max-height: 494rem;
  }

  .index-article-card .img-container {
    max-width: 334rem;
    max-height: 460rem;
  }

  .index-subscribe-section {
    max-width: 696rem;
  }
}

@media (max-width: 768px) {

}